.crm-absence_type-form-block .crm-section .label { width: 35% }

.crm-absence_type-form-block .crm-section .content { margin-left: 40% }

.crm-absence_type-form-block .toil-option,
.crm-absence_type-form-block .carry-forward-option,
.crm-absence_type-form-block .toil-expiration,
.crm-absence_type-form-block .carry-forward-expiration-duration,
.crm-absence_type-form-block .carry-forward-expiration-date { display: none; }

/* Color picker customizations */
.crm-absence_type-form-block .sp-replacer { padding: 2px; }
.crm-absence_type-form-block .sp-preview { width: 15px; height: 15px; }

.crm-absence_type-form-block .sp-dd {
    height: 0;
    line-height: 15px;
    font-size: 9px;
}

#crm-container .crm-leave-and-absences-form-block .crm-submit-buttons .crm-button-type-next,
#crm-container .crm-leave-and-absences-form-block .crm-submit-buttons .crm-button-type-cancel { float: right !important; }

.crm-work-pattern-form-block .ui-tabs.ui-widget-content { background: none; }

.work-pattern-calendar .number-of-weeks { padding: 15px 0 15px 0; }

.work-pattern-calendar .work-pattern-week {
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 15px 0 15px 0;
  margin-bottom: 15px;
}

.work-pattern-calendar .work-pattern-week.hidden-week { display: none; }

.work-pattern-calendar .work-pattern-week .week-number {
  float: left;
  padding: 5px 0 15px 5px;
  font-weight: bold;
}

.work-pattern-calendar .work-pattern-week .week-days {
  table-layout: fixed;
}

.work-pattern-calendar .work-pattern-week .week-hours {
  float: right;
  padding: 5px 5px 15px 0;
}

.work-pattern-calendar .work-pattern-week .week-days td { padding: 5px 10px 5px 10px; }

#bootstrap-theme .work-pattern-calendar .work-pattern-week .week-days input {
  width: 100%;
  padding: 5px;
  margin: 2px;
  text-align: center;
}

#bootstrap-theme .work-pattern-calendar .work-pattern-week .week-days select {
  width: 100%;
}

.work-pattern-calendar .work-pattern-week .week-hours .number-of-hours {font-weight: bold;}

.work-pattern-calendar .work-pattern-week .week-days .hours-row td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.work-pattern-calendar .work-pattern-week .week-days .hours-row td:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.entitlement-calculation-filters {
  text-align: center;
  padding: 15px 0;
}

.entitlement-calculation-filters .override-filters label {
  display: inline-block;
}

.entitlement-calculation-filters .override-filters label:before {
  display: none;
}

.entitlement-calculation-filters .absence-type-filter {
  display: inline;
  margin-right: 10px;
}

.entitlement-calculation-filters .col-sm-4:last-child {
  text-align: right;
}

.entitlement-calculation-list .proposed-entitlement-header .title {
  width: 65%;
  float: left;
}

.entitlement-calculation-list .proposed-entitlement-header .actions {
  float: right;
}

.entitlement-calculation-list tr.hidden {
  display: none;
}

.entitlement-calculation-list .absence-type {
  display: inline-block;
  color: #fff;
  padding: 5px;
}

.entitlement-calculation-list .proposed-entitlement .overridden-proposed-entitlement {
  display: none;
  width: 24px;
}

.entitlement-calculation-list .borderless-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.entitlement-calculation-list .add-comment {
  font-size: 1.1em;
}

.entitlement-calculation-list .comment-text {
  display: none;
}

#add-comment-dialog {
  display: none;
}

#add-comment-dialog .calculation_comment {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.crm-container .CRM_HRLeaveAndAbsences_Form_ManageEntitlements .crm-button-type-next  {
  float: right !important;
}

#calculation-details .base-contractual-entitlement { color: #42afcb; }
#calculation-details .working-days-to-work { color: #8EC68A; }
#calculation-details .working-days-in-period { color: #ECA67F; }
/*
  It's unlikely that an employee will have more than 5 contracts
  during a single period, but if that is the case, more
  .contract-n-pro-rata classes will need to be added here
 */
#calculation-details .contract-1-pro-rata { color: #E6807F; }
#calculation-details .contract-2-pro-rata { color: #797300; }
#calculation-details .contract-3-pro-rata { color: #904E1E; }
#calculation-details .contract-4-pro-rata { color: #0511B1; }
#calculation-details .contract-5-pro-rata { color: #4B9609; }
#calculation-details .calculation-pro-rata { color: #95c0ff  }
