<div class="row">
  <div class="col-xs-12 form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">No. of Days</label>
      <div class="col-sm-8">
        <div class="btn-group btn-group-justified">
          <label
            ng-disabled="!detailsTab.isRole('admin') && (detailsTab.isMode('view') || (!detailsTab.isMode('create') && detailsTab.isRole('manager') && !detailsTab.isLeaveType('sickness')))"
            class="btn active"
            ng-model="detailsTab.uiOptions.multipleDays"
            uib-btn-radio="true"
            ng-change="detailsTab.changeInNoOfDays()">Multiple Days</label>
          <label
            ng-disabled="!detailsTab.isRole('admin') && (detailsTab.isMode('view') || (!detailsTab.isMode('create') && detailsTab.isRole('manager') && !detailsTab.isLeaveType('sickness')))"
            class="btn"
            ng-model="detailsTab.uiOptions.multipleDays"
            uib-btn-radio="false"
            ng-change="detailsTab.changeInNoOfDays()">Single Day</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label required-mark">From Date</label>
      <div class="col-xs-6 col-sm-4 chr_leave-request-date-picker-container">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            show-button-bar="false"
            datepicker-options="detailsTab.uiOptions.date.from.options"
            ng-model="detailsTab.uiOptions.fromDate"
            is-open="detailsTab.uiOptions.date.from.show"
            ng-readonly="true"
            ng-disabled="!detailsTab.isRole('admin') && (detailsTab.isMode('view') || (detailsTab.isRole('manager') && !detailsTab.isMode('create') && !detailsTab.isLeaveType('sickness')))"
            ng-change="detailsTab.updateAbsencePeriodDatesTypes(detailsTab.uiOptions.fromDate, 'from')"/>
          </span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4" ng-hide="detailsTab.isLeaveType('toil')">
        <crm-loading
          show="!detailsTab.loading.fromDayTypes"
          class="chr_leave-request-modal__small_spinner">
          <div class="crm_custom-select crm_custom-select--full">
            <select
              class="no-select2"
              name="fromDayTypeSelect"
              ng-disabled="!detailsTab.isRole('admin') &&
                (detailsTab.isMode('view') || (detailsTab.isRole('manager') && !detailsTab.isMode('create') && !detailsTab.isLeaveType('sickness')))"
              ng-options="dayType.value as dayType.label for dayType in detailsTab.requestFromDayTypes"
              ng-model="detailsTab.request.from_date_type"
              ng-change="detailsTab.calculateBalanceChange()">
              <option ng-disabled="!detailsTab.isRole('admin') &&
                (detailsTab.isMode('view') || (detailsTab.isRole('manager') && !detailsTab.isMode('create') && !detailsTab.isLeaveType('sickness')))"
                      value="">Select</option>
              dayType{{dayType}}
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
        </crm-loading>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row" ng-hide="!detailsTab.uiOptions.multipleDays">
  <div class="col-xs-12 form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label required-mark">To Date</label>
      <div class="col-xs-6 col-sm-4 chr_leave-request-date-picker-container">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            datepicker-options="detailsTab.uiOptions.date.to.options"
            show-button-bar="false"
            ng-model="detailsTab.uiOptions.toDate"
            is-open="detailsTab.uiOptions.date.to.show"
            ng-readonly="true"
            ng-disabled="!detailsTab.isRole('admin') &&
              (detailsTab.isMode('view') || !detailsTab.request.from_date || (detailsTab.isRole('manager') && !detailsTab.isMode('create') && !detailsTab.isLeaveType('sickness')))"
            ng-change="detailsTab.updateAbsencePeriodDatesTypes(detailsTab.uiOptions.toDate, 'to')"/>
          </span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4" ng-hide="detailsTab.isLeaveType('toil')">
        <crm-loading
          show="!detailsTab.loading.toDayTypes"
          class="chr_leave-request-modal__small_spinner">
          <div class="crm_custom-select crm_custom-select--full">
            <select
              class="no-select2"
              name="toDayTypeSelect"
              ng-disabled="!detailsTab.isRole('admin') &&
                (detailsTab.isMode('view') || !detailsTab.request.from_date || (detailsTab.isRole('manager') && !detailsTab.isMode('create') && !detailsTab.isLeaveType('sickness')))"
              ng-options="dayType.value as dayType.label for dayType in detailsTab.requestToDayTypes"
              ng-model="detailsTab.request.to_date_type"
              ng-change="detailsTab.calculateBalanceChange()">
              <option value="">Select</option>
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
        </crm-loading>
      </div>
    </div>
  </div>
</div>
