<div class="row"
  ng-init="__isNotEditable = !detailsTab.isRole('admin') && (detailsTab.isMode('view') || (detailsTab.isRole('manager') && !detailsTab.isMode('create')))">
  <div class="col-xs-12 form-horizontal"
    ng-if="detailsTab.uiOptions.max_toil_duration_and_accrual && !__isNotEditable"
    ng-switch="!!detailsTab.uiOptions.toil_duration_expanded">
    <div ng-switch-when="false"
      class="chr_leave-request-modal__small-text chr_leave-request-modal__custom-deduction-toggling-row">
      <div class="col-sm-8 col-sm-offset-4 col-xs-12">
        <strong>{{detailsTab.uiOptions.toil_duration_in_hours | timeUnitApplier : 'hours'}}
          of overtime worked</strong>
        <a class="pointer"
          ng-click="detailsTab.uiOptions.toil_duration_expanded = true">
          Customise this amount</a>
      </div>
    </div>
    <div ng-switch-when="true">
      <div class="col-sm-12 chr_leave-request-modal__small-text clearfix">
        <label class="pull-right">Enter custom amount of overtime worked:</label>
      </div>
      <div class="col-sm-12 clearfix">
        <a class="btn btn-sm btn-link text-muted pull-right"
          ng-click="detailsTab.uiOptions.toil_duration_expanded = false">
          <i class="fa fa-times"></i>
        </a>
        <div class="pull-right">
          <time-amount-picker
            time-amount-picker-value="detailsTab.uiOptions.toil_duration_in_hours"
            time-amount-picker-min-amount="0"
            time-amount-picker-max-amount="detailsTab.uiOptions.max_toil_duration_and_accrual"
            time-amount-picker-interval="detailsTab.uiOptions.time_interval"
          ></time-amount-picker>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 form-horizontal">
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label required-mark">TOIL to be Accrued</label>
      </div>
      <div
        ng-if="detailsTab.selectedAbsenceType.calculation_unit_name === 'days'"
        ng-init="showTOILAccrualsOptionEditorIcon = $root.section === 'admin-dashboard' || $root.section === 'absence-tab'">
        <div ng-class="{ 'col-xs-11': showTOILAccrualsOptionEditorIcon, 'col-xs-12': !showTOILAccrualsOptionEditorIcon }">
          <div
            class="crm_custom-select crm_custom-select--full"
            ng-if="detailsTab.selectedAbsenceType.calculation_unit_name === 'days'">
            <select
              class="no-select2"
              name="toilAmount"
              ng-disabled="detailsTab.isMode('view')"
              ng-options="amount.value as amount.label for amount in detailsTab.toilAmounts"
              ng-model="detailsTab.request.toil_to_accrue"
              ng-change="detailsTab.performBalanceChangeCalculation()">
              <option value="">- select -</option>
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
        </div>
        <div ng-if="showTOILAccrualsOptionEditorIcon" class="col-xs-1 control-label">
          <a class="pointer">
            <i class="crm-i fa-wrench" ng-click="detailsTab.openToilInDaysAccrualOptionsEditor()"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-12" ng-if="detailsTab.selectedAbsenceType.calculation_unit_name === 'hours'">
        <time-amount-picker
          class="crm_custom-select crm_custom-select--full"
          time-amount-picker-disabled="detailsTab.isMode('view')"
          time-amount-picker-value="detailsTab.request.toil_to_accrue"
          time-amount-picker-min-amount="0"
          time-amount-picker-max-amount="detailsTab.uiOptions.max_toil_duration_and_accrual"
          time-amount-picker-interval="detailsTab.uiOptions.time_interval"
        ></time-amount-picker>
      </div>
    </div>
  </div>
</div>
