<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="settingsTab in form.settingsTabs"
        ng-class="{ active: settingsTab.opened }"
        ng-click="form.openSettingsTab(settingsTab.name)">
        <a href="#">
          {{settingsTab.label}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="row" ng-repeat="field in form.getSettingsTabFields()">
      <div class="col-md-3">
        <label>{{field.label}}</label>
      </div>
      <div class="col-md-9">
        [template of the field]
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <div class="btn btn-secondary pull-right"
          ng-if="form.openedSettingsTabIndex !== form.settingsTabs.length - 1"
          ng-click="form.openSettingsTab(form.settingsTabs[form.openedSettingsTabIndex + 1].name)">
          Next
        </div>
        <div class="btn btn-primary pull-right"
          ng-if="form.openedSettingsTabIndex === form.settingsTabs.length - 1">
          Save
        </div>
        <div class="btn btn-secondary"
          ng-if="form.openedSettingsTabIndex === 0"
          ng-click="form.openSection('general')">
          Choose another category
        </div>
        <div class="btn btn-secondary"
          ng-if="form.openedSettingsTabIndex !== 0"
          ng-click="form.openSettingsTab(form.settingsTabs[form.openedSettingsTabIndex - 1].name)">
          Back
        </div>
      </div>
    </div>
  </div>
</div>
