<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="settingsTab in form.settingsTabs"
        ng-class="{ active: settingsTab.active }"
        ng-click="form.openSettingsTab(settingsTab.name)">
        <a href>
          {{settingsTab.label}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 form-horizontal">
    <div class="form-group" ng-repeat="field in form.getFieldsForActiveSettingsTab()">
      <label class="col-md-3 control-label">
        {{field.label}}
        <help-text ng-if="field.helpText">
          <p class="respect-line-breaks">{{field.helpText}}</p>
        </help-text>
      </label>
      <div class="col-md-9">
        [template of the field]
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-secondary pull-right"
          ng-if="!form.isOnLastSettingsTab"
          ng-click="form.openNextSettingsTab()">
          Next
        </button>
        <button class="btn btn-primary pull-right"
          ng-if="form.isOnLastSettingsTab">
          Save
        </button>
        <button class="btn btn-secondary"
          ng-if="form.isOnFirstSettingsTab"
          ng-click="form.openSection('general')">
          Choose another category
        </button>
        <button class="btn btn-secondary"
          ng-if="!form.isOnFirstSettingsTab"
          ng-click="form.openPreviousSettingsTab()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
