/**
 * Ensures that there is the same top padding regardless whether
 * the user can see the admin toolbar or not
 */
body {
  padding-top: 60px !important;
}

#civicrm-footer {
  height: 250px;
  background-color: #e8eef0 !important;
  color: #727e8a;
  border-top: 1px solid #ddd;
  padding-top: 85px;
  font-size: 13px;
  line-height: 2;
}

#civicrm-footer a {
  color: #42afcb;
}

#civicrm-footer a:hover {
  color: #42afcb;
}

#civicrm-footer a:visited {
  color: #42afcb;
}


.footer-logo {
  margin-top: 25px;
}

.crm-tooltip table td {
  width: 50%;
  word-wrap: break-word;
}

#crm-main-content-wrapper #contactDetails #govID span {
  margin-right: 1%;
}

