<div class="chr_leave-report">
  <section class="panel panel-default">
    <div class="chr_leave-report__heading panel-heading">
      <div class="row">
        <div class="col-sm-9">
          <a href="#" class="chr_leave-report__export-button">
            <i class="fa fa-download fa-fw" aria-hidden="true"></i>
            Export CSV
          </a>
        </div>
        <div class="col-sm-3">
          <div class="chr_custom-select chr_custom-select--full">
            <select>
              <option value="1" selected>Current Period (2016)</option>
              <option value="2" selected>2017</option>
              <option value="3" selected>2018</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="chr_leave-report__table table-responsive">
      <table class="table table-condensed-mixed">
        <thead>
          <tr>
            <th class="chr_leave-report__table__heading--label"></th>
            <th class="chr_leave-report__table__heading--dates">Dates</th>
            <th class="chr_leave-report__table__heading--status">Status</th>
            <th class="chr_leave-report__table__heading--type">Vacation</th>
            <th class="chr_leave-report__table__heading--type">TOIL</th>
            <th class="chr_leave-report__table__heading--type">Maternity</th>
            <th class="chr_leave-report__table__heading--type">Sick</th>
            <th class="chr_leave-report__table__heading--type">Other</th>
            <th class="chr_leave-report__table__heading--action"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              Period Entitlement
            </td>
            <td></td>
            <td></td>
            <td>31</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th class="chr_leave-report__table__heading--type">Vacation</th>
                      <th class="chr_leave-report__table__heading--type">TOIL</th>
                      <th class="chr_leave-report__table__heading--type">Maternity</th>
                      <th class="chr_leave-report__table__heading--type">Sick</th>
                      <th class="chr_leave-report__table__heading--type">Other</th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Brought Forward (expires 31/03/2016)</td>
                      <td></td>
                      <td></td>
                      <td>3</td>
                      <td>3</td>
                      <td>0</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Leave</td>
                      <td></td>
                      <td></td>
                      <td>20</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Public Holidays</td>
                      <td></td>
                      <td></td>
                      <td>8</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              Public holidays
            </td>
            <td></td>
            <td></td>
            <td>-8</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th class="chr_leave-report__table__heading--type">Vacation</th>
                      <th class="chr_leave-report__table__heading--type">TOIL</th>
                      <th class="chr_leave-report__table__heading--type">Maternity</th>
                      <th class="chr_leave-report__table__heading--type">Sick</th>
                      <th class="chr_leave-report__table__heading--type">Other</th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/05/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              Approved Requests
            </td>
            <td></td>
            <td></td>
            <td>-4</td>
            <td>-2</td>
            <td>-21</td>
            <td>-2</td>
            <td>-1</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th class="chr_leave-report__table__heading--type">Vacation</th>
                      <th class="chr_leave-report__table__heading--type">TOIL</th>
                      <th class="chr_leave-report__table__heading--type">Maternity</th>
                      <th class="chr_leave-report__table__heading--type">Sick</th>
                      <th class="chr_leave-report__table__heading--type">Other</th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vacation</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td>-4</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Sick</td>
                      <td>25/11/2015 - 27/11/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-2</td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Accrued TOIL (expires 20/03/2015)</td>
                      <td>18/03/2015 - 20/03/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td>2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>TOIL</td>
                      <td>18/04/2015 - 22/04/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td>-2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Maternity</td>
                      <td>01/06/2015 - 31/06/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td></td>
                      <td>-21</td>
                      <td></td>
                      <td></td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Other</td>
                      <td>01/07/2015 - 10/07/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-1</td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr class="active">
            <td>Balance</td>
            <td></td>
            <td></td>
            <td>19</td>
            <td>1</td>
            <td>-21</td>
            <td>-2</td>
            <td>-1</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              Open Requests
            </td>
            <td></td>
            <td></td>
            <td>-4</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th class="chr_leave-report__table__heading--type">Vacation</th>
                      <th class="chr_leave-report__table__heading--type">TOIL</th>
                      <th class="chr_leave-report__table__heading--type">Maternity</th>
                      <th class="chr_leave-report__table__heading--type">Sick</th>
                      <th class="chr_leave-report__table__heading--type">Other</th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vacation</td>
                      <td>18/02/2015 - 22/02/2015</td>
                      <td>Awaiting Approval</td>
                      <td>-4</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Accrued TOIL (expires 20/03/2015)</td>
                      <td>17/01/2015</td>
                      <td>More Information Required</td>
                      <td></td>
                      <td>1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="chr_leave-report__table__heading--action">
                        <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr class="active">
            <td>Future Balance</td>
            <td></td>
            <td></td>
            <td>15</td>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="9">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              Cancelled and Other
            </td>
          </tr>
          <tr>
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th class="chr_leave-report__table__heading--type">Vacation</th>
                      <th class="chr_leave-report__table__heading--type">TOIL</th>
                      <th class="chr_leave-report__table__heading--type">Maternity</th>
                      <th class="chr_leave-report__table__heading--type">Sick</th>
                      <th class="chr_leave-report__table__heading--type">Other</th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Sick</td>
                      <td>18/05/2015 - 22/05/2015</td>
                      <td>Rejected</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Vacation</td>
                      <td>18/02/2015 - 22/02/2015</td>
                      <td>Cancelled</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Late</td>
                      <td>18/01/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td>2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Accrued TOIL (expires 20/03/2015)</td>
                      <td></td>
                      <td>Expired</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Brought Forward (expires 31/03/2015)</td>
                      <td></td>
                      <td>Expired</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
