<div id="report" class="tab-pane fade in active">
  <div class="container-fluid chr_container">
    <div class="row chr_container__row--header">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th width="75%">
              <a href="#">
                <i class="fa fa-download fa-fw" aria-hidden="true"></i>
                <span>Export CSV</span>
              </a>
            </th>
            <th width="25%">
              <div class="chr_custom-select chr_custom-select--full">
                <select>
                  <option value="value1" selected>
                    Current Period (2015)
                  </option>
                </select>
              </div>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="chr_separator"></div>
    <div class="row chr_container__row">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th>Dates</th>
            <th>Status</th>
            <th>Vacation</th>
            <th>TOIL</th>
            <th>Maternity</th>
            <th>Sick</th>
            <th>Other</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="chr_separator"></div>
    <div class="row panel panel-default chr_grid">
      <div class="panel-heading chr_grid__panel-heading">
        <h4 class="panel-title">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr class="civi-grid--open">
                  <th>
                    <i class="fa fa-chevron-down"
                      aria-hidden="true"></i>
                    <span>
                      Period Entitlement
                    </span>
                  </th>
                  <th>31</th>
                  <th>3</th>
                  <th>0</th>
                  <th>0</th>
                  <th>0</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body chr_grid__body">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="chr_grid__row--header">
                    <tr>
                      <th></th>
                      <th>Dates</th>
                      <th>Status</th>
                      <th>Vacation</th>
                      <th>TOIL</th>
                      <th>Maternity</th>
                      <th>Sick</th>
                      <th>Other</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Brought forward (expires 31/3/2016)</td>
                      <td></td>
                      <td></td>
                      <td>3</td>
                      <td>3</td>
                      <td>0</td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Leave</td>
                      <td></td>
                      <td></td>
                      <td>20</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holidays</td>
                      <td></td>
                      <td></td>
                      <td>8</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row panel panel-default chr_grid">
      <div class="panel-heading chr_grid__panel-heading">
        <h4 class="panel-title">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr class="civi-grid--open">
                  <th>
                    <i class="fa fa-chevron-down"
                      aria-hidden="true"></i>
                    <span>
                      Public Holidays
                    </span>
                  </th>
                  <th>-8</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body chr_grid__body">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="chr_grid__row--header">
                    <tr>
                      <th></th>
                      <th>Dates</th>
                      <th>Status</th>
                      <th>Vacation</th>
                      <th>TOIL</th>
                      <th>Maternity</th>
                      <th>Sick</th>
                      <th>Other</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/5/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/5/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Public Holiday</td>
                      <td>31/5/2016</td>
                      <td>Admin Approved</td>
                      <td>-1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row panel panel-default chr_grid">
      <div class="panel-heading chr_grid__panel-heading">
        <h4 class="panel-title">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr class="civi-grid--open">
                  <th>
                    <i class="fa fa-chevron-down"
                      aria-hidden="true"></i>
                    <span>
                      Approved Requests
                    </span>
                  </th>
                  <th>-4</th>
                  <th>-2</th>
                  <th>-21</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body chr_grid__body">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="chr_grid__row--header">
                    <tr>
                      <th></th>
                      <th>Dates</th>
                      <th>Status</th>
                      <th>Vacation</th>
                      <th>TOIL</th>
                      <th>Maternity</th>
                      <th>Sick</th>
                      <th>Other</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vacation</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td>-4</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Sick</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-2</td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Accrued TOIL(Expires 20/03/2015)</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-2</td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>TOIL</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td>2</td>
                      <td></td>
                      <td>-2</td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Maternity</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td>-4</td>
                      <td>-21</td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Other</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Approved</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-1</td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row chr_container__row chr_container__row--summary">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                Balance
              </th>
              <th></th>
              <th></th>
              <th>19</th>
              <th>1</th>
              <th>-21</th>
              <th>-2</th>
              <th>-1</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="row panel panel-default chr_grid">
      <div class="panel-heading chr_grid__panel-heading">
        <h4 class="panel-title">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr class="civi-grid--open">
                  <th>
                    <i class="fa fa-chevron-down"
                      aria-hidden="true"></i>
                    <span>
                      Open Requests
                    </span>
                  </th>
                  <th></th>
                  <th></th>
                  <th>-4</th>
                  <th>1</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body chr_grid__body">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="chr_grid__row--header">
                    <tr>
                      <th></th>
                      <th>Dates</th>
                      <th>Status</th>
                      <th>Vacation</th>
                      <th>TOIL</th>
                      <th>Maternity</th>
                      <th>Sick</th>
                      <th>Other</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vacation</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Awaiting Approval</td>
                      <td>-4</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Accrued TOIL(Expires 20/03/2015)</td>
                      <td>18/01/2015</td>
                      <td>More information required</td>
                      <td></td>
                      <td>1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row chr_container__row chr_container__row--summary">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                Future Balance
              </th>
              <th></th>
              <th></th>
              <th>15</th>
              <th>2</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="row panel panel-default chr_grid">
      <div class="panel-heading chr_grid__panel-heading">
        <h4 class="panel-title">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr class="civi-grid--open">
                  <th>
                    <i class="fa fa-chevron-down"
                      aria-hidden="true"></i>
                    <span>
                      Cancelled and Other
                    </span>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body chr_grid__body">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="chr_grid__row--header">
                    <tr>
                      <th></th>
                      <th>Dates</th>
                      <th>Status</th>
                      <th>Vacation</th>
                      <th>TOIL</th>
                      <th>Maternity</th>
                      <th>Sick</th>
                      <th>Other</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Sickness</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Rejected</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Vacation</td>
                      <td>18/01/2015 - 22/01/2015</td>
                      <td>Cancelled</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Accrued TOIL(Expires 20/03/2015)</td>
                      <td></td>
                      <td>Expired</td>
                      <td></td>
                      <td>1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>Brough Forward(Expires 20/03/2015)</td>
                      <td></td>
                      <td>Expired</td>
                      <td></td>
                      <td>1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
