.add-new-row {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.main-row {
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-bottom: 10px;
}

.main-row-header {
  padding-bottom: 5px;
  margin: 10px 10px 5px;
  border-bottom: none;
}

.btn-setup {
  margin: 10px 10px 10px 10px;
  clear: both;
}

.clear {
  clear: both;
}

.page-header {
  padding-bottom: 0px;
  border-bottom: 0px;
  margin: 10px 0px 15px;
}

.createrole {
  display: inline;
  float: inherit;
  margin-bottom: 55px;
}