.form-group {
  .form-group.editable-controls {
    margin: 0;
  }

  .editable-textarea {
    display: block;
  }

  .editable-empty,
  .editable-empty:hover,
  .editable-empty:focus {
    color: $text-color;
  }
}

.input-group-addon {
  border: solid 1px $gray-dark !important;
  border-left: 0 !important;
  color: $brand-primary;
  cursor: pointer;
  width: 0;
  a {
    color: #333333;
  }
}
