.#{$prefix}panel-action {
  border-bottom: 0 none;
  padding: {
    bottom: 10px;
    top: 10px;
  };

  @include grid-condensed(5px);

  .#{$prefix}switch + label {
    position: relative;
    top: 4px;
  }

  .control-label {
    padding-top: 8px;
  }


  .control-label-lg {
    font-size: 16px;
    padding: {
      top: 7px;
    };
  }

  .form-control-static-md {
    font-size: 14px;
    padding: {
      bottom: 6px;
      top: 10px;
    };
  }

  .form-control-static {
    text-transform: none;
    font-weight: normal;
  }

  .form-group {
    margin-bottom: 0;
  }

  + .panel-body {
    padding: {
      bottom: 10px;
      top: 10px;
    };
  }
}

/*
.#{$prefix}panel-action {

  .badge {
    margin-top: 6px;
  }

  .btn {
    background-color: $panel-default-heading-bg;
    margin-left: 7px;
    padding: {
      bottom: 8px;
      top: 8px;
    };

    .glyphicon {
      margin-right: 3px;
    }

    &:hover,
    &:focus {
      background-color: lighten($panel-default-heading-bg, 2%);
    }
  }



  > .#{$prefix}row-action {
    .control-label,
    .form-control-static {
      font-size: 14px;
    }

    .form-control-static {
      padding: {
        bottom: 7px;
        top: 7px;
      };
    }
  }

  > .#{$prefix}row-info {
    .control-label,
    .form-control-static {
      color: $gray-light;
    }
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: 5px;
      right: 5px;
    }
  }

  hr {
    margin: {
      bottom: 2px;
      top: 10px;
    };
  }

  + .panel-body {
    padding: {
      bottom: 10px;
      top: 10px;
    };
  }
}
*/