.civihr-ui-select.funder-select {
  width: 250px !important;

  .select2-chosen > span {
    text-overflow: ellipsis;
    width: 175px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
}
