.job-roles {

  &__list {
    margin-bottom: 40px;
  }

  // workaround to make sure that the texarea always go full-width
  // the !important is necessary to override the #bootstrap-theme style
  .editable-textarea {
    display: block !important;
  }
}

.job-role {

  &__actions {
    position: absolute;
    right: 0;
    top: 5px;
  }

  &__tabs {
    position: relative;
  }
}
