<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Access Settings</h2>
</div>
<div class="modal-body">
    <p>
        This appraisal cycle can be accessed by administrators in which teams?
    </p>
    <div class="alert alert-danger" ng-if="modal.formSubmitted && modal.form.$invalid">
    </div>
    <form
        novalidate
        name="modal.form"
        class="form-horizontal"
        ng-class="{ 'form-submitted': modal.formSubmitted }">
        <div class="form-group has-feedback">
            <div class="col-sm-12">
                <label for="access-teams" class="sr-only">Teams</label>
                <input
                    required
                    type="text"
                    class="form-control"
                    id="access-teams"
                    name="access_teams"
                    ng-model="modal.access_teams">
                <span class="fa fa-search form-control-feedback"></span>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                Accessible to all
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modal.cancel()">cancel</button>
    <button type="button" class="btn btn-primary text-uppercase" ng-click="modal.submit()">
        save
    </button>
</div>
