<div ng-switch="modal.confirmScreen">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">
            <span ng-switch-when="false">Add Contacts To Cycle</span>
            <span ng-switch-when="true">Contacts to be added</span>
        </h2>
    </div>
    <div class="modal-body" ng-switch-when="false">
        <crm-loading show="!modal.loading.optionValues && !modal.loading.groups">
            <div class="alert alert-danger" ng-if="modal.formSubmitted && modal.form.$invalid">
            </div>
            <form
                novalidate
                name="modal.form"
                class="form-horizontal"
                ng-class="{ 'form-submitted': modal.formSubmitted }">
                <div class="form-group">
                    <label for="group-contacts" class="control-label col-sm-5">
                        Add a Group of Contacts:
                    </label>
                    <div class="col-sm-7">
                        <div class="crm_custom-select crm_custom-select--full">
                            <select
                                class="form-control"
                                id="group-contacts"
                                ng-model="modal.criteria.group_id"
                                ng-options="group.id as group.title for group in modal.groups">
                                <option value="">- select -</option>
                            </select>
                            <span class="crm_custom-select__arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region" class="control-label col-sm-5">
                        Add by Region:
                    </label>
                    <div class="col-sm-7">
                        <div class="crm_custom-select crm_custom-select--full">
                            <select
                                class="form-control"
                                id="region"
                                ng-model="modal.criteria.region"
                                ng-options="region.id as region.label for region in modal.optionValues.hrjc_region">
                                <option value="">- select -</option>
                            </select>
                            <span class="crm_custom-select__arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="department" class="control-label col-sm-5">
                        Add by Department:
                    </label>
                    <div class="col-sm-7">
                        <div class="crm_custom-select crm_custom-select--full">
                            <select
                                class="form-control"
                                id="department"
                                ng-model="modal.criteria.department"
                                ng-options="department.id as department.label for department in modal.optionValues.hrjc_department">
                                <option value="">- select -</option>
                            </select>
                            <span class="crm_custom-select__arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="level" class="control-label col-sm-5">
                        Add by Level:
                    </label>
                    <div class="col-sm-7">
                        <div class="crm_custom-select crm_custom-select--full">
                            <select
                                class="form-control"
                                id="level"
                                ng-model="modal.criteria.level_type"
                                ng-options="level.id as level.label for level in modal.optionValues.hrjc_level_type">
                                <option value="">- select -</option>
                            </select>
                            <span class="crm_custom-select__arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="control-label col-sm-5">
                        Add by Location:
                    </label>
                    <div class="col-sm-7">
                        <div class="crm_custom-select crm_custom-select--full">
                            <select
                                class="form-control"
                                id="location"
                                ng-model="modal.criteria.location"
                                ng-options="location.id as location.label for location in modal.optionValues.hrjc_location">
                                <option value="">- select -</option>
                            </select>
                            <span class="crm_custom-select__arrow"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group has-feedback">
                    <label for="individual-contacts" class="control-label col-sm-5">
                        Add Individual Contacts:
                    </label>
                    <div class="col-sm-7">
                        <ui-select
                            prevent-animations
                            allow-clear
                            ng-required="true"
                            ng-model="modal.criteria.contact_id">
                            <ui-select-match prevent-animations placeholder="Contact">
                                {{$select.selected.display_name}}
                            </ui-select-match>
                            <ui-select-choices
                                prevent-animations
                                repeat="contact.id as contact in modal.contacts.lookedUp.list | filter: $select.search"
                                refresh="modal.lookupContact($select.search)"
                                refresh-delay="0">
                                <div ng-bind="contact.display_name"></div>
                                <small ng-bind="contact.email"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </crm-loading>
    </div>
    <div class="table-responsive" ng-switch-when="true" style="max-height: 300px;">
        <crm-loading show="!modal.loading.matchingContacts">
            <table class="table table-striped" ng-switch="!!modal.contacts.matching.length">
                <tbody ng-switch-when="true">
                    <tr ng-repeat="contact in modal.contacts.matching">
                        <td>{{contact.display_name}}</td>
                    </tr>
                </tbody>
                <tbody ng-switch-when="false">
                    <tr>
                        <td class="text-center">
                            No contacts found that match the selected criteria
                        </td>
                    </tr>
                </tbody>
            </table>
        </crm-loading>
    </div>
    <div class="modal-footer">
        <div ng-switch-when="false">
            <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modal.cancel()">
                cancel
            </button>
            <button type="button" class="btn btn-primary text-uppercase" ng-click="modal.fetchContacts()">
                add contacts
            </button>
        </div>
        <div ng-switch-when="true" ng-if="!modal.loading.matchingContacts">
            <button type="button" class="btn btn-secondary-outline text-uppercase" ng-disabled="modal.loading.addingContacts" ng-click="modal.resetSearch()">
                cancel
            </button>
            <button type="button" class="btn btn-primary text-uppercase" ng-disabled="modal.loading.addingContacts" ng-click="modal.addContacts()">
                add
            </button>
        </div>
    </div>
</div>
