<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" ng-switch="modal.edit">
            <span ng-switch-when="true">Edit Appraisal Cycle</span>
            <span ng-switch-when="false">Create New Appraisal Cycle</span>
        </h2>
    </div>
    <div ng-show="modal.loaded.types && modal.loaded.cycle">
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="cycle-name" class="control-label col-sm-3">
                        Cycle Name
                    </label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="modal.cycle.cycle_name" class="form-control" id="cycle-name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cycle-type" class="control-label col-sm-3">
                        Cycle Type
                    </label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            id="cycle-type"
                            ng-model="modal.cycle.cycle_type_id"
                            ng-options="type.value as type.label for type in modal.types">
                            <option value="">- select -</option>
                        </select>
                    </div>
                </div>
                <hr>
                <h3>
                    Cycle Period
                    <i class="fa fa-question-circle fa-1x fa-fw fa-color-primary"></i>
                </h3>
                <div class="form-group">
                    <label for="start-date" class="control-label col-sm-5">Cycle Start Date</label>
                    <div class="col-sm-4 col-md-offset-3">
                        <div class="input-group input-group-sm input-group-unstyled">
                            <input
                                type="text"
                                class="form-control"
                                id="start-date"
                                datepicker-popup="dd/MM/yyyy"
                                ng-model="modal.cycle.cycle_start_date"
                                ng-init="modal.calendars.startDate = false"
                                ng-click="modal.calendars.startDate = !modal.calendars.startDate"
                                is-open="modal.calendars.startDate">
                            <span class="input-group-addon fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="end-date" class="control-label col-sm-5">Cycle End Date</label>
                    <div class="col-sm-4 col-md-offset-3">
                        <div class="input-group input-group-sm input-group-unstyled">
                            <input
                                type="text"
                                class="form-control"
                                id="end-date"
                                datepicker-popup="dd/MM/yyyy"
                                ng-model="modal.cycle.cycle_end_date"
                                ng-init="modal.calendars.endDate = false"
                                ng-click="modal.calendars.endDate = !modal.calendars.endDate"
                                is-open="modal.calendars.endDate">
                            <span class="input-group-addon fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Appraisal Deadlines</h3>
                <div class="form-group">
                    <label for="self-appraisal-due" class="control-label col-sm-5">
                        Self Appraisal Due
                    </label>
                    <div class="col-sm-4 col-md-offset-3">
                        <div class="input-group input-group-sm input-group-unstyled">
                            <input
                                type="text"
                                class="form-control"
                                id="self-appraisal-due"
                                datepicker-popup="dd/MM/yyyy"
                                ng-model="modal.cycle.cycle_self_appraisal_due"
                                ng-init="modal.calendars.self = false"
                                ng-click="modal.calendars.self = !modal.calendars.self"
                                is-open="modal.calendars.self">
                            <span class="input-group-addon fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="manager-appraisal-due" class="control-label col-sm-5">
                        Manager Appraisal Due
                    </label>
                    <div class="col-sm-4 col-md-offset-3">
                        <div class="input-group input-group-sm input-group-unstyled">
                            <input
                                type="text"
                                class="form-control"
                                id="manager-appraisal-due"
                                datepicker-popup="dd/MM/yyyy"
                                ng-model="modal.cycle.cycle_manager_appraisal_due"
                                ng-init="modal.calendars.manager = false"
                                ng-click="modal.calendars.manager = !modal.calendars.manager"
                                is-open="modal.calendars.manager">
                            <span class="input-group-addon fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="grade-due" class="control-label col-sm-5">
                        Grade
                    </label>
                    <div class="col-sm-4 col-md-offset-3">
                        <div class="input-group input-group-sm input-group-unstyled">
                            <input
                                type="text"
                                class="form-control"
                                id="grade-due"
                                datepicker-popup="dd/MM/yyyy"
                                ng-model="modal.cycle.cycle_grade_due"
                                ng-init="modal.calendars.grade = false"
                                ng-click="modal.calendars.grade = !modal.calendars.grade"
                                is-open="modal.calendars.grade">
                            <span class="input-group-addon fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modal.cancel()">cancel</button>
            <button type="button" class="btn btn-primary text-uppercase" ng-click="modal.submit()" ng-switch="modal.edit">
                <span ng-switch-when="true">edit cycle</span>
                <span ng-switch-when="false">create cycle</span>
            </button>
        </div>
    </div>
</div>
