<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Edit Dates</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-if="modal.formSubmitted && modal.form.$invalid">
        <ul>
            <li ng-if="modal.formErrors.cycle_self_appraisal_due.required">
                Please specify the self appraisal due date
            </li>
            <li ng-if="modal.formErrors.cycle_manager_appraisal_due.required">
                Please specify the manager appraisal due date
            </li>
            <li ng-if="modal.formErrors.cycle_grade_due.required">
                Please specify the grade due date
            </li>
        </ul>
    </div>
    <form
        novalidate
        name="modal.form"
        class="form-horizontal"
        ng-class="{ 'form-submitted': modal.formSubmitted }">
        <div class="form-group form-required">
            <label for="self-appraisal-due" class="control-label col-sm-5">
                Self Appraisal Due
            </label>
            <div class="col-sm-4 col-md-offset-3">
                <div class="input-group input-group-sm input-group-unstyled">
                    <input
                        required
                        type="text"
                        class="form-control"
                        id="self-appraisal-due"
                        name="cycle_self_appraisal_due"
                        datepicker-popup="dd/MM/yyyy"
                        ng-model="modal.cycle.cycle_self_appraisal_due"
                        ng-init="modal.calendars.self = false"
                        ng-click="modal.calendars.self = !modal.calendars.self"
                        is-open="modal.calendars.self">
                    <span class="input-group-addon fa fa-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group form-required">
            <label for="manager-appraisal-due" class="control-label col-sm-5">
                Manager Appraisal Due
            </label>
            <div class="col-sm-4 col-md-offset-3">
                <div class="input-group input-group-sm input-group-unstyled">
                    <input
                        required
                        type="text"
                        class="form-control"
                        id="manager-appraisal-due"
                        name="cycle_manager_appraisal_due"
                        datepicker-popup="dd/MM/yyyy"
                        ng-model="modal.cycle.cycle_manager_appraisal_due"
                        ng-init="modal.calendars.manager = false"
                        ng-click="modal.calendars.manager = !modal.calendars.manager"
                        is-open="modal.calendars.manager">
                    <span class="input-group-addon fa fa-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-group form-required">
            <label for="grade-due" class="control-label col-sm-5">
                Grade
            </label>
            <div class="col-sm-4 col-md-offset-3">
                <div class="input-group input-group-sm input-group-unstyled">
                    <input
                        required
                        type="text"
                        class="form-control"
                        id="grade-due"
                        name="cycle_grade_due"
                        datepicker-popup="dd/MM/yyyy"
                        ng-model="modal.cycle.cycle_grade_due"
                        ng-init="modal.calendars.grade = false"
                        ng-click="modal.calendars.grade = !modal.calendars.grade"
                        is-open="modal.calendars.grade">
                    <span class="input-group-addon fa fa-calendar"></span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modal.cancel()">cancel</button>
    <button type="button" class="btn btn-primary text-uppercase" ng-click="modal.submit()">
        change dates
    </button>
</div>
