<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Recipients</h2>
</div>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Contact Name 1</td>
        </tr>
        <tr>
            <td>Contact Name 2</td>
        </tr>
        <tr>
            <td>Contact Name 3</td>
        </tr>
        <tr>
            <td>Contact Name 4</td>
        </tr>
        <tr>
            <td>Contact Name 5</td>
        </tr>
    </tbody>
</table>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modal.cancel()">close</button>
</div>
