<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Send Notification/Reminder</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-if="modal.formSubmitted && modal.form.$invalid">
    </div>
    <p>
        <strong>Appraisal Reminder</strong>
    </p>
    <hr>
    <dl class="dl-horizontal modal--send-notification-reminder__dl">
        <dt>Status</dt>
        <dd>Awaiting Self Appraisal</dd>
        <dt>Due</dt>
        <dd>dd/mm/yyyy</dd>
    </dl>
    <hr>
    <form
        novalidate
        name="modal.form"
        ng-class="{ 'form-submitted': modal.formSubmitted }">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="recipients" class="control-label col-sm-6">
                    Send Notification To
                </label>
                <div class="col-sm-6">
                    <select id="recipients" class="form-control">
                        <option value="">---</option>
                    </select>
                    <a
                        href
                        ng-click="modal.openNotificationRecipientsModal()"
                        class="modal--send-notification-reminder__view-recipient">
                        View Recipients
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="notes" class="control-label">
                Notes <span class="text-default">(Displayed on Reminder)</span>
            </label>
            <textarea class="form-control" id="notes" rows="5"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modal.cancel()">cancel</button>
    <button type="button" class="btn btn-primary text-uppercase" ng-click="modal.submit()">
        send reminder
    </button>
</div>
