<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Amy Anderson - Appraisal</h2>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Appraisal Cycle 2</dt>
        <dd>(Active)</dd>
        <dt>Cycle ID: 1235</dt>
        <dd>12345</dd>
        <dt>Period:</dt>
        <dd>dd/mm/yyyy - dd/mm/yyyy</dd>
    </dl>
    <hr>
    <dl class="dl-horizontal">
        <dt>Self Appraisal Due:</dt>
        <dd>dd/mm/yyyy</dd>
        <dt>Manager Appraisal Due:</dt>
        <dd>dd/mm/yyyy</dd>
        <dt>Grade Due:</dt>
        <dd>dd/mm/yyyy</dd>
        <dt>Status:</dt>
        <dd>Status</dd>
        <dt>Manager:</dt>
        <dd>John Anderson</dd>
    </dl>
    <hr>
    <dl class="dl-horizontal dl-horizontal-half">
        <dt>Documents</dt>
        <dd style="overflow: hidden;">
            <div class="row">
                <div class="col-xs-5">Self Appraisal:</div>
                <div class="col-xs-4"><a href>document.pdf</a></div>
                <div class="col-xs-3">1.42mb</div>
            </div>
            <div class="row">
                <div class="col-xs-5">Manager Appraisal:</div>
                <div class="col-xs-4"><a href>document.pdf</a></div>
                <div class="col-xs-3">1.42mb</div>
            </div>
            <div class="clearfix">
        </dd>
    </dl>
    <hr>
    <dl class="dl-horizontal dl-horizontal-half">
        <dt>Manager Notes</dt>
        <dd>
            <p>
                Donec sodales sagittis magna. Etiam ut purus mattis mauris sodales aliquam. Vivamus quis mi. Aenean imperdiet. Morbi mollis tellus ac sapien
            </p>
        </dd>
    </dl>
    <hr>
    <dl class="dl-horizontal dl-horizontal-full">
        <dt>Appraisal Meeting Date</dt>
        <dd>dd/mm/yyyy</dd>
        <dt>Appraisal Meeting Completed</dt>
        <dd>Yes</dd>
        <dt>Discussed and Approved by Employee</dt>
        <dd>Yes</dd>
    </dl>
    <hr>
    <dl class="dl-horizontal dl-horizontal-half">
        <dt>Grade</dt>
        <dd>
            3<i class="fa fa-clock fa-fw"></i>
        </dd>
        <dt>HR Notes</dt>
        <dd>
            <p>
                Donec sodales sagittis magna. Etiam ut purus mattis mauris sodales aliquam. Vivamus quis mi. Aenean imperdiet. Morbi mollis tellus ac sapien
            </p>
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-secondary-outline text-uppercase"
        data-dismiss="modal"
        ng-click="modal.cancel()">
        close
    </button>
</div>
