.crm_contact-actions {
  background: $gray-light;

  &::before {
    background: $gray-light !important;
    border-bottom: none !important;
    height: 20px !important;
    left: 0 !important;
    top: -15px !important;
    width: 93px !important;
  }

  &__body {
    display: flex;
  }

  &__primary-panel {
    padding: 15px;
    width: 345px;
  }

  &__secondary-panel {
    background: $crm-white;
    display: flex;
    padding: 15px;
    min-width: 250px;

    &__column {
      width: 220px;
      margin-right: 15px;
    }

    &__column:last-child {
      margin-right: 0;
    }
  }

  &__primary-panel__footer {
    padding: 0 15px;
    width: 345px;
  }

  &__secondary-panel__footer {
    background: $crm-white;
    display: flex;
    padding: 20px 15px 5px;

    &__column {
      flex-grow: 1;
    }
  }

  &__user-info {
    margin-bottom: 10px;
  }

  span.fa-question-circle {
    color: $brand-primary;
  }

  a.btn {
    margin-bottom: 10px !important;
    white-space: normal !important;
  }
}
