<tr ng-repeat="request in requests track by $index">
  <td class="chr_leave-report__label">
    {{report.absenceTypesIndexed[request.type_id].title}}
    <span ng-if="request.toil_expiry_date">
      (expires {{request.toil_expiry_date | formatDate}})
    </span>
  </td>
  <td ng-include="$root.sharedPathTpl + 'components/partials/leave-request-dates.html'"></td>
  <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
  <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
    title="({{ absenceType.calculation_unit_label | lowercase }})">
    {{ +request.type_id === +absenceType.id ? (request.balance_change | timeUnitApplier : absenceType.calculation_unit_name) : '' }}
  </td>
  <td>
    <leave-request-actions
      leave-request="request"
      role="report.role"
      absence-types="report.absenceTypes"
      leave-request-statuses="report.leaveRequestStatuses">
    </leave-request-actions>
  </td>
</tr>
