.hr-pipeline-case-contacts {
  float: left;
  width: 30%;
}
.hr-pipeline-case-contacts th:first-child,
.hr-pipeline-case-contacts td:first-child {
  width: 1em;
}
.hr-pipeline-case-view-panel {
  float: right;
  width: 70%;
  min-height: 5em;
}
.hr-applicant-selection-msg {
  color: #5b5b5b;
  font-weight: bold;
  margin: 2em;
}
