#crm-container h2 {
  border: 0 none;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  color: white;
}

div.hr-dashboard-vacancy-summary {
  float: left;
  width: 70%;
  font-weight: bold;
}

.hr-dashboard-recent-activity {
  float: right;
  width: 29%;
  min-height: 5em;
  background-color: #EBEBEB;
  border-radius: 6px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.hr-recent-activity-title{
  color: white;
  background-color: #5D677B;
  padding: 3px 15px 5px;
}

.hr-dashboard-recent-activity td {
  padding: 10px;
}

.hr-recent-activity-block {
  font-size: 1.1em;
}

div.hr-vacancy {
  width:50%;
}

div.hr-vacancy > div {
  padding: .5em;
}

div.hr-vacancy > div > table {
  background-color: #EBEBEB;
  border-color: darkgrey;
}

.hr-stage {
  width: 0;
  height: 0;
  display: block;
  float: left;
  margin: 0 -15px;
  padding: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.hr-stage a:visited.hr-stage-link,
.hr-stage a:link.hr-stage-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  right: 60px;
  top: -9px;
}
