div.hr-dashboard-vacancy-summary {
  float: left;
  width: 70%;
  font-weight: bold;
}

.hr-dashboard-recent-activity {
  float: right;
  width: 30%;
  min-height: 5em;
}
table.hr-vacancy {
  float:left;
  width:50%;
  background-color: #EBEBEB;
}
.hr-stage-pipeline ul {
  list-style: none;
  display: inline;
  float:left;
  width:50%;
}

.hr-stage {
    width: 0;
    height: 0;
    display: block;
    float: left;
    margin: 0 -15px;
    padding: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

.hr-stage a:visited.hr-stage-link,
.hr-stage a:link.hr-stage-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    right: 60px;
    top: -9px;
}
