div.hr-dashboard-vacancy-summary {
  float: left;
  width: 70%;
  font-weight: bold;
}

.hr-dashboard-recent-activity {
  float: right;
  width: 30%;
  min-height: 5em;
}

.hr-stage-pipeline ul, .hr-vacancy {
  list-style: none;
  display: inline;
  float:left;
  width:50%;
}

li.hr-vacancy-position {
  display: table-cell;
}

.hr-vacancy-title {
font-size:17px;
}

.hr-stage {
    width: 0;
    height: 0;
    display: block;
    float: left;
    margin: 0 -15px;
    padding: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

a:visited.hr-stage-link, a:link.hr-stage-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    right: 60px;
    top: -9px;
}
