<div>
  <ul class="chr_leave-request-files_list container-fluid" ng-if="$ctrl.getFilesCount() > 0">
    <li ng-repeat="file in $ctrl.request.files | filter: {toBeDeleted: '!'}">{{file.toBeDeleted}}
      <div class="chr_leave-request-files_meta">
        <span class="chr_leave-request-files_author">{{$ctrl.getCommentorName(file.contact_id)}}</span>
        <span>-</span>
        <span class="chr_leave-request-files_date">{{$ctrl.formatDateTime(file.upload_date)}}</span>
      </div>
      <div class="row">
        <div class="chr_leave-request-files_icon text-primary col-xs-8">
          <i
            class="fa fa-file-o"
            ng-class="{
              'fa fa-file-pdf-o': file.mime_type === 'application/pdf',
              'fa fa-file-image-o': file.mime_type === 'image/png' || file.mime_type === 'image/jpeg' || file.mime_type === 'image/gif',
              'fa fa-file-excel-o': file.mime_type === 'application/excel',
              'fa fa-file-word-o': file.mime_type === 'application/msword'
            }"
            aria-hidden="true"></i>
          <span>{{file.name}}</span>
        </div>
        <div
          ng-show="$ctrl.removeAttachmentVisibility(file)"
          class="chr_leave-request-files_delete text-danger col-xs-4">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span
            class="btn btn-link"
            ng-disabled="$ctrl.isMode('view')"
            ng-click="$ctrl.request.deleteAttachment(file)">
            Remove
          </span>
        </div>
      </div>
      <hr/>
    </li>
    <span ng-if="$ctrl.request.fileUploader" ng-disabled="$ctrl.isMode('view')">
      <li ng-repeat="file in $ctrl.request.fileUploader.queue">
        <div class="chr_leave-request-files_meta">
          <span class="chr_leave-request-files_author">Me</span>
          <span>-</span>
          <span class="chr_leave-request-files_date">{{$ctrl.today | date: $ctrl.uiOptions.userDateFormatWithTime}}</span>
        </div>
        <div class="row">
          <div class="chr_leave-request-files_icon text-primary col-xs-8">
            <i
              class="fa fa-file-o"
              ng-class="{
                'fa fa-file-pdf-o': file.file.type == 'application/pdf',
                'fa fa-file-image-o': file.file.type == 'image/png' || file.file.type == 'image/jpeg' || file.file.type == 'image/gif',
                'fa fa-file-excel-o': file.file.type == 'application/excel',
                'fa fa-file-word-o': file.file.type == 'application/msword'
              }"
              aria-hidden="true"></i>
            <span>{{file.file.name}}</span>
          </div>
          <div
            ng-show="$ctrl.removeAttachmentVisibility(file)"
            class="chr_leave-request-files_delete text-danger col-xs-4">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <span
              class="btn btn-link"
              ng-disabled="$ctrl.isMode('view')"
              ng-click="$ctrl.request.fileUploader.removeFromQueue(file)">
              Remove</span>
          </div>
        </div>
        <hr/>
      </li>
    </span>
  </ul>
</div>
<div
  class="chr_leave-request-files_upload"
  ng-class="{'chr_disabled': !$ctrl.canUploadMore() || $ctrl.isMode('view')}">
  <div
    nv-file-drop
    uploader="$ctrl.request.fileUploader"
    ng-disabled="!$ctrl.request.fileUploader">
    <div class="chr_leave-request-files_upload_action row text-center">
      Drag and drop file here
    </div>
    <div class="chr_leave-request-files_upload_action row text-center">
      or
    </div>
    <div class="chr_leave-request-files_upload_action row text-center">
      <label class="btn btn-primary btn-file">
        Browse
        <input
          type="file"
          nv-file-select
          uploader="$ctrl.request.fileUploader"
          class="hidden">
      </label>
    </div>
  </div>
  <div class="chr_leave-request-files_upload_action row text-warning" ng-if="$ctrl.canUploadMore()">
    You can upload up to 10 files. The supported file extensions are {{ $ctrl.supportedFileTypes.join(', ') }}.
  </div>
  <div class="chr_leave-request-files_upload_action row text-warning text-center" ng-if="!($ctrl.canUploadMore())">
    You have reached the limit of 10 uploaded files.
  </div>
</div>
