<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">
    <span ng-show="$ctrl.isLeaveType('leave')">Leave Request</span>
    <span ng-show="$ctrl.isLeaveType('sickness')">Sick Absence</span>
    <span ng-show="$ctrl.isLeaveType('toil')">Accrue TOIL for additional work</span>
  </h4>
</div>
<crm-loading show="!$ctrl.loading.absenceTypes">
  <div
    ng-show="$ctrl.isRole('manager') && !$ctrl.isMode('create')"
    class="row chr_leave-request-modal__user-info">
    <span class="col-xs-6">{{$ctrl.contactName}}</span>
    <span class="col-xs-6">{{::$ctrl.statusBeforeEdit.label}}</span>
  </div>
  <!-- ng-show is required in model as it was not showing the list of managees for ui-select-choices-->
  <div class="modal-body chr_leave-request-modal__form">
    <div ng-show="$ctrl.isRole('manager')">
      <ui-select
        autofocus
        ng-model="$ctrl.request.contact_id"
        ng-change="$ctrl.initAfterContactSelection()"
        ng-required="true">
        <ui-select-match placeholder="Search Staff Member" allow-clear>
          <span ng-bind="$select.selected.display_name"></span>
        </ui-select-match>
        <ui-select-choices repeat="user.id as user in ($ctrl.managedContacts | filter: $select.search) track by user.id">
          <span ng-bind="user.display_name"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div
      ng-class="{'chr_disabled': (!$ctrl.request.contact_id || $ctrl.absenceTypes.length === 0 || $ctrl.postContactSelection)}"
      ng-show="!$ctrl.loading.absenceTypes">
      <div class="row">
        <div class="col-xs-12">
          <div class="chr_custom-select chr_custom-select--full">
            <select
              ng-hide="$ctrl.absenceTypes.length === 0"
              ng-disabled="$ctrl.isMode('view') || ($ctrl.isRole('manager') && !$ctrl.isMode('create'))"
              name="absenceTypeSelect"
              ng-options="absenceType.id as absenceType.title for absenceType in $ctrl.absenceTypes"
              ng-model="$ctrl.request.type_id"
              ng-change="$ctrl.updateBalance()"></select>
            <select
              ng-show="$ctrl.absenceTypes.length === 0"
              disabled="disabled">
              <option>You don't have any leave entitlement</option>
            </select>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <uib-tabset class="chr_leave-request-modal__tab">
            <uib-tab heading="Details">
              <ng-include src="pathTpl + 'request-modal/details/leave.html'"></ng-include>
              <ng-include
                ng-show="$ctrl.isLeaveType('toil')"
                src="pathTpl + 'request-modal/details/toil.html'"></ng-include>
              <crm-loading show="!$ctrl.loading.showBalanceChange">
                <div ng-show="$ctrl.uiOptions.showBalance">
                  <hr/>
                  <div class="row chr_leave-request-modal__form-group">
                    <div class="col-xs-4">Opening Balance</div>
                    <div class="col-xs-8">{{$ctrl.balance.opening}}</div>
                  </div>
                  <div
                    ng-show="$ctrl.isLeaveType('toil')"
                    class="row chr_leave-request-modal__form-group text-primary">
                    <div class="col-xs-4">
                      Change
                    </div>
                    <div class="col-xs-8">{{$ctrl.balance.change.amount}}</div>
                  </div>
                  <div ng-hide="$ctrl.isLeaveType('toil')">
                    <div
                      class="row chr_leave-request-modal__form-group text-primary pointer"
                      ng-click="$ctrl.uiOptions.isChangeExpanded = !$ctrl.uiOptions.isChangeExpanded">
                      <div class="col-xs-4">
                        <i
                          class="fa chr_leave-request-modal__chevron"
                          aria-hidden="true"
                          ng-class="{ 'fa-chevron-right': !$ctrl.uiOptions.isChangeExpanded, ' fa-chevron-down': $ctrl.uiOptions.isChangeExpanded }"></i>
                        Change
                      </div>
                      <div class="col-xs-8">{{$ctrl.balance.change.amount}}</div>
                    </div>
                    <table
                      class="table chr_leave-request-modal__table"
                      ng-show="$ctrl.uiOptions.isChangeExpanded">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Selection</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="breakdown in $ctrl.pagination.filteredbreakdown">
                          <td>{{breakdown.date | date:'EEE '+ $ctrl.uiOptions.userDateFormat}}</td>
                          <td>{{breakdown.type.label}}</td>
                          <td>{{breakdown.amount}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="text-center">
                            <uib-pagination
                              ng-if="$ctrl.pagination.totalItems"
                              total-items="$ctrl.pagination.totalItems"
                              ng-model="$ctrl.pagination.currentPage"
                              class="pagination"
                              ng-change="$ctrl.pagination.pageChanged()"
                              direction-links="false"
                              items-per-page="$ctrl.pagination.numPerPage"></uib-pagination>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="row" ng-class="{'text-danger': $ctrl.balance.closing < 0}">
                    <div class="col-xs-4">Closing Balance</div>
                    <div class="col-xs-8">{{$ctrl.balance.closing}}</div>
                  </div>
                </div>
              </crm-loading>
              <div class="row" ng-show="$ctrl.isLeaveType('toil')">
                <div class="col-xs-12 form-horizontal">
                  <hr>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Expiry Date</label>
                    <div class="col-xs-4">
                      <span
                        class="chr_leave-request-modal__span-expiry"
                        ng-if="!$ctrl.isRole('manager')">
                        {{$ctrl.request.toil_expiry_date | date: $ctrl.uiOptions.userDateFormat}}
                      </span>
                      <div ng-if="$ctrl.isRole('manager')" class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          uib-datepicker-popup
                          ng-readonly="true"
                          datepicker-options="$ctrl.uiOptions.date.expiry.options"
                          show-button-bar="false"
                          ng-model="$ctrl.uiOptions.expiryDate"
                          ng-change="$ctrl.updateExpiryDate()"
                          is-open="$ctrl.uiOptions.date.expiry.show"/>
                        <span class="input-group-btn">
                          <button
                            type="button"
                            class="btn btn-default fa fa-calendar"
                            ng-click="$ctrl.uiOptions.date.expiry.show = true"></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-include
                ng-show="$ctrl.isLeaveType('sickness')"
                src="pathTpl + 'request-modal/details/sickness.html'"></ng-include>
            </uib-tab>
            <uib-tab heading="Comments">
              <div
                class="text-center chr_leave-request-modal__comments_empty"
                ng-show="$ctrl.getActiveComments().length === 0">
                No comments available. Comments can be added below.
              </div>
              <div
                class="chr_leave-request-modal__comments"
                ng-hide="$ctrl.getActiveComments().length === 0">
                <div
                  class="chr_leave-request-comment"
                  ng-repeat="comment in $ctrl.getActiveComments() | orderBy: $ctrl.orderComment : true">
                  <div class="chr_leave-request-comment__meta">
                    <span class="chr_leave-request-comment__author">{{$ctrl.getCommentorName(comment.contact_id)}}</span>
                    <span>
                      -
                    </span>
                    <span class="chr_leave-request-comment__date">{{$ctrl.formatDateTime(comment.created_at)}}</span>
                    <button
                      class="btn btn-link"
                      ng-disabled="$ctrl.isMode('view')"
                      ng-click="$ctrl.request.deleteComment(comment)"
                      ng-show="$ctrl.removeCommentVisibility(comment)">Remove
                    </button>
                  </div>
                  <div class="chr_leave-request-comment__text" ng-bind-html="comment.text"></div>
                </div>
              </div>
              <div
                class="chr_wysiwyg"
                text-angular
                prevent-animations
                ta-disabled="$ctrl.isMode('view')"
                ta-toolbar="[['bold','italics','underline']]"
                ng-model="$ctrl.comment.text"></div>
              <div class="chr_wysiwyg__action">
                <hr/>
                <button
                  class="btn btn-link"
                  ng-click="$ctrl.addComment()"
                  ng-disabled="$ctrl.comment.text.length === 0 || $ctrl.isMode('view')">
                  <i class="fa fa-comment-o" aria-hidden="true"></i>
                  Add comment
                </button>
              </div>
            </uib-tab>
            <uib-tab heading="Files">
              <div>
                <ul class="chr_leave-request-files_list container-fluid" ng-if="$ctrl.getFilesCount() > 0">
                  <li ng-repeat="file in $ctrl.request.files | filter: {toBeDeleted: '!'}">{{file.toBeDeleted}}
                    <div class="chr_leave-request-files_meta">
                      <span class="chr_leave-request-files_author">{{$ctrl.getCommentorName(file.contact_id)}}</span>
                      <span>-</span>
                      <span class="chr_leave-request-files_date">{{$ctrl.formatDateTime(file.upload_date)}}</span>
                    </div>
                    <div class="row">
                      <div class="chr_leave-request-files_icon text-primary col-xs-8">
                        <i
                          class="fa fa-file-o"
                          ng-class="{
                            'fa fa-file-pdf-o': file.mime_type === 'application/pdf',
                            'fa fa-file-image-o': file.mime_type === 'image/png' || file.mime_type === 'image/jpeg' || file.mime_type === 'image/gif',
                            'fa fa-file-excel-o': file.mime_type === 'application/excel',
                            'fa fa-file-word-o': file.mime_type === 'application/msword'
                            }"
                          aria-hidden="true"></i>
                        <span>{{file.name}}</span>
                      </div>
                      <div
                        ng-show="$ctrl.removeAttachmentVisibility(file)"
                        class="chr_leave-request-files_delete text-danger col-xs-4">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <span
                          class="btn btn-link"
                          ng-disabled="$ctrl.isMode('view')"
                          ng-click="$ctrl.request.deleteAttachment(file)">
                          Remove</span>
                      </div>
                    </div>
                    <hr/>
                  </li>
                  <span ng-if="$ctrl.request.fileUploader" ng-disabled="$ctrl.isMode('view')">
                    <li ng-repeat="file in $ctrl.request.fileUploader.queue">
                      <div class="chr_leave-request-files_meta">
                        <span class="chr_leave-request-files_author">Me</span>
                        <span>-</span>
                        <span class="chr_leave-request-files_date">{{$ctrl.today | date: $ctrl.uiOptions.userDateFormatWithTime}}</span>
                      </div>
                      <div class="row">
                        <div class="chr_leave-request-files_icon text-primary col-xs-8">
                          <i
                            class="fa fa-file-o"
                            ng-class="{
                            'fa fa-file-pdf-o': file.file.type == 'application/pdf',
                            'fa fa-file-image-o': file.file.type == 'image/png' || file.file.type == 'image/jpeg' || file.file.type == 'image/gif',
                            'fa fa-file-excel-o': file.file.type == 'application/excel',
                            'fa fa-file-word-o': file.file.type == 'application/msword'
                            }"
                            aria-hidden="true"></i>
                          <span>{{file.file.name}}</span>
                        </div>
                        <div
                          ng-show="$ctrl.removeAttachmentVisibility(file)"
                          class="chr_leave-request-files_delete text-danger col-xs-4">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                          <span
                            class="btn btn-link"
                            ng-disabled="$ctrl.isMode('view')"
                            ng-click="$ctrl.request.fileUploader.removeFromQueue(file)">
                            Remove</span>
                        </div>
                      </div>
                      <hr/>
                    </li>
                  </span>
                </ul>
              </div>
              <div class="chr_leave-request-files_upload"
                ng-class="{'chr_disabled': !$ctrl.canUploadMore() || $ctrl.isMode('view')}">
                <div
                  nv-file-drop
                  uploader="$ctrl.request.fileUploader"
                  ng-disabled="!$ctrl.request.fileUploader">
                  <div class="chr_leave-request-files_upload_action row text-center">
                    Drag and drop file here
                  </div>
                  <div class="chr_leave-request-files_upload_action row text-center">
                    or
                  </div>
                  <div class="chr_leave-request-files_upload_action row text-center">
                    <label class="btn btn-primary btn-file">
                      Browse
                      <input
                        type="file"
                        nv-file-select
                        uploader="$ctrl.request.fileUploader"
                        class="hidden">
                    </label>
                  </div>
                </div>
                <div class="chr_leave-request-files_upload_action row text-warning" ng-if="$ctrl.canUploadMore()">
                  You can upload up to 10 files. The supported file extensions are {{ $ctrl.supportedFileTypes.join(', ') }}.
                </div>
                <div class="chr_leave-request-files_upload_action row text-warning text-center" ng-if="!($ctrl.canUploadMore())">
                  You have reached the limit of 10 uploaded files.
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <div
        ng-show="$ctrl.isRole('manager')"
        class="row chr_leave-request-modal__response">
        <div class="col-xs-12 form-horizontal">
          <div class="form-group">
            <label class="col-xs-4 control-label">Set status to:<i class="fa fa-asterisk"></i>
            </label>
            <div class="col-xs-8">
              <div class="chr_custom-select chr_custom-select--full">
                <select
                  name="statusSelect"
                  ng-options="status.value as status.label for status in $ctrl.getStatuses()"
                  ng-model="$ctrl.request.status_id">
                  <option value="">- select -</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="$ctrl.request.selectedResponse == 3">
          <div class="col-xs-12">Please add a comment:</div>
          <div class="col-xs-12">
            <div
              class="chr_wysiwyg"
              text-angular
              prevent-animations
              ta-toolbar="[['bold','italics','underline']]"
              ng-model="myleave.request.responseComment"></div>
            <div class="chr_wysiwyg__action">
              <hr/>
              <button class="btn btn-link">
                <i class="fa fa-comment-o" aria-hidden="true"></i>
                Add comment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    ng-if="$ctrl.errors.length"
    uib-alert
    type="danger"
    close="$ctrl.closeAlert()"
    dismiss-on-timeout="5000">
    <div ng-repeat="errMsg in $ctrl.errors track by $index">{{errMsg}}</div>
  </div>
  <crm-loading show="!$ctrl.submitting">
    <div class="modal-footer chr_leave-request-modal__footer">
      <button
        type="button"
        class="btn btn-primary pull-left"
        ng-click="$ctrl.cancel()">
        Back
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        ng-disabled="!$ctrl.canSubmit() || $ctrl.submitting"
        ng-click="$ctrl.submit()">Save
      </button>
    </div>
  </crm-loading>
</crm-loading>
