<section class="panel panel-default panel--key-dates"
  ng-controller="KeyDatesController as KeyDates">
  <header class="panel-heading">
    <h2 class="panel-title">Key Dates</h2>
  </header>
  <div class="panel-body" ng-if="KeyDates.dates.length || !KeyDates.ready"
    ng-class="{ loaded: KeyDates.ready }">
    <crm-loading show="KeyDates.ready">
      <div class="panel-body-section">
        <ul class="list-unstyled chr_timeline">
          <li class="chr_timeline__entry"
            ng-class="{ 'chr_timeline__entry--past': !value.future, 'chr_timeline__entry--future': value.future }"
            ng-repeat="(key, value) in dates = (KeyDates.dates | orderBy: 'date')">
            <span class="chr_timeline__entry__name">{{value.title}}</span>
            <span class="chr_timeline__entry__date">{{value.date}}</span>
          </li>
        </ul>
      </div>
    </crm-loading>
  </div>
  <footer class="panel-footer text-center" ng-if="KeyDates.ready">
    <div class="row">
      <div class="col-md-6">
        <strong>{{KeyDates.activeContracts}} Active Job Contracts</strong>
      </div>
      <div class="col-md-6">
        <strong>{{KeyDates.activeRoles}} Active Roles or Projects</strong>
      </div>
    </div>
  </footer>
</section>
