/* stylelint-disable selector-max-id */
#civicrm-footer {
  background-color: #e8eef0 !important;
  border-top: 1px solid #ddd;
  color: #727e8a;
  font-size: 13px;
  height: 250px;
  line-height: 2;
  padding-top: 85px;

  a {
    color: #42afcb;

    &:hover,
    &:visited {
      color: #42afcb;
    }
  }
}
/* stylelint-enable selector-max-id */

.footer-logo {
  margin-top: 25px;
}

.crm-tooltip table td {
  width: 50%;
  word-wrap: break-word;
}

.crm-contact-delete,
.crm-contact-permanently-delete
.crm-contact-restore {
  display: none;
}

/* This hides the notes and permissions field on Add Relationship Modal */
.crm-relationship-form-block-note,
.crm-relationship-form-block-is_permission_a_b,
.crm-relationship-form-block-is_permission_b_a {
  display: none;
}

/*This hides some fields on the Import Page*/
/* stylelint-disable selector-max-id */
#crm-import-datasource-form-block-dataSource,
.crm-import-datasource-form-block-contactType,
.crm-import-datasource-form-block-dedupe,
.crm-import-datasource-form-block-fieldSeparator,
.crm-custom-import-uploadfile-from-block-contactType {
  display: none;
}
/* stylelint-enable selector-max-id */
