<div class="panel panel-default leave-widget">
  <header class="panel-heading">
    <h2 class="panel-title">Leave</h2>
  </header>
  <div class="panel-body">
    <div class="leave-widget__types">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Type</th>
            <th>
              Available balance
              <button>
                <i class="fa fa-info"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="leave-widget__types-name">Holiday/Vacation</td>
            <td class="leave-widget__types-balance">8d 5h</td>
          </tr>
          <tr>
            <td class="leave-widget__types-name">Holiday/Vacation</td>
            <td class="leave-widget__types-balance">8d 5h</td>
          </tr>
          <tr>
            <td class="leave-widget__types-name">Holiday/Vacation</td>
            <td class="leave-widget__types-balance">8d 5h</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />

    <div class="leave-widget__sickness">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Sickness</th>
            <th>
              Amount taken
              <button>
                <i class="fa fa-info"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="leave-widget__sickness-type">Sick</td>
            <td class="leave-widget__sickness-balance">8d 1h</td>
          </tr>
        </tbody>
      </table>

      <h4>Sickness heatmap</h4>

      <ul class="leave-widget__sickeness__heatmap">
        <li>M</li>
        <li>T</li>
        <li>W</li>
        <li>T</li>
        <li>F</li>
        <li>S</li>
        <li>S</li>
      </ul>
    </div>

    <hr />

    <div class="leave-widget__next-leave">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Next leave</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="leave-widget__next-leave__details">
              <h3>Holiday/Vacation</h3>
              <div class="leave-widget__next-leave__date-range">
                <div class="leave-widget__next-leave__date-range__from">
                  <span class="leave-widget__next-leave__date-range__day">
                    14
                  </span>
                  <span class="leave-widget__next-leave__date-range__month">
                    Aug
                  </span>
                  <span class="leave-widget__next-leave__date-range__year">
                    2017
                  </span>
                  <span class="leave-widget__next-leave__date-range__time">
                    (11:00)
                  </span>
                </div>
                <div class="leave-widget__next-leave__date-to">
                  <span class="leave-widget__next-leave__date-range__day">
                    18
                  </span>
                  <span class="leave-widget__next-leave__date-range__month">
                    Aug
                  </span>
                  <span class="leave-widget__next-leave__date-range__year">
                    2017
                  </span>
                  <span class="leave-widget__next-leave__date-range__time">
                    (11:00)
                  </span>
                </div>
              </div>
            </td>
            <td class="leave-widget__next-leave__status">Approved</td>
          </tr>
        </tbody>
      </table>

      <h4>Deduction</h4>
      <span>4d 8h</span>
    </div>
  </div>
</div>
