@import "SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/overrides/variables";
@import "SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/variables";

@import 'settings';
@import 'base';
@import 'foundation-emails';

@import 'components/callout';
@import 'components/email';
