calendar-feeds-dropdown-button {
  .dropdown-menu .divider {
    margin: 0;
  }
}

@media screen and (max-width: $screen-xs-max) {
  calendar-feeds-dropdown-button {
    margin-top: $crm-gap-medium;

    &,
    .btn-group,
    .btn {
      width: 100%;
    }
  }
}
