leave-request-record-actions {
  display: block;

  .leave-request-record-actions__button {
    display: block;
    float: left;
    margin-left: 0;

    &:first-child {
      margin-right: $crm-gap-medium;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  leave-request-record-actions {
    .leave-request-record-actions__button {
      width: 100%;

      > .btn {
        width: 100%;
      }

      &:first-child {
        margin-bottom: $crm-gap-medium;
        margin-right: 0;
      }
    }
  }
}
