leave-request-record-actions {
  display: block;

  .btn,
  .btn-group {
    float: left;
  }

  .btn:not(:last-child) {
    margin-right: $crm-gap-medium;
  }
}

@media screen and (max-width: $screen-xs-max) {
  leave-request-record-actions {
    &,
    .btn-group,
    .btn {
      width: 100%;
    }

    .btn:not(:last-child) {
      margin-bottom: $crm-gap-medium;
      margin-right: 0;
    }
  }
}
