.chr_leave__page-selector-dropdown {
  margin-right: 5px;
  position: relative;
  top: 1px;
  width: calc(100% - 75px);
}

leave-request-record-actions {
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}
