.chr_leave-report__label {
  color: $gray-darker;
  font-weight: 700;

  > .fa {
    margin-right: 5px;
  }
}

.chr_leave-report__label--toggle {
  cursor: pointer;
  user-select: none;
}


.chr_leave-report__heading {

  .chr_leave-report__export-button {
    line-height: 2.4;
  }
}


.chr_leave-report__table {

  table,
  .table {
    @include table-first-row-border();

    margin-bottom: 0;
    // Fix for a rendering bug in firefox and chrome, where the background
    // is painted over the cell borders
    border-collapse: separate;

    > thead {

      > tr {

        // The headings have a different background and different color than normal cells
        > th {
          background: $crm-table-heading-bg;
          border-bottom: 0;
          color: $gray-darker;
          text-transform: capitalize;
        }
      }
    }

    > tbody {

      > tr:first-child > td {
        border-color: $table-border-color !important;
      }
    }

    > tfoot {

      > tr {
        background: $crm-table-heading-bg;
      }
    }
  }

  // The outer table's headings have a different padding than normal cells
  > table,
  > .table {

    > thead {

      > tr {

        > th {
          $padding-y: nth($chr-table-heading-padding, 1);

          padding-bottom: $padding-y;
          padding-top: $padding-y;
        }
      }
    }
  }
}

.chr_leave-report__table__heading--action {
  width: 3.5%;
}

.chr_leave-report__table__heading--label {
  width: 24.57%;
}

.chr_leave-report__table__heading--dates {
  width: 15.8%;
}

.chr_leave-report__table__heading--status {
  width: 16%;
}

.chr_leave-report__table__heading--type {
  width: 7.46%;
}
