.chr_manage_leave_requests {
  .chr_manage_leave_requests__header {
    background-color: $chr-panel-header-background;
    border-bottom: 1px solid $crm-dark-grayblue;
    margin: 0;

    .panel-title {
      margin-top: 5px;
      display: inline-block;
    }

    @media screen and (max-width: $screen-md-max) {
      > span {
        display: block;
        padding-bottom: 20px;
      }
    }
  }

  .chr_manage_leave_requests__filter {
    display: inline-block;
    margin-top: 7px;
    white-space: nowrap;

    .fa {
      font-size: 0.6em;
      vertical-align: middle;
      margin-right: 5px;
    }

    @media screen and (max-width: $screen-sm-max) {
      margin-top: 15px;
    }
  }

  .chr_manage_leave_requests__sub-header {
    background-color: $chr-panel-header-background;
    margin: 0;
    padding-top: 15px;

    @media screen and (max-width: $screen-md-max) {
      > div {
        padding-bottom: 20px;
      }
    }
  }

  .chr_manage_leave_requests__panel_body {
    border-top: 1px solid $crm-dark-grayblue;
    margin: 0;
    padding: 0;

    [class^="col-"],
    [class*=" col-"] {
      padding: 0;
    }

    a {
      cursor: pointer;
    }
  }

  .chr_manage_leave_requests__status_container {
    background-color: $chr-panel-header-background;
  }
}

/*
 * This is a temporary patch which fixes CSS in the component
 * @TODO remove this patch when Shoreditch theme is migrated to SSP
 */
.chr_manage_leave_requests {
  &[data-role="admin"] {
    .form-group {
      overflow: inherit !important;
    }

    .panel {
      /*
       * As per /sites/all/modules/civicrm/css/civicrm.css
       * ".crm-container .panel" has a style property
       * "background: transparent url(../i/dropdown-pointer.gif)...",
       * which looks like a small black triangle on the top of the panel.
       * This patch removes this triangle.
       */
      background-image: none !important;
    }

    .panel-body, .chr_vertical_tabs {
      background-color: $chr-panel-header-background;
    }

    input[type="search"] {
      width: 100% !important;
    }
  }

  .chr_manage_leave_requests__sub-header .checkbox {
    margin-top: 5px;
  }
}

/*
 * This is a temporary patch which fixes CSS in the component (for SSP only)
 * @TODO remove this patch when Shoreditch theme is migrated to SSP
 */
.page-manager-leave {
  .chr_manage_leave_requests {
    .btn-sm {
      /*
       * We must use .btn-sm as per Bootstrap Style Guide,
       * however in this case the font in buttons will be smaller in SSP,
       * than for other elements.
       * This patch makes these buttons look consistent with other elements.
       */
      font-size: 100% !important;
    }
  }
}
