.chr_manager_calendar__header {
  padding-top: 15px;
  background-color: #f4f7f8;

  > div {
    display: inline-block;
    margin: 0 10px;
    width: calc(16.4% - 20px);
    vertical-align: top;
  }
}
