.ui-select-container {
  &:not(.ui-select-multiple) {
    .btn:hover {
      background: $light;
    }

    .dropdown-menu {
      border: 1px solid $crm-color-neutral;
      border-top: 1px solid transparent;
    }

    .ui-select-match-text {
      padding-right: 3em;
      color: $gray;

      span {
        text-overflow: ellipsis;
      }
    }

    a.btn {
      margin-right: 14px !important;
    }

    .glyphicon-remove {
      font-size: 10px;
    }

    .caret {
      display: none;
    }

    input {
      border: 1px solid $crm-color-neutral !important;
      box-shadow: none !important;
    }

    &:after {
      content: '\f002';
      bottom: 0;
      font-family: "FontAwesome";
      display: inline-block;
      height: 33px;
      line-height: 35px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 32px;
      z-index: 1;
      -webkit-font-smoothing: antialiased;
    }
  }

  .text-muted {
    color: $crm-color-neutral;
  }
}

.ui-select-multiple {
  padding: 3px !important;

  &:after {
    @include dropdown-arrow();
  }
}

.ui-select-bootstrap .ui-select-choices-row {
  > span {
    color: $gray;
    font-size: $crm-font-size-small;
    padding: 3px 10px;
  }

  &.active > span {
    color: $gray;
    background: $light-gray;
  }
}
