<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contract Entitlements</h3>
  </div>
  <div class="table-responsive" ng-show="entitlements.contracts !== null && entitlements.contracts.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th style="width:140px">Position</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th ng-repeat="absenceType in entitlements.absenceTypes">{{absenceType.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contract in entitlements.contracts">
          <td>{{contract.position}}</td>
          <td>{{contract.start_date}}</td>
          <td>{{contract.end_date}}</td>
          <td ng-repeat="absence in contract.absences">{{absence.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-body" ng-show="entitlements.contracts !== null && entitlements.contracts.length === 0">
    None found.
  </div>
  <div class="panel-body" ng-show="entitlements.contracts === null">
    <crm-loading></crm-loading>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Annual Entitlements</h3>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width:130px">Period</th>
          <th>Sick</th>
          <th>Vacation</th>
          <th>Marernity</th>
          <th>Paternity</th>
          <th>TOIL</th>
          <th>Other</th>
          <th style="width:150px"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2016 <i class="fa fa-clock-o text-primary" aria-hidden="true"></i></td>
          <td>30</td>
          <td>40</td>
          <td>50 <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i></td>
          <td>30</td>
          <td>40</td>
          <td>50</td>
          <td><a href="#">Edit Entitlements</a></td>
        </tr>
        <tr>
          <td>2015 <i class="fa fa-clock-o text-primary" aria-hidden="true"></i></td>
          <td>30</td>
          <td>40</td>
          <td>50 <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i></td>
          <td>30</td>
          <td>40</td>
          <td>50</td>
          <td><a href="#">Edit Entitlements</a></td>
        </tr>
        <tr>
          <td>2014 <i class="fa fa-clock-o text-primary" aria-hidden="true"></i></td>
          <td>30</td>
          <td>40</td>
          <td>50 <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i></td>
          <td>30</td>
          <td>40</td>
          <td>50</td>
          <td><a href="#">Edit Entitlements</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
