<div class="absence-tab-page">
  <div class="container">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-info"
        leave-request-popup leave-type="leave"
        contact-id="absence.contactId"
        user-role="{{$root.role}}"
        selected-contact-id="$root.settings.contactId">Record New Absence
      </button>
      <button
        type="button"
        class="btn btn-info dropdown-toggle"
        data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li>
          <a
            leave-request-popup user-role="{{$root.role}}"
            contact-id="contactId" leave-type="sickness"
            selected-contact-id="$root.settings.contactId"
            href="#">Record Sickness
          </a>
        </li>
        <li>
          <a
            leave-request-popup user-role="{{$root.role}}"
            contact-id="contactId" leave-type="toil"
            selected-contact-id="$root.settings.contactId"
            href="#">Record Overtime
          </a>
        </li>
      </ul>
    </div>
    <uib-tabset
      active="active"
      type="pills"
      custom-header-class="nav-pills-horizontal nav-pills-horizontal-default">
      <uib-tab heading="Report" data-tabname="report">
        <staff-leave-report ng-if="active === 0" contact-id="$root.settings.contactId"></staff-leave-report>
      </uib-tab>
      <uib-tab heading="Calendar" data-tabname="calendar">
        <staff-leave-calendar ng-if="active === 1" contact-id="$root.settings.contactId"></staff-leave-calendar>
      </uib-tab>
      <uib-tab heading="Entitlements" data-tabname="entitlements">
        <absence-tab-entitlements ng-if="active === 2" contact-id="$root.settings.contactId"></absence-tab-entitlements>
      </uib-tab>
      <uib-tab heading="Work Patterns" data-tabname="workpatterns">
        <absence-tab-work-patterns ng-if="active === 3" contact-id="$root.settings.contactId"></absence-tab-work-patterns>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
