<div class="tabs-container">
  <div class="container">
    <ul class="nav nav-tabs nav-justified nav-tabs-header">
      <li ui-sref-active="active">
        <a ui-sref="absence-tab.report">Report</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="absence-tab.calendar">Calendar</a>
      </li>
      <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="absence-tab.entitlements">Entitlements</a>-->
      <!--</li>-->
      <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="absence-tab.workpatterns">Work Patterns</a>-->
      <!--</li>-->
    </ul>
    <div class="tab-content">
      <div ui-view></div>
    </div>
  </div>
</div>

