<div class="panel panel-default chr_annual-entitlements">
  <div class="panel-heading">
    <h3 class="panel-title">Annual Entitlements</h3>
  </div>
  <crm-loading show="entitlements.loaded.absencePeriods">
    <div class="table-responsive" ng-show="entitlements.loaded.absencePeriods && entitlements.absencePeriods.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th class="chr_annual-entitlements__period">Period</th>
            <th ng-repeat="absenceType in entitlements.absenceTypes">{{absenceType.title}}</th>
            <th class="chr_annual-entitlements__edit-entitlements"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="absencePeriod in entitlements.absencePeriods">
            <td>{{absencePeriod.period}} <i class="fa fa-clock-o text-primary" aria-hidden="true"></i></td>
            <td ng-repeat="absence in absencePeriod.absences">
              {{absence.amount}}
              <i
                class="fa fa-exclamation-circle text-danger chr_annual-entitlements__button-icon"
                ng-if="absence.comment"
                ng-click="entitlements.showComment(absence.comment)"
                aria-hidden="true">
              </i>
            </td>
            <td><a href="/civicrm/admin/leaveandabsences/periods/manage_entitlements?cid={{entitlements.contactId}}&returnUrl=%2Fcivicrm%2Fcontact%2Fview%3Fcid%3D{{entitlements.contactId}}%26selectedChild%3Dabsence">Edit Entitlements</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-body" ng-show="entitlements.loaded.absencePeriods && entitlements.absencePeriods.length === 0">
      None found.
    </div>
  </crm-loading>
</div>
