<div class="anual-entitlement-change-log-component panel panel-default">
  <div class="panel-heading">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    ng-click="changeLog.dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="panel-title">Anual entitlement change log</h3>

    <p>
      Period {{changeLog.absencePeriod.title}} -
      from {{changeLog.absencePeriod.start_date | date:'MMM dd, yyyy'}}
      to {{changeLog.absencePeriod.end_date | date:'MMM dd, yyyy'}}
    </p>
  </div>

  <div class="panel-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>Date Changed</td>
          <td>Sick</td>
          <td>Vacation</td>
          <td>Maternity</td>
          <td>Paternity</td>
          <td>TOIL</td>
          <td>Other</td>
          <td>Comment</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>31/1/2015</td>
          <td>0</td>
          <td>32</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>Added 4 days ago</td>
        </tr>
        <tr>
          <td>0</td>
          <td>32</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>31/1/2015</td>
          <td>Added 4 days ago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
