<div class="annual-entitlement-change-log-component panel panel-default">
  <div class="panel-heading">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    ng-click="changeLog.dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="panel-title">Anual entitlement change log</h3>
    <p>
      Period {{changeLog.absencePeriod.title}} -
      from {{changeLog.absencePeriod.start_date | date:'MMM dd, yyyy'}}
      to {{changeLog.absencePeriod.end_date | date:'MMM dd, yyyy'}}
    </p>
  </div>
  <div class="panel-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="annual-entitlement-change-log-component__date-changed">Date Changed</td>
          <td class="annual-entitlement-change-log-component__entitlements" ng-repeat="period in changeLog.absenceTypes">
            {{period.title}}
          </td>
          <td class="annual-entitlement-change-log-component__comments">Comments</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="change in changeLog.changeLogRows">
          <td>{{change.date.format('DD/MM/YYYY')}}</td>
          <td ng-repeat="entitlement in change.entitlements track by $index" ng-class="{'bg-info': entitlement === change.highlightedEntitlement}">
            {{entitlement.entitlement_amount | timeUnitApplier:entitlement.calculation_unit}}
          </td>
          <td>
            <span ng-if="change.highlightedEntitlement">
              {{change.highlightedEntitlement.comment}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
