<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contract Entitlements</h3>
  </div>
  <crm-loading show="entitlements.loaded.contracts">
    <div class="table-responsive" ng-show="entitlements.loaded.contracts && entitlements.contracts.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th class="chr_contract-entitlements__position">Position</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th ng-repeat="absenceType in entitlements.absenceTypes">{{absenceType.title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contract in entitlements.contracts">
            <td>{{contract.position}}</td>
            <td>{{contract.start_date}}</td>
            <td>{{contract.end_date}}</td>
            <td ng-repeat="absence in contract.absences">{{absence.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-body" ng-show="entitlements.loaded.contracts && entitlements.contracts.length === 0">
      None found.
    </div>
  </crm-loading>
</div>
