<div class="admin-dashboard-page">
  <div class="crm_page__topbar">
    <div class="pull-right">
      <record-leave-request
        btn-class="btn-default-outline"
        contact-id="$root.settings.contactId">
      </record-leave-request>
    </div>
  </div>
  <div class="chr_admin-dashboard_content pull-right">
    <div ui-view></div>
  </div>
  <div class="chr_admin-dashboard_side-nav">
    <ul class="nav nav-pills nav-stacked nav-pills-stacked-sidebar">
      <li ui-sref-active="active"><a ui-sref="requests">Leave Requests</a></li>
      <li ui-sref-active="active"><a ui-sref="calendar">Calendar</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
