<div class="tab-pane" id="appraisals">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default panel--appraisals-in-cycle">
                <div class="panel-heading">
                    <header>
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="panel-title">
                                    Appraisals in Cycle
                                </h2>
                            </div>
                            <div class="col-sm-4 text-right">
                                <span style="cursor: pointer;" ng-click="cycle.filtersCollapsed = !cycle.filtersCollapsed">
                                    <i
                                        class="fa fa-fw fa-0_5x"
                                        ng-class="{ 'fa-angle-right': cycle.filtersCollapsed, 'fa-angle-down': !cycle.filtersCollapsed }">
                                    </i>
                                    Filter Appraisals
                                </span>
                            </div>
                        </div>
                        <div class="panel--appraisals-in-cycle__filters">
                            <div collapse="cycle.filtersCollapsed">
                            <form class="panel--appraisals-in-cycle__filters__form form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            <label for="contact" class="control-label col-sm-3">
                                                Contact:
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="contact">
                                                <span class="fa fa-search form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            <label for="line-manager" class="control-label col-sm-3">
                                                Line Manager:
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="line-manager">
                                                <span class="fa fa-search form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="role" class="control-label col-sm-3">
                                                Role:
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="crm_custom-select crm_custom-select--full">
                                                    <select class="form-control" id="role">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="crm_custom-select__arrow"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="department" class="control-label col-sm-3">
                                                Department:
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="crm_custom-select crm_custom-select--full">
                                                    <select
                                                        class="form-control"
                                                        id="department"
                                                        ng-model="cycle.filters.department_id"
                                                        ng-options="department.value as department.label for department in cycle.departments">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="crm_custom-select__arrow"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="level" class="control-label col-sm-3">
                                                Level:
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="crm_custom-select crm_custom-select--full">
                                                    <select
                                                        class="form-control"
                                                        id="level"
                                                        ng-model="cycle.filters.level_id"
                                                        ng-options="level.value as level.label for level in cycle.levels">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="crm_custom-select__arrow"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="location" class="control-label col-sm-3">
                                                Location:
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="crm_custom-select crm_custom-select--full">
                                                    <select
                                                        class="form-control"
                                                        id="location"
                                                        ng-model="cycle.filters.location_id"
                                                        ng-options="location.value as location.label for location in cycle.locations">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="crm_custom-select__arrow"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="region" class="control-label col-sm-3">
                                                Region:
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="crm_custom-select crm_custom-select--full">
                                                    <select
                                                        class="form-control"
                                                        id="region"
                                                        ng-model="cycle.filters.region_id"
                                                        ng-options="region.value as region.label for region in cycle.regions">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="crm_custom-select__arrow"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="status" class="control-label col-sm-3">
                                                Status:
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="crm_custom-select crm_custom-select--full">
                                                    <select class="form-control" id="status">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="crm_custom-select__arrow"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            <label for="self-due-from" class="control-label col-sm-7">
                                                Self Appraisal Due From:
                                            </label>
                                            <div class="col-sm-5">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="self-due-from"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_self_appraisal_due.from"
                                                        ng-init="dashboard.calendars.selfFrom = false"
                                                        ng-click="dashboard.calendars.selfFrom = !dashboard.calendars.selfFrom"
                                                        is-open="dashboard.calendars.selfFrom">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group form-group-sm">
                                            <label for="self-due-to" ng-model="dashboard.filters.self.to" class="control-label col-sm-2">
                                                To:
                                            </label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="self-due-to"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_self_appraisal_due.to"
                                                        ng-init="dashboard.calendars.selfTo = false"
                                                        ng-click="dashboard.calendars.selfTo = !dashboard.calendars.selfTo"
                                                        is-open="dashboard.calendars.selfTo">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            <label for="manager-due-from" class="control-label col-sm-7">
                                                Manager Appr. Due From:
                                            </label>
                                            <div class="col-sm-5">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="manager-due-from"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_manager_appraisal_due.from"
                                                        ng-init="dashboard.calendars.managerFrom = false"
                                                        ng-click="dashboard.calendars.managerFrom = !dashboard.calendars.managerFrom"
                                                        is-open="dashboard.calendars.managerFrom">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group form-group-sm">
                                            <label for="manager-due-to" class="control-label col-sm-2">
                                                To:
                                            </label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="manager-due-to"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_manager_appraisal_due.to"
                                                        ng-init="dashboard.calendars.managerTo = false"
                                                        ng-click="dashboard.calendars.managerTo = !dashboard.calendars.managerTo"
                                                        is-open="dashboard.calendars.managerTo">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            <label for="grade-due-from" class="control-label col-sm-7">
                                                Grade Due From:
                                            </label>
                                            <div class="col-sm-5">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="grade-due-from"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_grade_due.from"
                                                        ng-init="dashboard.calendars.gradeFrom = false"
                                                        ng-click="dashboard.calendars.gradeFrom = !dashboard.calendars.gradeFrom"
                                                        is-open="dashboard.calendars.gradeFrom">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group form-group-sm">
                                            <label for="grade-due-to" class="control-label col-sm-2">
                                                To:
                                            </label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="grade-due-to"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_grade_due.to"
                                                        ng-init="dashboard.calendars.gradeTo = false"
                                                        ng-click="dashboard.calendars.gradeTo = !dashboard.calendars.gradeTo"
                                                        is-open="dashboard.calendars.gradeTo">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            <label for="appraisal-due-from" class="control-label col-sm-7">
                                                Appraisal Period From:
                                            </label>
                                            <div class="col-sm-5">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="appraisal-due-from"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_start_date.from"
                                                        ng-init="dashboard.calendars.periodFrom = false"
                                                        ng-click="dashboard.calendars.periodFrom = !dashboard.calendars.periodFrom"
                                                        is-open="dashboard.calendars.periodFrom">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group form-group-sm">
                                            <label for="appraisal-due-to" class="control-label col-sm-2">
                                                To:
                                            </label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-sm input-group-unstyled">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="appraisal-due-to"
                                                        datepicker-popup="dd/MM/yyyy"
                                                        ng-model="dashboard.filters.cycle_end_date.to"
                                                        ng-init="dashboard.calendars.periodTo = false"
                                                        ng-click="dashboard.calendars.periodTo = !dashboard.calendars.periodTo"
                                                        is-open="dashboard.calendars.periodTo">
                                                    <span class="input-group-addon fa fa-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </header>
                    <hr ng-show="cycle.filtersCollapsed">
                    <div class="row form-horizontal form-horizontal-inline">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="action" class="control-label col-sm-3">
                                    Actions:
                                </label>
                                <div class="col-sm-9">
                                    <div class="crm_custom-select crm_custom-select--full">
                                        <select id="action" class="form-control">
                                            <option value="">---</option>
                                        </select>
                                        <span class="crm_custom-select__arrow"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio text-right pull-right">
                                <label>
                                    <input name="bulk-selected" type="radio">
                                    <strong>3 selected appraisals only</strong>
                                </label>
                            </div>
                            <div class="radio text-right pull-right" style="margin-right: 20px;">
                                <label>
                                    <input name="bulk-selected" type="radio">
                                    <strong>All 100 appraisals</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox">
                                </th>
                                <th>Contact</th>
                                <th>Role</th>
                                <th>Level</th>
                                <th>Location</th>
                                <th>Line Manager</th>
                                <th>Status</th>
                                <th>Grade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 1</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 1</td>
                                <td>Manager Name 1</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">1</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 2</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 2</td>
                                <td>Manager Name 2</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">2</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 3</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 3</td>
                                <td>Manager Name 3</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">3</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 4</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 4</td>
                                <td>Manager Name 4</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">4</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 5</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 5</td>
                                <td>Manager Name 5</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">1</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 6</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 6</td>
                                <td>Manager Name 6</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">2</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 7</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 7</td>
                                <td>Manager Name 7</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">3</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 8</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 8</td>
                                <td>Manager Name 8</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">4</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 9</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 9</td>
                                <td>Manager Name 9</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">1</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <a href>Contact Name 10</a>
                                </td>
                                <td>Role Lorem Ipsum</td>
                                <td>Level Ipsum</td>
                                <td>Location 10</td>
                                <td>Manager Name 10</td>
                                <td>Status Lorem Ipusm</td>
                                <td class="text-center">2</td>
                                <td>
                                    <div class="dropdown" dropdown>
                                        <a href dropdown-toggle>
                                            <i class="text-default-darker fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href ng-click="cycle.openViewCycleModal()">View</a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                    Send Notification/Reminder
                                                </a>
                                            </li>
                                            <li>
                                                <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer text-center">
                    <nav>
                        <ul class="pagination">
                            <li class="active">
                                <a href>1</a>
                            </li>
                            <li>
                                <a href>2</a>
                            </li>
                            <li>
                                <a href>3</a>
                            </li>
                            <li>
                                <a href>4</a>
                            </li>
                            <li>
                                <a href>5</a>
                            </li>
                            <li>
                                <a href>6</a>
                            </li>
                            <li>
                                <a href>7</a>
                            </li>
                            <li>
                                <a href>8</a>
                            </li>
                            <li>
                                <a href>9</a>
                            </li>
                            <li>
                                <a href>10</a>
                            </li>
                            <li>
                                <a href>
                                    <strong>Next &rsaquo;</strong>
                                </a>
                            </li>
                            <li>
                                <a href>
                                    <strong>Last &raquo;</strong>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </footer>
            </section>
        </div>
    </div>
</div>
