<div class="tab-pane active" id="summary">
    <div class="row">
        <div class="col-sm-8">
            <section class="panel panel-default panel--breakdown">
                <header class="panel-heading">
                    <h2 class="panel-title">Breakdown</h2>
                </header>
                <div class="panel-body">
                    <ul class="list-unstyled chr_steps chr_steps--flex chr_steps--compact">
                        <li
                            class="chr_steps__step"
                            ng-repeat="(id, status) in cycle.cycle.statuses"
                            ng-class="{
                                'chr_steps__step--danger': cycle.cycle.isStatusOverdue(id),
                                'chr_steps__step--primary': cycle.cycle.nextDueDate().status_id === id
                            }">
                            <span class="chr_steps__step__arrow">Step {{id}}</span>
                            <div class="chr_steps__step__legend">
                                <div class="chr_steps__step__legend__content text-center">
                                    <p>
                                        {{status.name}}
                                    </p>
                                    <p class="text-primary">
                                        <strong>{{status.appraisals_count}} Contacts</strong>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <footer class="panel-footer">
                    <dl class="dl-horizontal dl-horizontal-inline">
                        <dt>Total number of appraisals in this cycles:</dt>
                        <dd>{{cycle.cycle.appraisals_count}}</dd>
                    </dl>
                </footer>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="panel panel-default panel--grades">
                <header class="panel-heading">
                    <h2 class="panel-title">Grades</h2>
                </header>
                <div class="panel-body" crm-grades-chart chart-data="cycle.grades">
                </div>
                <footer class="panel-footer">
                    <dl class="dl-horizontal dl-horizontal-inline">
                        <dt>Average Grade:</dt>
                        <dd>2.6 (Meet Expectation)</dd>
                    </dl>
                </footer>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default panel-default-plain-inverted">
                <header class="panel-heading panel-heading-w-buttons">
                    <h2 class="panel-title pull-left">Due Dates</h2>
                    <a href
                        class="btn btn-secondary-outline text-uppercase pull-right"
                        ng-click="cycle.openEditDatesModal()">
                        edit
                    </a>
                    <div class="clearfix"></div>
                    <hr>
                </header>
                <div class="panel-body">
                    <dl class="dl-inline">
                        <dt>Self Appraisal Due:</dt>
                        <dd>{{cycle.cycle.cycle_self_appraisal_due | formatDate}}</dd>
                        <dt>Manager Appraisal Due:</dt>
                        <dd>{{cycle.cycle.cycle_manager_appraisal_due | formatDate}}</dd>
                        <dt>Grade Due:</dt>
                        <dd>{{cycle.cycle.cycle_grade_due | formatDate}}</dd>
                    </dl>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h2 class="panel-title pull-left">
                        <span class="text-danger">
                            Overdue appraisals in this cycle
                        </span>
                    </h2>
                    <a href class="pull-right">View in Search</a>
                    <div class="clearfix"></div>
                </header>
                <crm-loading show="!cycle.loading.appraisals">
                    <div ng-switch="dashboard.appraisals.list.length === 0">
                        <div ng-switch-when="true" class="panel-body text-center">
                            No overdue appraisals
                        </div>
                        <div ng-switch-default class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Contact</th>
                                        <th>Role</th>
                                        <th>Level</th>
                                        <th>Location</th>
                                        <th>Line Manager</th>
                                        <th>Status</th>
                                        <th class="text-center">Grade</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="appraisal in cycle.cycle.appraisals">
                                        <td>{{appraisal.contact.display_name}}</td>
                                        <td>{{appraisal.role.title}}</td>
                                        <td>{{appraisal.role.level}}</td>
                                        <td>{{appraisal.role.location}}</td>
                                        <td>{{appraisal.manager.display_name}}</td>
                                        <td>{{cycle.statuses[appraisal.status_id - 1].label}}</td>
                                        <td class="text-center">-</td>
                                        <td>
                                            <div class="dropdown" uib-dropdown>
                                                <a href uib-dropdown-toggle>
                                                    <i class="text-default-darker fa fa-ellipsis-v"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                    <li>
                                                        <a href ng-click="cycle.openViewCycleModal()">View</a>
                                                    </li>
                                                    <li>
                                                        <a href ng-click="cycle.openSendNotificationReminderModal()">
                                                            Send Notification/Reminder
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href ng-click="cycle.delete()">Delete Appraisal</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </crm-loading>
            </section>
        </div>
    </div>
</div>
