.badge {
  font-size: 11px;
  padding: 3px 7px 4px;

  &.badge-primary {
    background-color: $brand-primary !important;
  }

  &.badge-secondary {
    background-color: $brand-secondary !important;
  }

  &.badge-success {
    background-color: $brand-success !important;
  }

  &.badge-info {
    background-color: $brand-info !important;
  }

  &.badge-warning {
    background-color: $brand-warning !important;
  }

  &.badge-dark {
    background-color: $brand-dark !important;
  }

  &.badge-danger {
    background-color: $brand-danger !important;
  }

  &.badge-danger-light {
    background-color: $brand-danger-light !important;
  }
}