input[type="radio"],
input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]  {
  margin-top: 2px;
}

.form-control {
  font-size: 11px;
}

.form-control-file {
  padding: 6px 12px;
}

.form-control-static {
  padding: {
    bottom: 8px;
    top: 6px;
  }
  .subfield {
    display: block;
  }
}

.form-horizontal {
  .control-label {
    text-align: left;

    &.control-label-line-2 {
      margin-top: -3px;
      padding-top: 0;
    }
  }

  .has-feedback {
    select + .form-control-feedback {
      right: 28px;
    }

    [datepicker-popup] + .form-control-feedback {
      right: 41px;
    }

    .form-inline {
      float: left;
      position: relative;

      select + .form-control-feedback {
        right: 10px;
      }
    }
  }

  .well {
    .form-group {
      margin-bottom: 0;

      + .form-group {
        margin-top: 15px;
      }
    }
  }
}

.form-group.required {
  .control-label:after {
    content:"*";
    color:red;
  }
}

.control-label,
.checkbox-inline,
.radio-inline,
.checkbox-label,
.radio-label {
  color: $headings-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.checkbox-label,
.radio-label {
  @extend label;
}

.ta-editor.ta-html,
.ta-scroll-window.form-control {
  min-height: 120px;
  overflow: visible;
}

.ta-scroll-window > .ta-bind {
  min-height: 120px;
}

.ta-toolbar {
  background-color: $gray-lighter;
  padding: 5px;
  margin: 0;
  border: 1px solid $input-border;
  margin-bottom: -1px;
}

.ui-select-multiple.ui-select-bootstrap {
  min-height: $input-height-base;

  input.ui-select-search {
    height: 1.9em;
  }

  .ui-select-match .close {
    line-height: 0.8;
  }

  .ui-select-match-item {
    margin-bottom: 2px;
  }
}