.panel {
  display: block;
  position: static;
  background-image: none;
  width: auto;
  background-position: 0 0;
  @include box-shadow($box-shadow-global);
}

.panel-heading {
  color: $headings-color;
  font-weight: $headings-font-weight;

  .btn-group.btn-group-sm {
    margin-top: -2px;
    margin-bottom: -3px;
    > .btn {
      padding: 5px 13px;
      text-transform: none;
    }
  }

  .btn-collapse {
    margin: 4px 0 2px;
  }
}



.panel-filter {
  margin-bottom: 0;
}

.panel-filter__filter {
  font-weight: normal;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}



.panel-title {
  font-size: $font-size-h2;
  line-height: $line-height-base;
}

.panel-light {
  border: 0 none;
  @include box-shadow(0 0 0 0);

  > .panel-heading {
    border-bottom: 0 none;
    padding: 12px 20px 13px;
  }

  > .panel-footer {
    border-top: 1px solid $body-bg;
    padding: 16px 20px;
  }
}

.panel-secondary {
  > .panel-body,
  .list-group,
  .list-group-item {
    background-color: $brand-secondary;
  }
}
