.table {

  > tbody,
  > tfoot {
    > tr {

      > th {
        border-top: 0 none;
      }

      > td {
        border-top: 0 none;

        .#{$prefix}context-menu-toggle {
          margin: -2px 0;
          position: relative;
          top: 1px;
        }
      }

    }
  }

  > thead {
    > tr {
      > th {
        border: 0 none;
        color: $headings-color;
        font-size: $font-size-h3;
        font-weight: bold;
        padding: {
          bottom: 12px;
          top: 10px;
        };
      }

      > td {
        border-top: 0 none;
      }
    }
  }

}