@include keyframes(fadeIn) {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}

.fade-in {
  @include animation(fadeIn .5s);
}

@include keyframes(fadeInUp) {
  0% {
    @include translateY(15px);
    opacity: 0; }
  100% {
    @include translateY(0);
    opacity: 1; }
}

.fade-in-up {
  @include animation(fadeInUp .5s);
}