<div class="panel panel-default leave-widget">
  <header class="panel-heading">
    <h2 class="panel-title">Leave</h2>
  </header>
  <div class="panel-body">
    <crm-loading show="!leaveWidget.loading.component && !leaveWidget.loading.childComponents">
      <div ng-if="leaveWidget.jobContract">
        <leave-widget-absence-types-available-balance
          absence-period="leaveWidget.absencePeriod"
          absence-types="leaveWidget.absenceTypes"
          contact-id="leaveWidget.contactId"
          job-contract="leaveWidget.jobContract"
        ></leave-widget-absence-types-available-balance>
        <hr/>
        <leave-widget-absence-types-amount-taken
          title="Sickness"
          leave-name="sick leaves"
          absence-period="leaveWidget.absencePeriod"
          absence-types="leaveWidget.sicknessAbsenceTypes"
          contact-id="leaveWidget.contactId"
          leave-request-statuses="leaveWidget.leaveRequestStatuses"
        ></leave-widget-absence-types-amount-taken>
        <hr/>
        <leave-widget-next-leave
          absence-types="leaveWidget.absenceTypes"
          contact-id="leaveWidget.contactId"
          leave-request-statuses="leaveWidget.leaveRequestStatuses"
        ></leave-widget-next-leave>
      </div>
      <div ng-if="!leaveWidget.jobContract">
        <p>There is no leave data to display</p>
      </div>
    </crm-loading>
  </div>
</div>
