<div class="leave-widget__types">
  <table class="table-responsive">
    <thead>
      <tr>
        <th>Type</th>
        <th>
          Available balance
          <help-text title="Avaiable Balance">
            <p>This table displays a list of the different absence types and the remaining balance per type.
            As a default, Available Balance displays the number of days/hours available in the current period for each absence type (Admin users can change the display options for available balances, e.g., to only show hours, depending on needs).
            The calculation automatically deducts all approved and awaiting approval requests from the remaining leave entitlement on display.</p>
          </help-text>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="type in leaveWidgetBalance.absenceTypeEntitlements">
        <td class="leave-widget__types-name">{{type.absenceType.title}}</td>
        <td class="leave-widget__types-balance">{{type.entitlement.balance | timeUnitApplier:'days'}}</td>
      </tr>
    </tbody>
  </table>
</div>
