<div class="leave-widget__types">
  <table class="table-responsive">
    <thead>
      <tr>
        <th>Type</th>
        <th>
          Available balance
          <button class="info-button">
            <i class="fa fa-info-circle"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="type in leaveWidgetBalance.absenceTypeEntitlements">
        <td class="leave-widget__types-name">{{ type.title }}</td>
        <td class="leave-widget__types-balance">{{ type.balance | timeUnitApplier:'days' }}</td>
      </tr>
    </tbody>
  </table>
</div>
