<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalCtrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2 class="modal-title">Manage Rights</h2>
</div>
<div class="modal-body">
  <strong>Contact Access Rights</strong>
  <hr />
  <p>You can specify an administrator's access to contacts by region or location here, or grant them access to all contacts using Drupal permissions <a href="/admin/people/permissions" target="_blank">here</a>.</p>
  <p>The user will then have access to contacts whose active roles place them in this region or location.</p>
  <p>
    For even more granular permissions, you can use ACL groups
    <a href="/civicrm/admin/access?reset=1" target="_blank">here</a>.
  </p>
  <p>
    <div class="alert alert-danger" ng-show="modalCtrl.errorMsg">
      {{modalCtrl.errorMsg}}
    </div>
    <crm-loading show="modalCtrl.dataLoaded">
      <form class="form-horizontal access-rights-form">
        <div class="form-group has-feedback">
          <label for="contact" class="col-xs-12 col-sm-4 control-label">
            Regions:
          </label>
          <div class="col-xs-12 col-sm-8">
            <ui-select multiple on-select="modalCtrl.selection($item, $model)" ng-required="true" theme="civihr-ui-select" ng-model="modalCtrl.selectedData.regions">
              <ui-select-match placeholder="- select -">{{$item.label}}</ui-select-match>
              <ui-select-choices repeat="region.id as region in modalCtrl.availableData.regions | filter: $select.search">
                <div ng-bind-html="region.label | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="contact" class="col-xs-12 col-sm-4 control-label">
            Locations:
          </label>
          <div class="col-xs-12 col-sm-8">
            <ui-select multiple on-select="modalCtrl.selection($item, $model)" ng-required="true" theme="civihr-ui-select" ng-model="modalCtrl.selectedData.locations">
              <ui-select-match placeholder="- select -">{{$item.label}}</ui-select-match>
              <ui-select-choices repeat="location.id as location in modalCtrl.availableData.locations | filter: $select.search">
                <div ng-bind-html="location.label | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </form>
    </crm-loading>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary-outline text-uppercase" data-dismiss="modal" ng-click="modalCtrl.cancel()">cancel</button>
  <input type="button" value="save" class="btn btn-primary text-uppercase" ng-disabled="modalCtrl.submitting" ng-click="modalCtrl.submit()" ng-show="modalCtrl.dataLoaded" />
</div>
