<form class="form-horizontal" name="newOrganizationForm">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">New Organization</h2>
  </div>
  <div class="modal-body">
    <section class="container">
      <div class="alert alert-danger" ng-show="$ctrl.errorMsg">
        {{$ctrl.errorMsg}}
      </div>
      <div class="form-group has-feedback" ng-class="{'has-error': newOrganizationForm.organizationName.$dirty && newOrganizationForm.organizationName.$invalid}">
        <label for="organization-name" class="col-xs-12 col-sm-4 control-label">
          Organization Name:
        </label>
        <div class="col-xs-12 col-sm-8">
          <input type="text" name="organizationName" id="organization-name" ng-model="$ctrl.organizationName" class="form-control" required>
          <span class="label label-danger" ng-show="newOrganizationForm.organizationName.$dirty && newOrganizationForm.organizationName.$invalid">
            Field is required.
          </span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{'has-error': newOrganizationForm.email.$dirty && newOrganizationForm.email.$invalid}">
        <label for="email" class="col-xs-12 col-sm-4 control-label">
          E-mail Address:
        </label>
        <div class="col-xs-12 col-sm-8">
          <input type="email" name="email" id="email" ng-model="$ctrl.email" class="form-control">
          <span class="label label-danger" ng-show="newOrganizationForm.email.$error.email">Invalid email address.</span>
        </div>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default text-uppercase" data-dismiss="modal" ng-click="$ctrl.cancel()">
      <span class="fa fa-remove" aria-hidden="true"></span> cancel
    </button>
    <button type="button" class="btn btn-primary text-uppercase" ng-click="$ctrl.submit()" ng-disabled="!newOrganizationForm.$valid">
      <span class="fa fa-check" aria-hidden="true"></span> save
    </button>
  </div>
</form>
