<div class="main-row add-new-row">

    <div class="main-row-header">

        <div class="col-xs-6">
            <h4>Role / Project name:
                <small>{{edit_data['new_role_id']['title']}}</small>
            </h4>
        </div>

    </div>

    <div class="row clear">
        <div class="col-sm-2">
            <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist" ng-init="changeTab('new_role_id', 'basic_details')">

                <li ng-class="{'active': view_tab['new_role_id'] == 'basic_details'}">
                    <a class="btn-sm" ng-click="changeTab('new_role_id', 'basic_details')" href="">Basic Details</a>
                </li>

                <li ng-class="{'active': view_tab['new_role_id'] == 'funding'}">
                    <a class="btn-sm" ng-click="changeTab('new_role_id', 'funding')" href="">Funding</a>
                </li>

                <li ng-class="{'active': view_tab['new_role_id'] == 'cost_centers'}">
                    <a class="btn-sm" ng-click="changeTab('new_role_id', 'cost_centers')" href="">Cost Centers</a>
                </li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div class="tab-content">

                <div ng-show="isTab('new_role_id', 'basic_details')">

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="inputTitle" class="col-xs-3 control-label">Title:</label>
                            <div class="col-xs-6 control-label">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Enter role title" ng-model="edit_data['new_role_id']['title']" ng-change="showSave('new_role_id')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newContractId" class="col-xs-3 control-label">Contract:</label>
                            <div class="col-xs-6 control-label">
                                <select ng-options="k as v.title for (k, v) in jobroles.contractsData" ng-model="edit_data['new_role_id']['job_contract_id']" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newLevel" class="col-xs-3 control-label">Level:</label>
                            <div class="col-xs-6 control-label">
                                <select ng-options="k as v.title for (k, v) in jobroles.LevelsData" ng-model="edit_data['new_role_id']['level']" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newLocation" class="col-xs-3 control-label">Location:</label>
                            <div class="col-xs-6 control-label">
                                <select ng-options="k as v.title for (k, v) in jobroles.LocationsData" ng-model="edit_data['new_role_id']['location']" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newRegion" class="col-xs-3 control-label">Region:</label>
                            <div class="col-xs-6 control-label">
                                <select ng-options="k as v.title for (k, v) in jobroles.RegionsData" ng-model="edit_data['new_role_id']['region']" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newDepartment" class="col-xs-3 control-label">Department:</label>
                            <div class="col-xs-6 control-label">
                                <select ng-options="k as v.title for (k, v) in jobroles.DepartmentsData" ng-model="edit_data['new_role_id']['department']" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- job role description textarea -->
                            <label for="description" class="col-xs-3 control-label">Description:</label>
                            <div class="col-xs-6 control-label">
                                <textarea ng-model="edit_data['new_role_id']['description']" class="form-control" rows="5" id="description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputTitle" class="col-xs-3 control-label"></label>
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-success" ng-click="saveNewRole()">Save new role</button>
                            </div>

                        </div>

                    </form>

                </div>

                <div ng-show="isTab('new_role_id', 'funding')">

                    <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

                        <!-- table -->
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:40%">Funder</td>
                                <td style="width:15%">Type</td>
                                <td style="width:15%">% Amount</td>
                                <td style="width:15%">Absolute Amount</td>
                                <td style="width:15%" ng-show="tableform.$visible">Action</td>
                            </tr>
                            <tr ng-repeat="(key, funder) in edit_data['new_role_id']['funders']">

                                <td>
                                    <!-- editable funder (text with validation) -->
                                    <span editable-text="funder.funder_id" e-typeahead="contact as contact.sort_name for contact in jobroles.contactList | filter:$viewValue | limitTo:10" e-form="tableform" e-name="funder" onbeforesave="checkName($data, user.id)">
                                        {{ funder.funder_id.sort_name || 'empty' }}
                                    </span>
                                </td>

                                <td>
                                    <!-- editable funder type (will restrict the fields to amount or percentage -->
                                    <span editable-select="funder.type" e-form="tableform" e-name="funder-type" e-ng-options="k as rowType.name for (k, rowType) in rowTypes" e-ng-change="updateAdditionalRowType('new_role_id', 'funder', key, $data)">
                                        {{ showRowType(funder) }}
                                    </span>
                                </td>

                                <td>
                                    <span ng-show="funder.type == 1">
                                        <!-- editable funder type - percentage (show only when percentage type selected, otherwise read only -->
                                        <span editable-text="funder.percentage" e-form="tableform" e-name="funder-percent" onbeforesave="checkName($data, user.id)">
                                            {{ funder.percentage || 'empty' }}
                                        </span>
                                    </span>
                                </td>

                                <td>
                                    <span ng-show="funder.type == 0">
                                        <!-- editable funder type - amount (show only when amount type selected, otherwise read only -->
                                        <span editable-text="funder.amount" e-form="tableform" e-name="funder-amount" onbeforesave="checkName($data, user.id)">
                                            {{ funder.amount || 'empty' }}
                                        </span>
                                    </span>
                                </td>

                                <td ng-show="tableform.$visible">
                                    <button type="button" ng-click="deleteAdditionalRow('new_role_id', 'funder', key)" class="btn btn-danger pull-right"><span class="fa fa-remove" aria-hidden="true"></span></button>
                                </td>
                            </tr>
                        </table>

                        <!-- buttons -->
                        <div class="btn-setup btn-edit">
                            <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                        </div>

                        <div class="btn-form" ng-show="tableform.$visible">
                            <button type="button" ng-disabled="tableform.$waiting" ng-click="addAdditionalRow('new_role_id', 'funder')" class="btn-setup btn btn-default btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Funder</button>
                            <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
                            <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn-setup btn btn-default">cancel</button>
                        </div>

                    </form>

                </div>

                <div ng-show="isTab('new_role_id', 'cost_centers')">

                    <form editable-form name="tableformcc" onaftersave="saveTable()" oncancel="cancel()">

                        <!-- table -->
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:40%">Cost Centre</td>
                                <td style="width:15%">Type</td>
                                <td style="width:15%">% Amount</td>
                                <td style="width:15%">Absolute Amount</td>
                                <td style="width:15%" ng-show="tableformcc.$visible">Action</td>
                            </tr>
                            <tr ng-repeat="(key, cost_centre) in edit_data['new_role_id']['cost_centers']">
                                <td>
                                    <!-- editable cost centre (text with validation) -->
                                    <span editable-text="cost_centre.cost_centre_id" e-typeahead="contact as contact.sort_name for contact in jobroles.contactList | filter:$viewValue | limitTo:10" e-form="tableformcc" e-name="cost-centre" onbeforesave="checkName($data, user.id)">
                                        {{ cost_centre.cost_centre_id.sort_name || 'empty' }}
                                    </span>
                                </td>

                                <td>

                                    <!-- editable cost_centre type (will restrict the fields to amount or percentage -->
                                    <span editable-select="cost_centre.type" e-form="tableformcc" e-name="cost-centre-type" e-ng-options="k as rowType.name for (k, rowType) in rowTypes" e-ng-change="updateAdditionalRowType('new_role_id', 'cost_centre', key, $data)">
                                        {{ showRowType(cost_centre) }}
                                    </span>
                                </td>

                                <td>
                                    <span ng-show="cost_centre.type == 1">
                                        <!-- editable cost_centre type - percentage (show only when percentage type selected, otherwise read only -->
                                        <span editable-text="cost_centre.percentage" e-form="tableformcc" e-name="cost-centre-percent" onbeforesave="checkName($data, user.id)">
                                            {{ cost_centre.percentage || 'empty' }}
                                        </span>
                                    </span>
                                </td>

                                <td>
                                    <span ng-show="cost_centre.type == 0">
                                        <!-- editable cost_centre type - amount (show only when amount type selected, otherwise read only -->
                                        <span editable-text="cost_centre.amount" e-form="tableformcc" e-name="cost-centre-amount"  onbeforesave="checkName($data, user.id)">
                                            {{ cost_centre.amount || 'empty' }}
                                        </span>
                                    </span>
                                </td>

                                <td ng-show="tableformcc.$visible">
                                    <button type="button" ng-click="deleteAdditionalRow('new_role_id', 'cost_centre', key)" class="btn btn-danger pull-right"><span class="fa fa-remove" aria-hidden="true"></span></button>
                                </td>
                            </tr>
                        </table>

                        <!-- buttons -->
                        <div class="btn-setup btn-edit">
                            <button type="button" class="btn btn-default" ng-show="!tableformcc.$visible" ng-click="tableformcc.$show()">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                        </div>

                        <div class="btn-form" ng-show="tableformcc.$visible">
                            <button type="button" ng-disabled="tableformcc.$waiting" ng-click="addAdditionalRow('new_role_id', 'cost_centre')" class="btn-setup btn btn-default btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Cost Centre</button>
                            <button type="submit" ng-disabled="tableformcc.$waiting" class="btn btn-primary">save</button>
                            <button type="button" ng-disabled="tableformcc.$waiting" ng-click="tableformcc.$cancel()" class="btn-setup btn btn-default">cancel</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>
