<section class="job-role panel-nest-group">
  <div class="panel panel-default">
    <header class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <dl class="dl-inline">
            <dt>Role / Project Name:</dt>
            <dd>{{jobroles.editData[job_roles_data.id]['title']}}</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <dl class="dl-inline">
            <dt>Dates:</dt>
            <dd>{{job_roles_data['start_date'] | formatDate}} - {{job_roles_data['end_date'] || "Unspecified" | formatDate }}</dd>
          </dl>
        </div>
      </div>
    </header>
    <div class="panel-body panel-body-abstract">
      <span role="button" data-toggle="collapse" href="#show-more-{{job_roles_data.id}}">
        Details
      </span>
    </div>
  </div>
  <div id="show-more-{{job_roles_data.id}}" class="panel panel-default panel-nested collapse in">
    <uib-tabset class="job-role__tabs">
      <uib-tab heading="Basic Details">
        <form class="form-horizontal"
          role="form"
          editable-form
          name="editableForm"
          onbeforesave="jobroles.validateRole(editableForm)"
          onaftersave="jobroles.updateRole(job_roles_data.id)"
          oncancel="jobroles.onCancel(job_roles_data.id, 'both')">
          <div class="job-role__actions">
            <button type="button" class="btn btn-link"
              ng-click="editableForm.$show()"
              ng-show="!editableForm.$visible">
                <span class="btn-icon"><i class="fa fa-pencil"></i></span>Edit
            </button>
            <div class="btn-group" ng-show="editableForm.$visible">
              <button type="submit" class="btn btn-link"
                ng-disabled="editableForm.$waiting">
                <span class="btn-icon"><i class="fa fa-check"></i></span>Save
              </button>
              <button type="button" class="btn btn-link"
                ng-disabled="editableForm.$waiting"
                ng-click="editableForm.$cancel()">
                <span class="btn-icon"><i class="fa fa-times"></i></span>Cancel
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'title', job_roles_data.title)">
                <label for="title" class="col-sm-4 control-label">Title:</label>
                <div class="col-sm-8">
                  <p
                    class="form-control-static"
                    editable-text="jobroles.editData[job_roles_data.id]['title']"
                    e-name="title"
                    onbeforesave="jobroles.validateTitle($data)"
                    e-required>
                    {{jobroles.editData[job_roles_data.id]['title'] || '-'}}
                  </p>
                </div>
              </div>
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'job_contract_id', job_roles_data.job_contract_id)">
                <label for="contract" class="col-sm-4 control-label">Contract:</label>
                <div class="col-sm-6">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.contractsData[jobroles.editData[job_roles_data.id]['job_contract_id']]['title'] || '-'}}
                  </p>
                  <span ng-show="editableForm.$visible">
                    <ui-select
                      prevent-animations
                      ng-model="jobroles.editData[job_roles_data.id]['job_contract_id']"
                      theme="civihr-ui-select"
                      title="Choose a contract"
                      on-select="jobroles.onContractEdited($data, job_roles_data.id)"
                      ng-required="true">
                      <ui-select-match prevent-animations placeholder="Select a contract">
                        {{$select.selected.value.label}}
                      </ui-select-match>
                      <ui-select-choices prevent-animations repeat="contract.value.id as (key,contract) in jobroles.contractsData | filter: { value: { label: $select.search }}">
                        <div ng-bind-html="contract.value.label | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                    <input type="hidden" name="contract" ng-model="jobroles.editData[job_roles_data.id]['job_contract_id']">
                  </span>
                </div>
              </div>
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'start_date', job_roles_data.start_date)">
                <label for="{{prefix}}start_date"
                  class="col-sm-4 control-label"
                  ng-class="{ 'required-mark': !jobroles.editData[job_roles_data.id]['start_date'] }">
                  Start Date:
                </label>
                <!-- FIX: xeditable datepicker doesn't work here as it isn't compatible with input field -->
                <div class="col-sm-5">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.editData[job_roles_data.id]['start_date'] | formatDate}}
                  </p>
                  <div class="input-group" ng-hide="!editableForm.$visible">
                    <input type="text" class="form-control" id="{{prefix}}start_date"
                      placeholder="{{jobroles.format}}"
                      name="start_date"
                      is-open="jobroles.CalendarShow.start_date"
                      uib-datepicker-popup
                      ng-model="jobroles.editData[job_roles_data.id]['start_date']"
                      ng-change="select('start_date')"
                      ng-disabled="isDisabled"
                      close-text="Close"
                      ng-click="jobroles.open('start_date')"
                      required>
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <div ng-show="editableForm.start_date.$error.custom">
                    <div ng-repeat="error in editableForm.start_date.$error.custom" class="form-error-message">
                      <span class="label label-danger">{{error}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'end_date', job_roles_data.end_date)">
                <label for="{{prefix}}end_date" class="col-sm-4 control-label">
                  End Date:
                </label>
                <!-- FIX: xeditable datepicker doesn't work here as it isn't compatible with input field -->
                <div class="col-sm-5">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.editData[job_roles_data.id]['end_date'] || "Unspecified" | formatDate }}
                  </p>
                  <div class="input-group" ng-hide="!editableForm.$visible">
                    <input type="text" class="form-control" id="{{prefix}}end_date"
                      placeholder="{{jobroles.format}}"
                      name="end_date"
                      is-open="jobroles.CalendarShow.end_date"
                      uib-datepicker-popup
                      ng-model="jobroles.editData[job_roles_data.id]['end_date']"
                      ng-change="select('end_date')"
                      ng-disabled="isDisabled"
                      ng-click="jobroles.open('end_date')"
                      close-text="Close">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <div ng-show="editableForm.end_date.$error.custom">
                    <div ng-repeat="error in editableForm.end_date.$error.custom" class="form-error-message">
                      <span class="label label-danger">{{error}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'location', job_roles_data.location)">
                <label for="newLocation" class="col-sm-4 control-label">
                  Location:
                </label>
                <div class="col-sm-8">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.LocationsData[jobroles.editData[job_roles_data.id]['location']]['title'] || '-'}}
                  </p>
                  <span ng-show="editableForm.$visible">
                    <ui-select
                      prevent-animations
                      ng-model="jobroles.editData[job_roles_data.id]['location']"
                      theme="civihr-ui-select"
                      name="newLocation"
                      title="Choose a location">
                      <ui-select-match prevent-animations allow-clear placeholder="Select a location">{{$select.selected.value.title}}</ui-select-match>
                      <ui-select-choices prevent-animations repeat="location.value.value as (key,location) in jobroles.LocationsData | filter: { value: { title: $select.search }}">
                        <div ng-bind-html="location.value.title | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </span>
                </div>
              </div>
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'region', job_roles_data.region)">
                <label for="newRegion" class="col-sm-4 control-label">
                  Region:
                </label>
                <div class="col-sm-8">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.RegionsData[jobroles.editData[job_roles_data.id]['region']]['title'] || '-'}}
                  </p>
                  <span ng-show="editableForm.$visible">
                    <ui-select
                      prevent-animations
                      ng-model="jobroles.editData[job_roles_data.id]['region']"
                      theme="civihr-ui-select"
                      name="newRegion"
                      title="Choose a Region">
                      <ui-select-match prevent-animations allow-clear placeholder="Select a Region">{{$select.selected.value.title}}</ui-select-match>
                      <ui-select-choices prevent-animations repeat="region.value.value as (key,region) in jobroles.RegionsData | filter: { value: { title: $select.search }}">
                        <div ng-bind-html="region.value.title | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </span>
                </div>
              </div>
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'department', job_roles_data.department)">
                <label for="newDepartment" class="col-sm-4 control-label">
                  Department:
                </label>
                <div class="col-sm-8">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.DepartmentsData[jobroles.editData[job_roles_data.id]['department']]['title'] || '-'}}
                  </p>
                  <span ng-show="editableForm.$visible">
                    <ui-select
                      prevent-animations
                      ng-model="jobroles.editData[job_roles_data.id]['department']"
                      theme="civihr-ui-select"
                      name="newDepartment"
                      title="Choose a Department">
                      <ui-select-match prevent-animations allow-clear placeholder="Select a department">{{$select.selected.value.title}}</ui-select-match>
                      <ui-select-choices prevent-animations repeat="department.value.value as (key,department) in jobroles.DepartmentsData | filter: { value: { title: $select.search }}">
                        <div ng-bind-html="department.value.title | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </span>
                </div>
              </div>
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'level', job_roles_data.level_type)">
                <label for="newLevel" class="col-sm-4 control-label">
                  Level:
                </label>
                <div class="col-sm-8">
                  <p class="form-control-static" ng-show="!editableForm.$visible">
                    {{jobroles.LevelsData[jobroles.editData[job_roles_data.id]['level']]['title'] || '-'}}
                  </p>
                  <span ng-show="editableForm.$visible">
                    <ui-select
                    prevent-animations
                    ng-model="jobroles.editData[job_roles_data.id]['level']"
                    theme="civihr-ui-select"
                    name="newLevel"
                    title="Choose a Level">
                      <ui-select-match prevent-animations allow-clear placeholder="Select a level">{{$select.selected.value.title}}</ui-select-match>
                      <ui-select-choices prevent-animations repeat="level.value.value as (key,level) in jobroles.LevelsData | filter: { value: { title: $select.search }}">
                        <div ng-bind-html="level.value.title | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" ng-init="jobroles.initData(job_roles_data.id, 'description', job_roles_data.description)">
                <label for="description" class="col-sm-2 control-label">
                  Description:
                </label>
                <div class="col-sm-10">
                  <p class="form-control-static"
                    editable-textarea="jobroles.editData[job_roles_data.id]['description']"
                    e-name="description" e-rows="6" e-cols="40">
                    {{ jobroles.editData[job_roles_data.id]['description'] || '-'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </uib-tab>
      <uib-tab heading="Funding">
        <div ng-init="jobroles.initData(job_roles_data.id, 'funders', job_roles_data)">
          <form editable-form
            name="tableform"
            onaftersave="jobroles.updateRole(job_roles_data.id, 'funders')"
            oncancel="jobroles.onCancel(job_roles_data.id, 'funders')">
            <div class="job-role__actions">
              <button type="button"
                class="btn btn-link"
                ng-show="!tableform.$visible"
                ng-click="tableform.$show()">
                <span class="btn-icon"><i class="fa fa-pencil"></i></span>Edit
              </button>
              <div class="btn-group" ng-show="tableform.$visible">
                <button type="submit" ng-disabled="tableform.$waiting"
                  class="btn btn-link">
                  <span class="btn-icon"><i class="fa fa-check"></i></span>Save
                </button>
                <button type="button" ng-disabled="tableform.$waiting"
                  ng-click="tableform.$cancel()"
                  class="btn btn-link">
                  <span class="btn-icon"><i class="fa fa-times"></i></span>Cancel
                </button>
              </div>
            </div>
            <div class="table-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width:40%">Funder</th>
                    <th style="width:15%">Type</th>
                    <th style="width:15%">% Amount</th>
                    <th style="width:15%">Absolute Amount</th>
                    <th style="width:15%" ng-show="tableform.$visible">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, funder) in jobroles.editData[job_roles_data.id]['funders']">
                    <td>
                      <span ng-show="!tableform.$visible">
                        {{funder.funder_id.sort_name}}
                      </span>
                      <span ng-show="tableform.$visible">
                        <ui-select class="funder-select"
                          prevent-animations
                          theme="civihr-ui-select"
                          ng-model="funder.funder_id">
                          <ui-select-match prevent-animations allow-clear placeholder="Select a funder" class="ui-select-match">
                            {{$select.selected.sort_name}}
                          </ui-select-match>
                          <ui-select-choices
                            prevent-animations
                            class="ui-select-choices"
                            repeat="contact in jobroles.contactList | filter: $select.search"
                            refresh="jobroles.getContactList($select.search)"
                            refresh-delay="500">
                            <div ng-bind-html="contact.sort_name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </span>
                    </td>
                    <td>
                      <!-- editable funder type (will restrict the fields to amount or percentage -->
                      <span editable-select="funder.type"
                        e-class="no-select2"
                        e-form="tableform" e-name="funder-type"
                        e-ng-options="k as rowType.name for (k, rowType) in jobroles.rowTypes"
                        e-ng-change="jobroles.updateAdditionalRowType(job_roles_data.id, 'funder', key, $data)">
                        {{jobroles.showRowType(funder)}}
                      </span>
                    </td>
                    <td>
                      <span ng-show="funder.type == 1">
                        <!-- editable funder type - percentage (show only when percentage type selected, otherwise read only -->
                        <span editable-text="funder.percentage"
                          e-form="tableform"
                          e-name="funder-percent"
                          onbeforesave="checkName($data, user.id)">
                          {{funder.percentage || 'empty'}}
                        </span>
                      </span>
                    </td>
                    <td>
                      <span ng-show="funder.type == 0">
                        <!-- editable funder type - amount (show only when amount type selected, otherwise read only -->
                        <span editable-text="funder.amount"
                          e-form="tableform"
                          e-name="funder-amount"
                          onbeforesave="checkName($data, user.id)">
                          {{funder.amount || 'empty'}}
                        </span>
                      </span>
                    </td>
                    <td ng-show="tableform.$visible">
                      <button type="button"
                        ng-click="jobroles.deleteAdditionalRow(job_roles_data.id, 'funder', key)"
                        class="btn btn-sm btn-danger">
                        <i class="fa fa-remove"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="tableform.$visible">
                    <td colspan="5">
                      <button type="button"
                        ng-disabled="tableform.$waiting"
                        ng-click="jobroles.addAdditionalRow(job_roles_data.id, 'funder')"
                        class="btn btn-link">
                        <span class="btn-icon"><i class="fa fa-plus"></i></span>Add New Funder
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </uib-tab>
      <uib-tab heading="Cost Centres">
        <div ng-init="jobroles.initData(job_roles_data.id, 'cost_centers', job_roles_data)">
          <form editable-form name="tableformcc"
            onaftersave="jobroles.updateRole(job_roles_data.id, 'cost_centers')"
            oncancel="jobroles.onCancel(job_roles_data.id, 'cost_centers')">
            <div class="job-role__actions">
              <button type="button"
                class="btn btn-link"
                ng-show="!tableformcc.$visible"
                ng-click="tableformcc.$show()">
                <span class="btn-icon"><i class="fa fa-pencil"></i></span>Edit
              </button>
              <div class="btn-group" ng-show="tableformcc.$visible">
                <button type="submit" ng-disabled="tableformcc.$waiting"
                  class="btn btn-link">
                  <span class="btn-icon"><i class="fa fa-check"></i></span>Save
                </button>
                <button type="button" ng-disabled="tableformcc.$waiting"
                  ng-click="tableformcc.$cancel()"
                  class="btn btn-link">
                  <span class="btn-icon"><i class="fa fa-times"></i></span>Cancel
                </button>
              </div>
            </div>
            <div class="table-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width:40%">Cost Centres</th>
                    <th style="width:15%">Type</th>
                    <th style="width:15%">% Amount</th>
                    <th style="width:15%">Absolute Amount</th>
                    <th style="width:15%" ng-show="tableformcc.$visible">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, cost_centre) in jobroles.editData[job_roles_data.id]['cost_centers']">
                    <td>
                      <!-- editable cost_centre type (will restrict the fields to amount or percentage -->
                      <span editable-select="cost_centre.cost_centre_id"
                        e-class="no-select2"
                        e-form="tableformcc"
                        e-name="cost-centre"
                        e-ng-options="value.id as value.title for value in jobroles.CostCentreList | orderBy: 'weight'">
                        {{ jobroles.getCostLabel(cost_centre.cost_centre_id) || 'empty' }}
                      </span>
                    </td>
                    <td>
                      <!-- editable cost_centre type (will restrict the fields to amount or percentage -->
                      <span editable-select="cost_centre.type"
                        e-class="no-select2"
                        e-form="tableformcc"
                        e-name="cost-centre-type"
                        e-ng-options="k as rowType.name for (k, rowType) in jobroles.rowTypes"
                        e-ng-change="jobroles.updateAdditionalRowType(job_roles_data.id, 'cost_centre', key, $data)">
                        {{jobroles.showRowType(cost_centre)}}
                      </span>
                    </td>
                    <td>
                      <span ng-show="cost_centre.type == 1">
                        <!-- editable cost_centre type - percentage (show only when percentage type selected, otherwise read only -->
                        <span editable-text="cost_centre.percentage"
                          e-form="tableformcc"
                          e-name="cost-centre-percent"
                          onbeforesave="checkName($data, user.id)">
                          {{cost_centre.percentage || 'empty'}}
                        </span>
                      </span>
                    </td>
                    <td>
                      <span ng-show="cost_centre.type == 0">
                        <!-- editable cost_centre type - amount (show only when amount type selected, otherwise read only -->
                        <span editable-text="cost_centre.amount"
                          e-form="tableformcc"
                          e-name="cost-centre-amount"
                          onbeforesave="checkName($data, user.id)">
                          {{cost_centre.amount || 'empty'}}
                        </span>
                      </span>
                    </td>
                    <td ng-show="tableformcc.$visible">
                      <button type="button"
                        ng-click="jobroles.deleteAdditionalRow(job_roles_data.id, 'cost_centre', key)"
                        class="btn btn-sm btn-danger pull-left">
                        <i class="fa fa-remove"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="tableformcc.$visible">
                    <td colspan="5">
                      <button type="button"
                        ng-disabled="tableformcc.$waiting"
                        ng-click="jobroles.addAdditionalRow(job_roles_data.id, 'cost_centre')"
                        class="btn btn-link">
                        <span class="btn-icon"><i class="fa fa-plus"></i></span>Add New Cost Centre
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </uib-tab>
    </uib-tabset>
    <footer class="panel-footer">
      <button class="btn btn-danger" ng-click="jobroles.removeRole(job_roles_data)">
        <span class="btn-icon"><i class="fa fa-trash"></i></span>
        Delete this job role
      </button>
    </footer>
  </div>
</section>
