<section>
    <div class="row">
        <section class="panel panel-default panel--appraisal-cycle-header">
            <header class="panel-heading panel-heading-w-buttons">
                <h2 class="panel-title pull-left panel--appraisal-cycle-header__title">
                    Appraisal Cycle 1

                    <span class="panel--appraisal-cycle-header__title__cycle-id">
                        (Cycle ID: <span>42131</span>)
                    </span>
                </h2>
                <a href="" class="btn btn-secondary-outline text-uppercase pull-right">
                    <i class="fa fa-plus fa-fw"></i>
                    add contacts
                </a>
                <div class="clearfix"></div>
            </header>
            <div class="panel-body panel-body-small">
                <div class="row form-horizontal">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cycle-type" class="col-sm-3 control-label">Cycle Type:</label>
                            <div class="col-sm-9">
                                <select id="cycle-type" class="form-control">
                                    <option value="">---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Period:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">dd/mm/yyyy - dd/mm/yyyy</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <label for="cycle-active" class="control-label">Active:</label>
                        &nbsp;
                        <input type="checkbox" id="cycle-active">
                    </div>
                    <div class="col-sm-2 text-right">
                        <div class="form-control-static">
                            <a
                                href=""
                                class="panel--appraisal-cycle-header__settings"
                                ng-click="cycle.openAccessSettingsModal()">
                                <i class="fa fa-gear fa-fw"></i>
                                Access Settings
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="panel panel-primary">
            <header class="panel-heading">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Cycle Summary</a>
                    </li>
                    <li role="presentation">
                        <a href="#appraisals" aria-controls="appraisals" role="tab" data-toggle="tab">Appraisals in Cycle</a>
                    </li>
                </ul>
            </header>
            <div class="row">
                <div class="col-sm-8">
                    <section class="panel panel-default panel--breakdown">
                        <header class="panel-heading">
                            <h2 class="panel-title">Breakdown</h2>
                        </header>
                        <div class="panel-body">
                            <ul class="list-unstyled chr_steps chr_steps--flex chr_steps--compact">
                                <li class="chr_steps__step">
                                    <span class="chr_steps__step__arrow chart-color-0">Step 1</span>
                                    <div class="chr_steps__step__legend">
                                        <div class="chr_steps__step__legend__content chart-color-border-0 text-center">
                                            <p>
                                                Awaiting Self<br>Appraisal
                                            </p>
                                            <p class="text-danger">
                                                <strong>30 Overdue</strong>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="chr_steps__step">
                                    <span class="chr_steps__step__arrow chart-color-1">Step 2</span>
                                    <div class="chr_steps__step__legend">
                                        <div class="chr_steps__step__legend__content chart-color-border-1 text-center">
                                            <p>
                                                Awaiting Manager<br>Appraisal
                                            </p>
                                            <p class="text-primary">
                                                <strong>22 Contacts</strong>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="chr_steps__step">
                                    <span class="chr_steps__step__arrow chart-color-2">Step 3</span>
                                    <div class="chr_steps__step__legend">
                                        <div class="chr_steps__step__legend__content chart-color-border-2 text-center">
                                            <p>Awaiting<br>Grade</p>
                                            <p class="text-primary">
                                                <strong>3 Contacts</strong>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="chr_steps__step">
                                    <span class="chr_steps__step__arrow chart-color-3">Step 4</span>
                                    <div class="chr_steps__step__legend">
                                        <div class="chr_steps__step__legend__content chart-color-border-3 text-center">
                                            <p>
                                                Awaiting HR<br>Approval
                                            </p>
                                            <p class="text-primary">
                                                <strong>45 Contacts</strong>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="chr_steps__step">
                                    <span class="chr_steps__step__arrow chart-color-4">Step 5</span>
                                    <div class="chr_steps__step__legend">
                                        <div class="chr_steps__step__legend__content chart-color-border-4 text-center">
                                            <p>Complete</p>
                                            <br>
                                            <p class="text-primary">
                                                <strong>0 Contacts</strong>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <footer class="panel-footer">
                            <dl class="dl-horizontal dl-horizontal-inline">
                                <dt>Total number of appraisals in this cycles:</dt>
                                <dd>100</dd>
                            </dl>
                        </footer>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="panel panel-default panel--grades">
                        <header class="panel-heading">
                            <h2 class="panel-title">Grades</h2>
                        </header>
                        <div class="panel-body" crm-grades-chart chart-data="cycle.grades">
                        </div>
                        <footer class="panel-footer">
                            <dl class="dl-horizontal dl-horizontal-inline">
                                <dt>Average Grade:</dt>
                                <dd>2.6 (Meet Expectation)</dd>
                            </dl>
                        </footer>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel panel-default panel-default-plain-inverted">
                        <header class="panel-heading panel-heading-w-buttons">
                            <h2 class="panel-title pull-left">Due Dates</h2>
                            <a href=""
                                class="btn btn-secondary-outline text-uppercase pull-right"
                                ng-click="cycle.openEditDatesModal()">
                                edit
                            </a>
                            <div class="clearfix"></div>
                            <hr>
                        </header>
                        <div class="panel-body">
                            <dl class="dl-inline">
                                <dt>Self Appraisal Due:</dt>
                                <dd>dd/mm/yyyy</dd>
                                <dt>Manager Appraisal Due:</dt>
                                <dd>dd/mm/yyyy</dd>
                                <dt>Grade Due:</dt>
                                <dd>dd/mm/yyyy</dd>
                            </dl>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <h2 class="panel-title pull-left">
                                <span class="text-danger">
                                    Overdue appraisals in this cycle
                                </span>
                            </h2>
                            <a href="" class="pull-right">View in Search</a>
                            <div class="clearfix"></div>
                        </header>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Appraisal Type</th>
                                        <th>Status</th>
                                        <th>Due Date</th>
                                        <th>Self Appraisal</th>
                                        <th>Manager Appraisal</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Amy Anderson</td>
                                        <td>Annual Appraisal</td>
                                        <td>Assigned to Manager</td>
                                        <td>dd/mm/yyyy</td>
                                        <td><a href="">View Self Appraisal</a></td>
                                        <td><a href="">View Manager Appraisal</a></td>
                                        <td class="text-center">-</td>
                                    </tr>
                                    <tr>
                                        <td>Lauren Ipsum</td>
                                        <td>Annual Appraisal</td>
                                        <td>Assigned to Manager</td>
                                        <td>dd/mm/yyyy</td>
                                        <td><a href="">View Self Appraisal</a></td>
                                        <td><a href="">View Manager Appraisal</a></td>
                                        <td class="text-center">-</td>
                                    </tr>
                                    <tr>
                                        <td>Amy Anderson</td>
                                        <td>Annual Appraisal</td>
                                        <td>Assigned to Manager</td>
                                        <td>dd/mm/yyyy</td>
                                        <td><a href="">View Self Appraisal</a></td>
                                        <td><a href="">View Manager Appraisal</a></td>
                                        <td class="text-center">-</td>
                                    </tr>
                                    <tr>
                                        <td>Amy Anderson</td>
                                        <td>Annual Appraisal</td>
                                        <td>Assigned to Manager</td>
                                        <td>dd/mm/yyyy</td>
                                        <td><a href="">View Self Appraisal</a></td>
                                        <td><a href="">View Manager Appraisal</a></td>
                                        <td class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
