<section>
    <crm-loading show="!cycle.loading.cycle">
        <div class="row">
            <section class="panel panel-default panel--appraisal-cycle-header">
                <header class="panel-heading panel-heading-w-buttons">
                    <h2 class="panel-title pull-left panel--appraisal-cycle-header__title">
                        {{cycle.cycle.cycle_name}}
                        <span class="panel--appraisal-cycle-header__title__cycle-id">
                            (Cycle ID: <span>{{cycle.cycle.id}}</span>)
                        </span>
                    </h2>
                    <a
                        href
                        class="btn btn-secondary-outline text-uppercase pull-right"
                        ng-click="cycle.openAddContactsModal()">
                        <i class="fa fa-plus fa-fw"></i>
                        add contacts
                    </a>
                    <div class="clearfix"></div>
                </header>
                <div class="panel-body panel-body-small">
                    <div class="row form-horizontal form-horizontal-inline">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cycle-type" class="col-sm-3 control-label">Cycle Type:</label>
                                <div class="col-sm-9">
                                    <div class="crm_custom-select crm_custom-select--full">
                                        <select
                                            id="cycle-type"
                                            class="form-control"
                                            ng-model="cycle.cycle.cycle_type_id"
                                            ng-options="type.value as type.label for type in cycle.types"
                                            ng-change="cycle.update()">
                                        </select>
                                        <span class="crm_custom-select__arrow"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Period:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                        {{cycle.cycle.cycle_start_date}} - {{cycle.cycle.cycle_end_date}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label for="cycle-active" class="control-label">Active:</label>
                            &nbsp;
                            <input
                                type="checkbox"
                                id="cycle-active"
                                ng-model="cycle.cycle.cycle_is_active"
                                ng-change="cycle.update()">
                        </div>
                        <div class="col-sm-2 text-right">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="panel panel-primary">
                <header class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li ui-sref-active="active">
                            <a ui-sref="appraisals.appraisal-cycle.cycle-summary({ cycleId: cycle.cycle.id })">
                                Cycle Summary
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="appraisals.appraisal-cycle.appraisals-in-cycle({ cycleId: cycle.cycle.id })">
                                Appraisals in Cycle
                            </a>
                        </li>
                    </ul>
                </header>
                <div ui-view></div>
            </section>
        </div>
    </crm-loading>
</section>
