<section>
    <div class="row">
        <div class="col-sm-4">
            <section class="panel panel-default panel--active-cycles">
                <header class="panel-heading">
                    <h2 class="panel-title">Active Cycles</h2>
                </header>
                <div class="panel-body text-center">
                    {{dashboard.activeCycles.length}}
                </div>
                <footer class="panel-footer">
                    <dl class="dl-horizontal dl-horizontal-inline">
                        <dt>Total Cycles:</dt>
                        <dd>20</dd>
                    </dl>
                </footer>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="panel panel-default panel--status">
                <header class="panel-heading">
                    <h2 class="panel-title">Status</h2>
                </header>
                <div class="panel-body">
                    <ul class="list-unstyled chr_steps chr_steps--compact chr_steps--appraisals-status">
                        <li class="chr_steps__step" ng-repeat="step in dashboard.statusOverview.steps">
                            <span class="chr_steps__step__arrow chart-color-{{$index}}">Step {{$index}}</span>
                            <div class="chr_steps__step__legend">
                                <div class="chr_steps__step__legend__content chart-color-border-{{$index}} text-center">
                                    <p class="chr_steps--appraisals-status__contacts">
                                        <span class="chr_steps--appraisals-status__count">{{step.contacts}}</span>
                                        Contacts
                                    </p>
                                    <p class="chr_steps--appraisals-status__overdue">
                                        <span class="chr_steps--appraisals-status__count">{{step.overdue}}</span>
                                        Overdue
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <footer class="panel-footer">
                    <dl class="dl-horizontal dl-horizontal-inline">
                        <dt>Total number of appraysals in all cycles:</dt>
                        <dd>{{dashboard.statusOverview.totalAppraisalsNumber}}</dd>
                    </dl>
                </footer>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="panel panel-default panel--grades">
                <header class="panel-heading">
                    <h2 class="panel-title">Grades</h2>
                </header>
                <div class="panel-body" crm-grades-chart chart-data="dashboard.chartData">
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading clearfix">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2 class="panel-title">
                                Appraisal Cycles
                            </h2>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-secondary-outline active">Active</button>
                                <button class="btn btn-secondary-outline">Inactive</button>
                                <button class="btn btn-secondary-outline">All</button>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span style="cursor: pointer;" ng-click="dashboard.filtersCollapsed = !dashboard.filtersCollapsed">
                                <i
                                    class="fa fa-fw fa-0_5x"
                                    ng-class="{ 'fa-chevron-right': dashboard.filtersCollapsed, 'fa-chevron-down': !dashboard.filtersCollapsed }"
                                ></i>
                                Filter Appraisals
                            </span>
                        </div>
                    </div>
                </header>
                <div collapse="dashboard.filtersCollapsed">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback">
                                        <label for="cycle-name" class="control-label col-sm-3">
                                            Cycle Name:
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="cycle-name">
                                            <span class="fa fa-search form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="cycle-type" class="control-label col-sm-5">
                                            Cycle type:
                                        </label>
                                        <div class="col-sm-7">
                                            <select
                                                class="form-control"
                                                id="cycle-type"
                                                ng-model="filter.type"
                                                ng-options="type for type in dashboard.types">
                                                <option value="">- select -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="cycle-status" class="control-label col-sm-5">
                                            Cycle Status:
                                        </label>
                                        <div class="col-sm-7">
                                            <select
                                                class="form-control"
                                                id="cycle-status"
                                                ng-model="filter.status"
                                                ng-options="type for type in dashboard.statuses">
                                                <option value="">- select -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group form-group-sm">
                                        <label for="self-due-from" class="control-label col-sm-7">
                                            Self Appraisal Due From:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="self-due-from">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group form-group-sm">
                                        <label for="self-due-to" class="control-label col-sm-2">
                                            To:
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="self-due-to">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-sm">
                                        <label for="manager-due-from" class="control-label col-sm-7">
                                            Manager Appraisal Due From:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="manager-due-from">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group form-group-sm">
                                        <label for="manager-due-to" class="control-label col-sm-2">
                                            To:
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="manager-due-to">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group form-group-sm">
                                        <label for="grade-due-from" class="control-label col-sm-7">
                                            Grade Due From:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="grade-due-from">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group form-group-sm">
                                        <label for="grade-due-to" class="control-label col-sm-2">
                                            To:
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="grade-due-to">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-sm">
                                        <label for="appraisal-due-from" class="control-label col-sm-7">
                                            Appraisal Period From:
                                        </label>
                                        <div class="col-sm-5">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="appraisal-due-from">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group form-group-sm">
                                        <label for="appraisal-due-to" class="control-label col-sm-2">
                                            To:
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-sm input-group-unstyled">
                                                <input type="text" class="form-control" id="appraisal-due-to">
                                                <span class="input-group-addon fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-primary panel--dashboard-appraisals">
                <header class="panel-heading">
                    <h2 class="panel-title">
                        10 Overdue Appraisals and 80 Due this week
                    </h2>
                </header>
                <article class="panel panel-default panel-default-plain-inverted chr_appraisal-cycle-summary">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="panel-title panel-title-sm">
                                    Appraisal Cycle 1 (Active)
                                </h3>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="chr_appraisal-cycle-summary__details">
                                    <span class="chr_appraisal-cycle-summary__meta">100 Appraisals</span>
                                    <span class="chr_appraisal-cycle-summary__meta">45% complete</span>
                                    <div class="chr_appraisal-cycle-summary__actions dropdown" dropdown>
                                        <a href class="chr_appraisal-cycle-summary__actions__toggle" id="appraisal-xx-actions" dropdown-toggle>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="appraisal-xx-actions">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-chain"></i> View Cycle
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit Cycle
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </header>
                    <div class="panel-body">
                        <dl class="dl-inline">
                            <dt>Cycle ID:</dt>
                            <dd>42131</dd>
                            <dt>Period:</dt>
                            <dd>01/01/2014 - 01/01/2015</dd>
                            <dt>Next Due:</dt>
                            <dd>Manager Appraisal (23/23/2023)</dd>
                        </dl>
                    </div>
                    <footer class="panel-footer">
                        <ul class="list-unstyled chr_steps">
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Self Appraisal: 30</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--primary">
                                <span class="chr_steps__step__arrow">Assigned to Manager: 22</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Awaiting Grade: 2</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Awaiting HR Approval: 1</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Complete: 45</span>
                            </li>
                        </ul>
                    </footer>
                </article>
                <article class="panel panel-default panel-default-plain-inverted chr_appraisal-cycle-summary">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="panel-title panel-title-sm">
                                    Appraisal Cycle 2 (Active)
                                </h3>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="chr_appraisal-cycle-summary__details">
                                    <span class="chr_appraisal-cycle-summary__meta">100 Appraisals</span>
                                    <span class="chr_appraisal-cycle-summary__meta">45% complete</span>
                                    <div class="chr_appraisal-cycle-summary__actions dropdown" dropdown>
                                        <a href class="chr_appraisal-cycle-summary__actions__toggle" id="appraisal-xx-actions" dropdown-toggle>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="appraisal-xx-actions">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-chain"></i> View Cycle
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit Cycle
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </header>
                    <div class="panel-body">
                        <dl class="dl-inline">
                            <dt>Cycle ID:</dt>
                            <dd>42131</dd>
                            <dt>Period:</dt>
                            <dd>01/01/2014 - 01/01/2015</dd>
                            <dt>Next Due:</dt>
                            <dd>Self Appraisal (23/23/2023)</dd>
                        </dl>
                    </div>
                    <footer class="panel-footer">
                        <ul class="list-unstyled chr_steps">
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Self Appraisal: 0</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Assigned to Manager: 12</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--primary">
                                <span class="chr_steps__step__arrow">Awaiting Grade: 42</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Awaiting HR Approval: 1</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Complete: 45</span>
                            </li>
                        </ul>
                    </footer>
                </article>
                <article class="panel panel-default panel-default-plain-inverted chr_appraisal-cycle-summary">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="panel-title panel-title-sm">
                                    Appraisal Cycle 3 (Active)
                                </h3>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="chr_appraisal-cycle-summary__details">
                                    <span class="chr_appraisal-cycle-summary__meta">100 Appraisals</span>
                                    <span class="chr_appraisal-cycle-summary__meta">45% complete</span>
                                    <div class="chr_appraisal-cycle-summary__actions dropdown" dropdown>
                                        <a href class="chr_appraisal-cycle-summary__actions__toggle" id="appraisal-xx-actions" dropdown-toggle>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="appraisal-xx-actions">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-chain"></i> View Cycle
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit Cycle
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </header>
                    <div class="panel-body">
                        <dl class="dl-inline">
                            <dt>Cycle ID:</dt>
                            <dd>42131</dd>
                            <dt>Period:</dt>
                            <dd>01/01/2014 - 01/01/2015</dd>
                            <dt>Next Due:</dt>
                            <dd>Self Appraisal (23/23/2023)</dd>
                        </dl>
                    </div>
                    <footer class="panel-footer">
                        <ul class="list-unstyled chr_steps">
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Self Appraisal: 0</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Assigned to Manager: 12</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--primary">
                                <span class="chr_steps__step__arrow">Awaiting Grade: 42</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Awaiting HR Approval: 1</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Complete: 45</span>
                            </li>
                        </ul>
                    </footer>
                </article>
                <article class="panel panel-default panel-default-plain-inverted chr_appraisal-cycle-summary">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="panel-title panel-title-sm">
                                    Appraisal Cycle 4 (Active)
                                </h3>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="chr_appraisal-cycle-summary__details">
                                    <span class="chr_appraisal-cycle-summary__meta">100 Appraisals</span>
                                    <span class="chr_appraisal-cycle-summary__meta">45% complete</span>
                                    <div class="chr_appraisal-cycle-summary__actions dropdown" dropdown>
                                        <a href class="chr_appraisal-cycle-summary__actions__toggle" id="appraisal-xx-actions" dropdown-toggle>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="appraisal-xx-actions">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-chain"></i> View Cycle
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit Cycle
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </header>
                    <div class="panel-body">
                        <dl class="dl-inline">
                            <dt>Cycle ID:</dt>
                            <dd>42131</dd>
                            <dt>Period:</dt>
                            <dd>01/01/2014 - 01/01/2015</dd>
                            <dt>Next Due:</dt>
                            <dd>Self Appraisal (23/23/2023)</dd>
                        </dl>
                    </div>
                    <footer class="panel-footer">
                        <ul class="list-unstyled chr_steps">
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Self Appraisal: 0</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Assigned to Manager: 12</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--primary">
                                <span class="chr_steps__step__arrow">Awaiting Grade: 42</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Awaiting HR Approval: 1</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Complete: 45</span>
                            </li>
                        </ul>
                    </footer>
                </article>
                <article class="panel panel-default panel-default-plain-inverted chr_appraisal-cycle-summary">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="panel-title panel-title-sm">
                                    Appraisal Cycle 5 (Active)
                                </h3>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="chr_appraisal-cycle-summary__details">
                                    <span class="chr_appraisal-cycle-summary__meta">100 Appraisals</span>
                                    <span class="chr_appraisal-cycle-summary__meta">45% complete</span>
                                    <div class="chr_appraisal-cycle-summary__actions dropdown" dropdown>
                                        <a href class="chr_appraisal-cycle-summary__actions__toggle" id="appraisal-xx-actions" dropdown-toggle>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="appraisal-xx-actions">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-chain"></i> View Cycle
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit Cycle
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </header>
                    <div class="panel-body">
                        <dl class="dl-inline">
                            <dt>Cycle ID:</dt>
                            <dd>42131</dd>
                            <dt>Period:</dt>
                            <dd>01/01/2014 - 01/01/2015</dd>
                            <dt>Next Due:</dt>
                            <dd>Self Appraisal (23/23/2023)</dd>
                        </dl>
                    </div>
                    <footer class="panel-footer">
                        <ul class="list-unstyled chr_steps">
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Self Appraisal: 0</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--danger">
                                <span class="chr_steps__step__arrow">Assigned to Manager: 12</span>
                            </li>
                            <li class="chr_steps__step chr_steps__step--primary">
                                <span class="chr_steps__step__arrow">Awaiting Grade: 42</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Awaiting HR Approval: 1</span>
                            </li>
                            <li class="chr_steps__step">
                                <span class="chr_steps__step__arrow">Complete: 45</span>
                            </li>
                        </ul>
                    </footer>
                </article>
                <div class="panel--dashboard-appraisals__show-more text-center">
                    <button class="btn btn-default text-uppercase">
                        show more
                    </button>
                </div>
            </section>
        </div>
    </div>
</section>
