<div class="manager-leave-page">
  <div class="button-container">
    <leave-request-record-actions
      btn-class="btn-primary"
      contact-id="managerLeave.contactId">
    </leave-request-record-actions>
  </div>
  <div class="tabs-container">
    <div class="container">
      <ul class="nav nav-tabs nav-justified nav-tabs-header">
        <li ui-sref-active="active">
          <a ui-sref="manager-leave.requests">Leave Requests</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="manager-leave.calendar">Calendar</a>
        </li>
      </ul>
      <div class="tab-content">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
