<section>
  <crm-loading show="!calendar.loading.page">
    <div class="panel panel-default">
      <div class="panel-heading chr_manager_calendar__header">
        <div>
          <ui-select ng-change="calendar.refresh()"
                     ng-model="calendar.filters.contact">
            <ui-select-match placeholder="Staff Member" allow-clear>
              <span ng-bind="$select.selected.display_name"></span>
            </ui-select-match>
            <ui-select-choices repeat="user in (calendar.managedContacts | filter: $select.search) track by user.id">
              <span ng-bind="user.display_name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="chr_custom-select">
          <select
            ng-options="region.label for region in calendar.regions track by region.id"
            ng-model="calendar.filters.region"
            ng-change="calendar.refresh()">
            <option value="">Region</option>
          </select>
        </div>
        <div class="chr_custom-select">
          <select
            ng-options="department.label for department in calendar.departments track by department.id"
            ng-model="calendar.filters.department"
            ng-change="calendar.refresh()">
            <option value="">Department</option>
          </select>
        </div>
        <div class="chr_custom-select">
          <select
            ng-options="levelType.value for levelType in calendar.levelTypes track by levelType.id"
            ng-model="calendar.filters.level_type"
            ng-change="calendar.refresh()">
            <option value="">Level Type</option>
          </select>
        </div>
        <div class="chr_custom-select">
          <select
            ng-options="location.label for location in calendar.locations track by location.id"
            ng-model="calendar.filters.location"
            ng-change="calendar.refresh()">
            <option value="">Locations</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-change="calendar.refresh()"
                   ng-model="calendar.filters.contacts_with_leaves"> Show only those who are taking leave
          </label>
        </div>
      </div>
      <div class="panel-subheading">
        <div class="row">
          <div class="col-sm-8">
            <ui-select multiple
                       ng-model="calendar.selectedMonths">
              <ui-select-match placeholder="Select Months">
                <span ng-bind="$item"></span>
              </ui-select-match>
              <ui-select-choices repeat="month in (calendar.monthLabels | filter: $select.search)">
                <span ng-bind="month"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-sm-offset-1 col-sm-3">
            <div class="chr_custom-select chr_custom-select--full">
              <select
                ng-options="period as calendar.labelPeriod(period) for period in calendar.absencePeriods track by period.id"
                ng-model="calendar.selectedPeriod"
                ng-change="calendar.changeSelectedPeriod()">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <crm-loading show="!calendar.loading.calendar">
      <section class="panel panel-default"
               ng-repeat="month in calendar.months track by $index">
        <ng-include
          ng-hide="(calendar.selectedMonths.length !== 0 && calendar.selectedMonths.indexOf(calendar.monthLabels[month.month]) === -1)"
          src="$root.settings.pathTpl + 'components/manager-leave-calendar-month.html'"></ng-include>
      </section>
    </crm-loading>
    <section class="panel panel-default" ng-class="{ 'is-collapsed': calendar.legendCollapsed }">
      <header class="panel-heading panel-heading-plain">
        <h2 class="panel-title" role="button" ng-click="calendar.legendCollapsed = !calendar.legendCollapsed">
          <i
            class="fa"
            aria-hidden="true"
            ng-class="{ 'fa-chevron-right': calendar.legendCollapsed, ' fa-chevron-down': !calendar.legendCollapsed }"></i>
          Legend
        </h2>
      </header>
      <div class="panel-collapse" uib-collapse="calendar.legendCollapsed">
        <div class="panel-body chr_leave-calendar__legend" ng-show="!calendar.legendCollapsed">

          <div class="row" ng-repeat-start="absenceType in calendar.absenceTypes">
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item"
                     ng-style="calendar.getAbsenceTypeStyle(absenceType)"></div>
                <span class="chr_leave-calendar__legend__label">{{absenceType.title}}</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item"
                     ng-style="calendar.getAbsenceTypeStyle(absenceType)"><span>AM</span>
                </div>
                <span class="chr_leave-calendar__legend__label">{{absenceType.title}} AM Only</span>
              </div>
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item"
                     ng-style="calendar.getAbsenceTypeStyle(absenceType)"><span>PM</span>
                </div>
                <span class="chr_leave-calendar__legend__label">{{absenceType.title}} PM Only</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--requested"
                     ng-style="calendar.getAbsenceTypeStyle(absenceType)"></div>
                <span class="chr_leave-calendar__legend__label">Requested {{absenceType.title}}</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--requested"
                     ng-style="calendar.getAbsenceTypeStyle(absenceType)"><span>AM</span>
                </div>
                <span class="chr_leave-calendar__legend__label">Requested {{absenceType.title}} AM</span>
              </div>
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--requested"
                     ng-style="calendar.getAbsenceTypeStyle(absenceType)"><span>PM</span>
                </div>
                <span class="chr_leave-calendar__legend__label">Requested {{absenceType.title}} PM</span>
              </div>
            </div>
          </div>
          <div class="row" ng-repeat-end ng-if="absenceType.allow_accruals_request == 1">
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--alt"
                     ng-style="{borderColor: absenceType.color}">
                  <span>AT</span>
                </div>
                <span class="chr_leave-calendar__legend__label">Accrued TOIL</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--alt chr_leave-calendar__item--toil-requested"
                     ng-style="{borderColor: absenceType.color}">
                  <span>AT</span>
                </div>
                <span class="chr_leave-calendar__legend__label">Requested Accrued TOIL</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--type--weekend"></div>
                <span class="chr_leave-calendar__legend__label">Weekend</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--type--public-holiday"></div>
                <span class="chr_leave-calendar__legend__label">Public Holiday</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="chr_leave-calendar__legend__entry">
                <div class="chr_leave-calendar__item chr_leave-calendar__item--type--non-working"></div>
                <span class="chr_leave-calendar__legend__label">Non Working Day</span>
              </div>
            </div>
            <!--Uncomment when LATE is developed -->
            <!--<div class="col-sm-3">-->
              <!--<div class="chr_leave-calendar__legend__entry">-->
                <!--<div-->
                  <!--class="chr_leave-calendar__item chr_leave-calendar__item&#45;&#45;type&#45;&#45;late chr_leave-calendar__item&#45;&#45;alt">-->
                  <!--<span>L</span></div>-->
                <!--<span class="chr_leave-calendar__legend__label">Late</span>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>
  </crm-loading>
</section>
