<div ng-controller="KeyDetailsCtrl as KeyDetails">
    <h1>Key Details</h1>

    <div>
        Age: {{ KeyDetails.contactDetails.age }}
    </div>
    <div>
        Date of Birth: {{ KeyDetails.contactDetails.dateOfBirth }}
    </div>
    <div>
        Length of Service: {{ KeyDetails.primaryContract.lengthOfService }}
    </div>
    <div>
        Contract Type: {{ KeyDetails.primaryContract.type }}
    </div>
    <div>
        Gross Annual Pay: {{ KeyDetails.primaryContract.pay.currency }} {{ KeyDetails.primaryContract.pay.amount }}
    </div>
    <div>
        Hours: {{ KeyDetails.primaryContract.hours.amount }} per {{ KeyDetails.primaryContract.hours.unit }}
    </div>
</div>