<section class="panel panel-default panel-default-plain-inverted panel--key-dates" ng-controller="KeyDatesCtrl as KeyDates">
    <header class="panel-heading">
        <h2 class="panel-title">Key Dates</h2>
        <hr>
    </header>
    <div class="panel-body">
        <!-- <div class="dates">
            <div ng-repeat="(key, value) in dates = (KeyDates.dates | orderBy: 'date')">
                <span class="title">{{value.title}}:</span><span class="date">{{value.date}}</span>
            </div>
        </div> -->
        <div class="panel-body-section">
            <ul class="list-unstyled chr_timeline">
                <li class="chr_timeline__entry chr_timeline__entry--past">
                    <span class="chr_timeline__entry__name">
                        Initial Join Date
                    </span>
                    <span class="chr_timeline__entry__date">
                        23/23/23
                    </span>
                </li>
                <li class="chr_timeline__entry chr_timeline__entry--past">
                    <span class="chr_timeline__entry__name">
                        Contract Start Date
                    </span>
                    <span class="chr_timeline__entry__date">
                        23/23/23
                    </span>
                </li>
                <li class="chr_timeline__entry chr_timeline__entry--past">
                    <span class="chr_timeline__entry__name">
                        Probation End Date
                    </span>
                    <span class="chr_timeline__entry__date">
                        23/23/23
                    </span>
                </li>
                <li class="chr_timeline__entry chr_timeline__entry--future">
                    <span class="chr_timeline__entry__name">
                        Contract End Date
                    </span>
                    <span class="chr_timeline__entry__date">
                        23/23/23
                    </span>
                </li>
                <li class="chr_timeline__entry chr_timeline__entry--future">
                    <span class="chr_timeline__entry__name">
                        Final Termination Date
                    </span>
                    <span class="chr_timeline__entry__date">
                        23/23/23
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <footer class="panel-footer text-center">
        <div class="row">
            <div class="col-md-6">
                <strong>{{KeyDates.activeContracts}} Active Job Contracts</strong>
            </div>
            <div class="col-md-6">
                <strong>{{KeyDates.activeRoles}} Active Roles or Projects</strong>
            </div>
        </div>
    </footer>
</section>
