<div ng-controller="LeaveCtrl as LeaveCtrl" id="leaves">
    <h1>Leave</h1>

    <h2>Leave Type: Annual</h2>

    <div ng-repeat="leave in LeaveCtrl.leaves">
        {{leave.title}}: {{leave.taken}} days
    </div>

    <div data-cs-donut-chart data-items="LeaveCtrl.leaves"
         data-item-key="taken" data-ready="LeaveCtrl.ready"></div>

    <div>
        Annual Leave Entitlement: {{LeaveCtrl.totalEntitlement}}
    </div>

    <div>
        TOIL Days Accrued: {{LeaveCtrl.toil.entitled}} days
        TOIL Days Claimed: {{LeaveCtrl.toil.taken}} days
    </div>
</div>