<section class="panel panel-default panel--sickness" ng-controller="SicknessCtrl as Sick">
    <header class="panel-heading">
        <h2 class="panel-title">Sickness</h2>
    </header>
    <div class="panel-body">
        <div class="panel-body-section">
            <div class="row">
                <div class="col-md-6">
                    <dl>
                        <dt>Sick Days Taken:</dt>
                        <dd>Period: <span data-angular-placeholder>Last Year</span></dd>
                    </dl>
                </div>
                <div class="col-md-6 col--sickness-days">
                    <div class="chr_sickness-days" ng-class="{ 'chr_sickness-days--danger': Sick.taken > Sick.staffAverage }">
                        <div class="chr_sickness-days__count">
                            {{Sick.taken}}
                        </div>
                        <div class="chr_sickness-days__label">
                            <strong>days</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel-body-section">
            <dl class="dl-horizontal dl-horizontal-full">
                <dt>Staff Average</dt>
                <dd>{{Sick.staffAverage}} Days</dd>
            </dl>
        </div>
        <hr>
        <div class="panel-body-section">
            <dl class="dl-horizontal dl-horizontal-full">
                <dt>Previous Year</dt>
                <dd>{{Sick.takenPreviously}} Days</dd>
            </dl>
        </div>
    </div>

</section>
