<div class="chr_leave-report">
  <section class="panel panel-default">
    <div class="chr_leave-report__heading panel-heading">
      <div class="row">
        <div class="col-sm-9">
          <a href="#" class="chr_leave-report__export-button">
            <i class="fa fa-download fa-fw" aria-hidden="true"></i>
            Export CSV
          </a>
        </div>
        <div class="col-sm-3">
          <div class="chr_custom-select chr_custom-select--full">
            <select
              ng-options="period as report.labelPeriod(period) for period in report.absencePeriods track by period.id"
              ng-model="report.selectedPeriod"
              ng-change="report.refresh()">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="chr_leave-report__table table-responsive">
      <table class="table table-condensed-mixed">
        <thead>
          <tr>
            <th class="chr_leave-report__table__heading--label"></th>
            <th class="chr_leave-report__table__heading--dates">Dates</th>
            <th class="chr_leave-report__table__heading--status">Status</th>
            <th
              class="chr_leave-report__table__heading--type"
              ng-repeat="absenceType in report.absenceTypes track by $index">
              {{absenceType.title}}
            </th>
            <th class="chr_leave-report__table__heading--action"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              class="chr_leave-report__label chr_leave-report__label--toggle"
              ng-click="report.toggleSection('entitlements')">
              <i
                class="fa"
                aria-hidden="true"
                ng-class="{ 'fa-chevron-down': report.sections.entitlements.open, ' fa-chevron-right': !report.sections.entitlements.open }"></i>
              Period Entitlement
            </td>
            <td></td>
            <td></td>
            <td>31</td>
            <td>3</td>
            <td>0</td>
            <td></td>
          </tr>
          <tr ng-show="report.sections.entitlements.open">
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th
                        class="chr_leave-report__table__heading--type"
                        ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{absenceType.title}}
                      </th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="chr_leave-report__label">Brought Forward (expires 31/03/2016)</td>
                      <td></td>
                      <td></td>
                      <td>3</td>
                      <td>3</td>
                      <td>0</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="chr_leave-report__label">&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="chr_leave-report__label">Leave</td>
                      <td></td>
                      <td></td>
                      <td>20</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="chr_leave-report__label">Public Holidays</td>
                      <td></td>
                      <td></td>
                      <td>8</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td
              class="chr_leave-report__label chr_leave-report__label--toggle"
              ng-click="report.toggleSection('holidays')">
              <i
                class="fa"
                aria-hidden="true"
                ng-class="{ 'fa-chevron-down': report.sections.holidays.open, ' fa-chevron-right': !report.sections.holidays.open }"></i>
              Public Holidays
            </td>
            <td></td>
            <td></td>
            <td ng-repeat="absenceType in report.absenceTypes track by $index">
              {{absenceType.balanceChanges.publicHolidays}}
            </td>
            <td></td>
          </tr>
          <tr ng-show="report.sections.holidays.open">
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th
                        class="chr_leave-report__table__heading--type"
                        ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{absenceType.title}}
                      </th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="request in report.sections.holidays.data track by $index">
                      <td class="chr_leave-report__label">Public Holiday</td>
                      <td>{{request.from_date}}</td>
                      <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                      <td ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{(request.type_id == absenceType.id ? request.balance_change : '')}}
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td
              class="chr_leave-report__label chr_leave-report__label--toggle"
              ng-click="report.toggleSection('approved')">
              <i
                class="fa"
                aria-hidden="true"
                ng-class="{ 'fa-chevron-down': report.sections.approved.open, ' fa-chevron-right': !report.sections.approved.open }"></i>
              Approved Requests
            </td>
            <td></td>
            <td></td>
            <td ng-repeat="absenceType in report.absenceTypes track by $index">
              {{absenceType.balanceChanges.approved}}
            </td>
            <td></td>
          </tr>
          <tr ng-show="report.sections.approved.open">
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th
                        class="chr_leave-report__table__heading--type"
                        ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{absenceType.title}}
                      </th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="request in report.sections.approved.data track by $index">
                      <td class="chr_leave-report__label">
                        {{report.absenceTypes[request.type_id].title}}
                      </td>
                      <td>{{request.from_date}} - {{request.to_date}}</td>
                      <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                      <td ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{(request.type_id == absenceType.id ? request.balance_change : '')}}
                      </td>
                      <td ng-if="report.actionsFor(request).length">
                        <div uib-dropdown dropdown-append-to-body>
                          <a href class="chr_leave-report__action" uib-dropdown-toggle>
                            <i class="fa fa-ellipsis-v"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li ng-repeat="action in report.actionsFor(request)">
                              <a href="#">{{action}}</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr class="active">
            <td class="chr_leave-report__label">Balance</td>
            <td></td>
            <td></td>
            <td ng-repeat="absenceType in report.absenceTypes track by $index">
              {{absenceType.remainder.current}}
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="chr_leave-report__table table-responsive">
      <table class="table table-condensed-mixed">
        <tbody>
          <tr>
            <td
              class="chr_leave-report__label chr_leave-report__label--toggle chr_leave-report__table__heading--label"
              ng-click="report.toggleSection('pending')">
              <i
                class="fa"
                aria-hidden="true"
                ng-class="{ 'fa-chevron-down': report.sections.pending.open, ' fa-chevron-right': !report.sections.pending.open }"></i>
              Open Requests
            </td>
            <td class="chr_leave-report__table__heading--dates"></td>
            <td class="chr_leave-report__table__heading--status"></td>
            <td
              class="chr_leave-report__table__heading--type"
              ng-repeat="absenceType in report.absenceTypes track by $index">
              {{absenceType.balanceChanges.pending}}
            </td>
            <td class="chr_leave-report__table__heading--action"></td>
          </tr>
          <tr ng-show="report.sections.pending.open">
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th
                        class="chr_leave-report__table__heading--type"
                        ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{absenceType.title}}
                      </th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="request in report.sections.pending.data track by $index">
                      <td class="chr_leave-report__label">
                        {{report.absenceTypes[request.type_id].title}}
                      </td>
                      <td>{{request.from_date}} - {{request.to_date}}</td>
                      <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                      <td ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{(request.type_id == absenceType.id ? request.balance_change : '')}}
                      </td>
                      <td ng-if="report.actionsFor(request).length">
                        <div uib-dropdown dropdown-append-to-body>
                          <a href class="chr_leave-report__action" uib-dropdown-toggle>
                            <i class="fa fa-ellipsis-v"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li ng-repeat="action in report.actionsFor(request)">
                              <a href="#">{{action}}</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr class="active">
            <td class="chr_leave-report__label">Future Balance</td>
            <td></td>
            <td></td>
            <td ng-repeat="absenceType in report.absenceTypes track by $index">
              {{absenceType.remainder.future}}
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="chr_leave-report__table table-responsive">
      <table class="table table-condensed-mixed">
        <tbody>
          <tr>
            <td
            colspan="9"
              class="chr_leave-report__label chr_leave-report__label--toggle"
              ng-click="report.toggleSection('other')">
              <i
                class="fa"
                aria-hidden="true"
                ng-class="{ 'fa-chevron-down': report.sections.other.open, ' fa-chevron-right': !report.sections.other.open }"></i>
              Cancelled and Other
            </td>
          </tr>
          <tr ng-show="report.sections.other.open">
            <td class="table-nested-cell" colspan="9">
              <div class="table-nested table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="chr_leave-report__table__heading--label"></th>
                      <th class="chr_leave-report__table__heading--dates">Dates</th>
                      <th class="chr_leave-report__table__heading--status">Status</th>
                      <th
                        class="chr_leave-report__table__heading--type"
                        ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{absenceType.title}}
                      </th>
                      <th class="chr_leave-report__table__heading--action"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="request in report.sections.other.data track by $index">
                      <td class="chr_leave-report__label">
                        {{report.absenceTypes[request.type_id].title}}
                      </td>
                      <td>{{request.from_date}} - {{request.to_date}}</td>
                      <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                      <td ng-repeat="absenceType in report.absenceTypes track by $index">
                        {{(request.type_id == absenceType.id ? request.balance_change : '')}}
                      </td>
                      <td ng-if="report.actionsFor(request).length">
                        <div uib-dropdown dropdown-append-to-body>
                          <a href class="chr_leave-report__action" uib-dropdown-toggle>
                            <i class="fa fa-ellipsis-v"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li ng-repeat="action in report.actionsFor(request)">
                              <a href="#">{{action}}</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
