<div class="my-leave-page">
  <div class="button-container">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" leave-request-popup leave-type="leave" contact-id="myleave.contactId">Record New Absence</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a leave-request-popup contact-id="myleave.contactId" leave-type="sickness" href="#">Record Sickness</a></li>
        <li><a leave-request-popup contact-id="myleave.contactId" leave-type="toil" href="#">Record Overtime</a></li>
      </ul>
    </div>
  </div>
  <div class="tabs-container">
    <div class="container">
      <ul class="nav nav-tabs nav-justified nav-tabs-header">
        <li ui-sref-active="active">
          <a ui-sref="my-leave.report">Report</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="my-leave.calendar">Calendar</a>
        </li>
      </ul>
      <div class="tab-content">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
