@import "modules/config";

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

##{$module} {
  //Unset reset.css
  @import "modules/unset";

  // bootstrap-sass v3.3.0.1
  // bootstrap/normalize and bootstrap/scaffolding customized to enable
  // the narrowed scope of the styles for this CiviCRM module only.
  // ==========================================================================
  @import "bootstrap-sprockets";

  @import "bootstrap-compass";
  @import "bootstrap-variables";

  @import "bootstrap/variables";
  @import "bootstrap/mixins";

  // Reset and dependencies
  @import "bootstrap/normalize-custom";
  @include normalize;
  @import "bootstrap/print";
  @import "bootstrap/glyphicons-custom";

  // Core CSS
  @import "bootstrap/scaffolding-custom";
  @include scaffolding;
  @import "bootstrap/type";
  @import "bootstrap/code";
  @import "bootstrap/grid";
  @import "bootstrap/tables";
  @import "bootstrap/forms";
  @import "bootstrap/buttons";

  // Components
  @import "bootstrap/component-animations";
  @import "bootstrap/dropdowns";
  @import "bootstrap/button-groups";
  @import "bootstrap/input-groups";
  @import "bootstrap/navs";
  @import "bootstrap/navbar";
  @import "bootstrap/breadcrumbs";
  @import "bootstrap/pagination";
  @import "bootstrap/pager";
  @import "bootstrap/labels";
  @import "bootstrap/badges";
  @import "bootstrap/jumbotron";
  @import "bootstrap/thumbnails";
  @import "bootstrap/alerts";
  @import "bootstrap/progress-bars";
  @import "bootstrap/media";
  @import "bootstrap/list-group";
  @import "bootstrap/panels";
  @import "bootstrap/responsive-embed";
  @import "bootstrap/wells";
  @import "bootstrap/close";

  // Components w/ JavaScript
  @import "bootstrap/modals-custom";
  @import "bootstrap/tooltip";
  @import "bootstrap/popovers";
  @import "bootstrap/carousel";

  // Utility classes
  @import "bootstrap/utilities";
  @import "bootstrap/responsive-utilities";

  // CiviCRM Module Custom
  // ==========================================================================
  @import "modules/variables";
  @import "modules/print";
  @import "modules/fontawesome";
  @import "modules/angular";
  @import "modules/utils";

  @import "partials/global";
  @include global;
  @import "partials/example";
}