<div id="civihr-ui-select-contact">
  <div class="crm-entityref-links">
    <a class="crm-add-entity crm-hover-button" ng-click="$ctrl.showNewHouseholdModal()">
      <i class="crm-i fa-home"></i>
      New Household
    </a>
    <a class="crm-add-entity crm-hover-button" ng-click="$ctrl.showNewIndividualModal()">
      <i class="crm-i fa-user"></i>
      New Individual
    </a>
    <a class="crm-add-entity crm-hover-button" ng-click="$ctrl.showNewOrganizationModal()">
      <i class="crm-i fa-building"></i>
      New Organization
    </a>
  </div>
</div>
