.btn {
  @include border-radius($border-radius-alt);
  font-weight: normal;
  text-transform: uppercase;
}

.btn-link {
  font-weight: 600;
}

.btn-gray {
  color: $gray-dark;
  background-color: #fff;
  border-color: $gray-dark;

  &:hover,
  &:focus,
  &.btn-focus {
    background-color: $brand-secondary-dark;
    color: #fff;
  }

  &.active {
    background-color: $brand-secondary-dark;
    color: #fff;

    &:hover,
    &:focus,
    &.btn-focus {
      background-color: $brand-secondary-dark;
      color: #fff;
    }
  }
}

.btn-collapse {
  background: none;
  border: 0 none;
  color: $gray;
  font-weight: normal;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  vertical-align: baseline;

  &:hover {
    color: darken($gray, 15%);
  }

  &:active {
    @include box-shadow(none);
  }

  .fa {
    margin-right: 3px;
    font-size: 9px;
    position: relative;
    top: -1px;
  }
}

.#{$prefix}context-menu-toggle {
  color: $gray;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;

  &:hover {
    color: $brand-primary;
  }
}

.btn-group.open {
  .#{$prefix}context-menu-toggle.dropdown-toggle {
    @include box-shadow(none);
  }
}