.btn {
  @include border-radius($border-radius-alt);
  font-weight: normal;
  text-transform: uppercase;

  &.btn-primary {

    &:hover {
      background-color: darken($btn-primary-bg, $crm-darken-percentage);
      border-color:  darken($btn-primary-bg, $crm-darken-percentage);
    }
  }

  &.btn-success {
    color: $gray-darker;

    &:hover {
      background-color: darken($btn-success-bg, $crm-darken-percentage);
      border-color: darken($btn-success-bg, $crm-darken-percentage);
      color: $crm-black;
    }
  }

  &.btn-info {

    &:hover {
      background-color: darken($btn-info-bg, $crm-darken-percentage);
      border-color: darken($btn-info-bg, $crm-darken-percentage);
    }
  }

  &.btn-warning {
    color: $gray-darker;

    &:hover {
      background-color: darken($btn-warning-bg, $crm-darken-percentage);
      border-color: darken($btn-warning-bg, $crm-darken-percentage);
      color: $crm-black;
    }
  }

  &.btn-danger {

    &:hover {
      background-color: darken($btn-danger-bg, $crm-darken-percentage);
      border-color: darken($btn-danger-bg, $crm-darken-percentage);
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(1);
  }
}

.btn-link {
  font-weight: 600;
}

.btn-gray {
  color: $gray-dark;
  background-color: #fff;
  border-color: $gray-dark;

  &:hover,
  &:focus,
  &.btn-focus {
    background-color: darken($gray-dark, 7%);
    color: #fff;
  }

  &.active {
    background-color: darken($gray-dark, 7%);
    color: #fff;

    &:hover,
    &:focus,
    &.btn-focus {
      background-color: darken($gray-dark, 7%);
      color: #fff;
    }
  }
}

.btn-collapse {
  background: none;
  border: 0 none;
  color: $gray;
  font-weight: normal;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  vertical-align: baseline;

  &:hover {
    color: darken($gray, 15%);
  }

  &:active {
    @include box-shadow(none);
  }

  .fa {
    margin-right: 3px;
    font-size: 9px;
    position: relative;
    top: -1px;
  }
}

.#{$prefix}context-menu-toggle {
  color: $gray-darker;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;

  &:hover {
    color: $brand-primary;
  }
}

.btn-group.open {
  .#{$prefix}context-menu-toggle.dropdown-toggle {
    @include box-shadow(none);
  }
}