[uib-datepicker-popup-wrap] > .dropdown-menu {
  padding: 10px;
}

.#{$prefix}datepicker {
  @include box-shadow($box-shadow-global);
}

.#{$prefix}datepicker,
[uib-datepicker-popup-wrap] > .dropdown-menu {
  table {

    &:focus {
      outline: 0 none;
    }

    tbody {
      background-color: $brand-secondary;

      .btn {
        background-color: $brand-secondary;
        border-radius: 20px;
        padding: 7px;
        line-height: 1;
        width: auto !important;

        &:hover,
        &:active {
          color: $btn-default-color;
        }
        &:active {
          @include box-shadow(none);
        }

        &:focus {
          outline: 0 none;
          background-color: $gray-lighter;
        }

        &.active {
          @include box-shadow(none);
          background-color: $brand-primary;

          span {
            color: #fff;
          }
        }
      }
    }

    td,th {
      padding: 7px;
    }
    thead {
      small {
        color: $headings-color;
        font-size: 11px;
      }
    }

    .btn {
      border-width: 0;
      font-size: 12px;
      font-weight: normal;
    }

    .text-muted {
      color: #CCCCCC;
    }

    > thead > tr > th {
      vertical-align: middle;
    }
  }

}
