/* stylelint-disable selector-no-qualifying-type */

input[type='radio'],
input[type='checkbox'],
.radio input[type='radio'],
.radio-inline input[type='radio'],
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] {
  margin-top: 2px;
}

.form-control-file {
  padding: 6px 12px;
}

.form-control-static {
  padding: {
    bottom: 8px;
    top: 6px;
  }

  .subfield {
    display: block;
  }
}

.form-horizontal {
  .control-label {
    text-align: left;

    &.control-label-line-2 {
      margin-top: -3px;
      padding-top: 0;
    }
  }

  .has-feedback {
    /* stylelint-disable selector-max-compound-selectors */
    select + .form-control-feedback {
      right: 28px;
    }

    [uib-datepicker-popup] + .form-control-feedback {
      right: 41px;
    }

    .form-inline {
      float: left;
      position: relative;

      select + .form-control-feedback {
        right: 10px;
      }
    }
  }

  .well {
    .form-group {
      margin-bottom: 0;

      + .form-group {
        margin-top: 15px;
      }
    }
  }
}

.text-required {
  color: #f00;
}

.form-group.required {
  .control-label::after {
    color: #f00;
    content: '*';
  }
}

.control-label,
.checkbox-inline,
.radio-inline,
.checkbox-label,
.radio-label {
  color: $headings-color;
  font-weight: 600;
}

.checkbox-label,
.radio-label {
  @extend label; /* stylelint-disable-line scss/at-extend-no-missing-placeholder */
}

.drop-zone {
  background-color: $gray-lighter;
  border: 1px dashed $input-border;
  color: $headings-color;
}

.ui-select-placeholder,
.ui-select-match-text {
  font-weight: normal;
  text-transform: none;
}

.ui-select-match-text {
  color: $input-color;
}

.ui-select-toggle[disabled] {
  background-color: $input-bg-disabled;
  opacity: 1;

  &:hover,
  &:focus,
  &:active {
    background-color: $input-bg-disabled;
  }
}
