.modal-header {
  background-color: $gray-lighter;

  .close {
    color: $gray-darker;
    font-size: $font-size-h2;
    margin-top: 3px;
    opacity: 1;

    &:hover {
      color: $crm-black;
    }
  }
}

.modal-body {
  background-color: $crm-white;
}

.modal-progress {
  .modal-body {
    overflow: hidden;
    padding-top: 25px;
  }

  .progress {
    margin-bottom: 2px;
  }

  .progress-bar {
    min-width: 2.5em;
  }
}

.modal-title {
  font-size: $font-size-h2;
}

.modal-content {

  .form-horizontal {
    .row,
    .form-group{
      margin: {
        left: -$modal-inner-padding;
        right: -$modal-inner-padding;
      };
    }

    .modal-body {
      padding-bottom: 0;
    }
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: $modal-inner-padding;
      right: $modal-inner-padding;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .modal-dialog {
    margin: 60px auto;
  }
}