.hrabsence-toolbar {
    width: 100%;
}

.hrabsence-new-region {
    width: 32%;
    background: #CDE8FE;
    padding: 0.8em;
}

.hrabsence-filter-region {
    width: 65%;
    background: #CDE8FE;
    padding: 0.8em;
    float: right;
}

.hrabsence-tabs-region {
    width: 100%;

}