@import "../../org.civicrm.bootstrapcivihr/scss/overrides/variables";
@import "../../org.civicrm.bootstrapcivicrm/scss/overrides/variables";
@import "../../org.civicrm.bootstrap/scss/overrides/variables";
@import "../../org.civicrm.bootstrap/scss/vendor/bootstrap/variables";
@import "../../org.civicrm.bootstrapcivicrm/scss/mixins/*";

.page-civicrm-appraisals-dashboard {

    #{$bootstrap-namespace} {
        padding-top: 25px;
    }

    #branding {
        display: none;
    }

    #page {
        margin: 0;
        padding: 0;
    }

    .chr_steps--appraisals-status__contacts {
        color: $brand-primary;
    }

    .chr_steps--appraisals-status__count {
        font-size: em(12, 10);
        font-weight: 600;
        display: block;
    }

    .chr_steps--appraisals-status__overdue {
        color: $brand-danger;
    }


    .panel--active-cycles,
    .panel--status {

        > .panel-body {
            height: 176px;
        }
    }

    .panel--grades {

        > .panel-body {
            height: 225px;
        }
    }

    .panel--active-cycles {

        > .panel-body {
            color: $gray-darker;
            font-size: em(120);
            font-weight: 600;
            line-height: 126px;
        }
    }
}
