@import "SCSSROOT/org.civicrm.bootstrapcivihr/scss/overrides/variables";
@import "SCSSROOT/org.civicrm.bootstrapcivicrm/scss/bootstrap/overrides/variables";
@import "SCSSROOT/org.civicrm.bootstrap/scss/overrides/variables";
@import "SCSSROOT/org.civicrm.bootstrap/scss/vendor/bootstrap/variables";
@import "SCSSROOT/org.civicrm.bootstrapcivicrm/scss/bootstrap/mixins/ALL";

.page-civicrm-appraisals-dashboard {

  #branding {
    display: none;
  }

  #page {
    margin: 0;
    padding: 0;
  }

  #{$bootstrap-namespace} {
    .chr_steps--appraisals-status__count {
      display: block;
    }

    .panel--active-cycles,
    .panel--status {

      > .panel-body {
        height: 176px;
      }
    }

    .panel--breakdown,
    .panel--grades {

      > .panel-body {
        height: 165px;
      }
    }

    .panel--breakdown {

      .chr_steps__step__legend__content {

        > p:first-child {
          min-height: 37px;
          padding: 0 15px;
        }
      }
    }

    .panel--grades {

      > .panel-body {
        padding: 0;
      }
    }

    .panel--active-cycles {

      > .panel-body {
        color: $gray-darker;
        font-size: em(120);
        font-weight: 600;
        line-height: 126px;
      }
    }
  }
}

#{$bootstrap-namespace} {

  .modal--send-notification-reminder__view-recipient {
    display: inline-block;
    margin-top: 15px;
  }

  .panel--appraisals-in-cycle {

    > .panel-heading {

      > hr {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }

  .panel--appraisals-in-cycle__filters {
    background: $crm-brand-primary-light;
    margin: 15px -20px;
  }

  .panel--appraisals-in-cycle__filters__form {
    padding: $panel-body-padding;
  }


  .panel--appraisal-cycle-header__title {

    .panel--appraisal-cycle-header__title__cycle-id {
      margin-left: 30px;
    }
  }

  .panel--appraisal-cycle-header__title__cycle-id {
    font-size: $font-size-h3;

    > span {
      font-weight: 400;
    }
  }

  .panel--appraisal-cycle-header__settings {

    &:hover {
      text-decoration: none !important;
    }
  }
}
