@import "../../org.civicrm.bootstrap/scss/overrides/variables";
@import "../../org.civicrm.bootstrap/scss/vendor/bootstrap/variables";

#tab_summary, #contact-summary {
  //display: none !important;
}

#contactsummary {
    padding: 20px;

    .panel--key-dates {

        > .panel-body {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    .panel--key-details {
        margin-bottom: 0 !important;
    }

    .panel--leave {
        .list-unstyled {
            margin-bottom: 0;
        }
    }

    .panel--sickness {

        @media(min-width: $screen-lg-min) {
            .col--sickness-days {
                text-align: right;
            }
        }
    }


}
