@import "SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/overrides/variables";
@import "SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/variables";

#bootstrap-theme {
  @import "SCSSROOT/uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/leave-widget";
  @import "./components/*";
}

#contactsummary {
  padding: 20px;

  > .container-fluid {
    max-width: $container-large-desktop;
  }

  .panel--key-dates {

    > .panel-body {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .panel--key-details {
    margin-bottom: 0 !important;
  }
}
