$navigation-column-width: 170px;
$content-container-margin: 16px;

@at-root {
  .page-civicrm-leaveandabsences-dashboard {
    h1.page-title,
    #branding {
      display: none !important;
    }

    #page {
      margin: 0;
      padding: 0;
    }
  }

  .admin-dashboard-page {
    position: relative;

    .crm_page__topbar {
      height: 65px;

      .dropdown-toggle {
       margin: 15px 30px 0 0 !important;

        +ul {
          margin-right: 30px !important;
        }
      }
    }

    .chr_admin-dashboard_side-nav {
      overflow: hidden;
      width: $navigation-column-width;
      position: absolute;
      height: calc(100% - 12px);
      background-color: $crm-white;

      li.active {
        background: $gray-light;
      }
    }

    .chr_admin-dashboard_content {
      float: right;
      width: calc(100% - #{$navigation-column-width} - #{$content-container-margin} * 2);
      margin: $content-container-margin;
      margin-bottom: 0;
    }
  }
}
