$navigation-column-width: 170px;
$content-container-margin: 16px;

@at-root {
  .page-civicrm-leaveandabsences-dashboard {

    /* stylelint-disable selector-max-id */
    .page-title,
    #branding {
      display: none !important;
    }

    #page {
      margin: 0;
      padding: 0;
    }
    /* stylelint-enable */
  }

  .admin-dashboard-page {
    position: relative;

    .crm_page__topbar {
      height: 65px;
    }

    leave-request-record-actions {
      margin: 12px 30px 0 0;
    }

    .chr_admin-dashboard_side-nav {
      background-color: $crm-white;
      height: calc(100% - 12px);
      overflow: hidden;
      position: absolute;
      width: $navigation-column-width;

      .active {
        background: $gray-light;
      }
    }

    .chr_admin-dashboard_content {
      float: right;
      margin: $content-container-margin;
      margin-bottom: 0;
      width: calc(100% - #{$navigation-column-width} - #{$content-container-margin} * 2);
    }
  }
}
