&.manage-entitlements-form {
  @mixin wider-element() {
    margin-left: -20px;
    margin-right: -20px;
  }

  @mixin column-side-borders() {
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
  }

  .wider-hr {
    @include wider-element();

    border-width: 2px;
  }

  .wider-row {
    @include wider-element();
  }

  .entitlement-calculation-filters {
    padding: 15px 0;
    text-align: center;

    .override-filters label {
      display: inline-block;

      &:before {
        display: none;
      }
    }

    .absence-type-filter {
      margin-right: 10px;
    }

    .col-sm-4:last-child {
      text-align: right;
    }
  }

  .entitlement-calculation-list {
    .proposed-entitlement-header {
      .title {
        float: left;
        width: 65%;
      }

      .actions {
        float: right;
      }
    }

    tr.hidden {
      display: none;
    }

    .absence-type {
      color: $crm-white;
      display: inline-block;
      padding: 5px;
    }

    .proposed-entitlement .overridden-proposed-entitlement {
      display: none;
      width: 24px;
    }

    .borderless-button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    .add-comment {
      font-size: 1.1em;
    }

    .comment-text {
      display: none;
    }
  }

  .manage-entitlements-form__filters {
    padding-bottom: 1em;
  }

  .table {
    background: $table-bg-accent;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    margin-bottom: 2em;

    th {
      background: $crm-table-heading-bg !important;
    }

    th.proposed-entitlement-header {
      @include column-side-borders();

      background: darken($crm-table-heading-bg, 5%) !important;
      min-width: 200px;

      .row > div {
        display: table-cell;
        float: none;
        vertical-align: bottom;
      }

      .fa {
        color: $gray-dark;
      }

      .action-button-container {
        padding: 0;
      }
    }

    td.proposed-entitlement {
      @include column-side-borders();

      background: white;
    }

    span.absence-type {
      border-radius: 3px;
      padding: 0 5px;
    }

    tbody .fa {
      color: $brand-primary;
    }
  }

  .crm-container .CRM_HRLeaveAndAbsences_Form_ManageEntitlements .crm-button-type-next  {
    float: right !important;
  }

  // @at-root targets the root scope. This is needed since the #add-comment-dialog
  // opens outside of #bootstrap-theme
  @at-root #add-comment-dialog {
    display: none;

    .calculation_comment {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
    }
  }
}
