<div class="row">
  <div class="col-md-4">
    <ui-select
      autofocus
      ng-model="field.value"
      ng-required="true">
      <ui-select-match placeholder="Search Staff Member" allow-clear>
        <span ng-bind="$select.selected.display_name"></span>
      </ui-select-match>
      <ui-select-choices repeat="contact.id as contact in (form.contacts | filter: $select.search) track by contact.id">
        <span ng-bind="contact.display_name"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
