.callout {
  @include margin(0, bottom, true);
}

.callout-header {
  background: $panel-default-heading-bg;
  padding: $panel-heading-padding;
}

.callout-inner {

  th & {
    border: 0;
  }

  &.callout-no-padding {
    padding: 0;
  }
}

.callout-title {
  @include margin(0, bottom);
  color: $panel-default-text;
  font-size: $font-size-h3;
}
