$email-heading-line-height: 40px;

.email {
  margin: 40px 0;
  Margin: 40px 0;
}

.email-date {
  line-height: $email-heading-line-height;
  margin-bottom: 0;
  Margin-bottom: 0;

  @media only screen and (max-width: #{$global-breakpoint}) {
    line-height: normal !important;
  }
}

.email-logo {
  width: 100px;
}

.email-title {
  border-left: 5px solid $brand-primary;
  font-size: $font-size-h2;
  line-height: $email-heading-line-height;
  margin-bottom: 0;
  Margin-bottom: 0;
  padding-left: 15px;
}
