.request-attachment {

  &-name {
    color: $gray-darker;
    font-weight: 600;
  }
}

.request-attachments {

  > .request-attachment {
    @include margin(10px, bottom);
  }
}


.request-comment {

  &-body {
    padding: $callout-padding;
    padding-top: 0;
  }

  &-header {
    color: $gray-darker;
    font-weight: 600;
    padding: $callout-padding;
    padding-bottom: $callout-padding/2
  }
}

.request-comments {

  > .request-comment {
    border-bottom: 1px solid $gray-light;
  }
}


.request-data {

  dl {
    @include margin(0);
  }

  dt {
    color: $gray-darker;
    float: left;
    font-weight: 600;
    width: 150px;
  }

  dd {
    @include margin(0, left);

    &:not(:last-child) {
      @include margin(10px, bottom);
    }
  }

  @media only screen and (max-width: #{$global-breakpoint}) {

    dt {
      float: none !important;
      width: auto !important;
    }
  }
}

.request-data-large {

  dt {
    width: 200px;
  }
}


.request-data-toil {
  line-height: 2.5;

  span {
    border: 1px solid $medium-gray;
    display: inline-block;
    text-align: center;
    width: 100px;
  }
}
