.request-attachment {

  &-name {
    color: $gray-darker;
    font-weight: 600;
  }
}

.request-attachments {

  > .request-attachment {
    @include margin(10px, bottom);
  }
}


.request-comment {

  &-body {
    padding: $callout-padding;
    padding-top: 0;
  }

  &-header {
    color: $gray-darker;
    font-weight: 600;
    padding: $callout-padding;
    padding-bottom: $callout-padding/2
  }
}

.request-comments {

  > .request-comment {
    border-bottom: 1px solid $gray-light;
  }
}


.request-data {

  &-key {

    span {
      color: $gray-darker;
      font-weight: 600;
    }

    // Mobile only: remove vertical margin between the key and the value
    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-bottom: 0 !important;
    }
  }

  .row {

    // Mobile / Desktop: Remove bottom margin on the last row
    &:last-child {

      .columns {
        padding-bottom: 0 !important;
      }
    }

    // Desktop only: reduce the vergical margin between rows
    @media only screen and (min-width: #{$global-breakpoint + 1}) {
      .columns {
        padding-bottom: 10px !important;
      }
    }
  }
}

.request-data-large {

  dt {
    width: 200px;
  }
}


.request-data-toil {
  line-height: 2.5;

  span {
    border: 1px solid $medium-gray;
    display: inline-block;
    text-align: center;
    width: 100px;
  }
}
