.dropdown-menu {
  padding: 0;

  > li > a {
    padding: 8px 14px;
    line-height: 18px;
  }

  [class^="fa-"],
  [class^="glyphicon-"],
  [class*=" fa-"],
  [class*=" glyphicon-"] {
    text-align: center;
    width: 1.25em;
  }
}