.ui-select-bootstrap {
  .ui-select-choices-row:not(.active) {
    > a {
      small {
        color: $gray;
      }
    }
  }

  input {
    font-weight: normal;
  }

  .ui-select-toggle {
    padding-right: 30px;
  }

  &.ui-select-multiple {
    min-height: $input-height-base;
    padding: 2px 2px 0 2px;

    input.ui-select-search {
      height: 1.9em;
      text-indent: 10px;
    }

    .ui-select-match .close {
      line-height: 0.8;
    }

    .ui-select-match-item {
      border-color: $brand-primary;
      margin: 0 2px 2px 1px;
      padding: 2px 8px;
      text-transform: none;
    }
  }
}