/* line 4, ../sass/contactsummary.scss */
#tab_summary, #contact-summary {
  display: none !important;
}

/* line 8, ../sass/contactsummary.scss */
#contactsummary {
  padding: 20px;
}
/* line 13, ../sass/contactsummary.scss */
#contactsummary .panel--key-dates > .panel-body {
  padding-bottom: 0;
  padding-top: 0;
}
/* line 19, ../sass/contactsummary.scss */
#contactsummary .panel--key-details {
  margin-bottom: 0 !important;
}
@media (min-width: 1200px) {
  /* line 26, ../sass/contactsummary.scss */
  #contactsummary .panel--sickness .col--sickness-days {
    text-align: right;
  }
}
