/* line 4, ../sass/contactsummary.scss */
#contactsummary {
  padding: 20px;
}
/* line 7, ../sass/contactsummary.scss */
#contactsummary .panel--key-details {
  margin-bottom: 0 !important;
}
@media (min-width: 1200px) {
  /* line 14, ../sass/contactsummary.scss */
  #contactsummary .panel--sickness .col--sickness-days {
    text-align: right;
  }
}
