@import "SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/overrides/variables";
@import "SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/variables";

$chr-table-condensed-cell-padding: 8px 5px;
$chr-table-heading-padding:        13px 20px;
$chr-table-nested-indent-color:    $crm-darker-grayblue;
$chr-table-nested-indent-width:    10px;
$chr-panel-header-background:      #f4f7f8;
