.form-group.required {
  .control-label:after {
    content:"*";
    color:red;
  }
}

.form-horizontal {
  .control-label {
    &.control-label-line-2 {
      margin-top: -3px;
      padding-top: 0;
    }

    &.control-label-checkbox {
      padding-top: 0;
    }
  }

  .has-feedback {
    select + .form-control-feedback {
      right: 28px;
    }

    [datepicker-popup] + .form-control-feedback {
      right: 41px;
    }

    .form-inline {
      float: left;
      position: relative;

      select + .form-control-feedback {
        right: 10px;
      }
    }
  }

  .well {
    padding-left: 0;
    padding-right: 0;

    .form-group {
      margin-bottom: 0;

      + .form-group {
        margin-top: 15px;
      }
    }
  }
}

.form-control-file {
  padding: 6px 12px;
}

.form-control-static {
  .subfield {
    display: block;
  }
}