.nav-tabs {
  border-bottom: 0 none;
}

.tab-content {
  >.tab-pane {
    @include border-radius($border-radius-base);

    &:first-child {
      @include border-radius(0 $border-radius-base $border-radius-base $border-radius-base);
    }

    border: {
      color: rgb(221, 221, 221);
      style: solid;
      width: 1px;
    }
    padding: 20px;
  }
}

.tabs-below {
  > .nav-tabs {
    border-top: 1px solid $nav-tabs-border-color;

    > li {
      margin-top: -1px;
      margin-bottom: 0;

      > a {
        @include border-radius(0 0 $border-radius-base $border-radius-base);

        &:hover, &:focus {
          border-top-color: $nav-tabs-border-color;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
      }
    }
  }
}

.tabs-left, .tabs-right {
  > .nav-tabs > li {
    float: none;

    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }

  > .tab-content {
    >.tab-pane {
      border: 0 none;
    }
  }
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 20px;
  border-right: 1px solid $nav-tabs-border-color;

  > li > a {
    margin-right: -1px;
    @include border-radius($border-radius-base 0 0 $border-radius-base);

    &:hover, &:focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
      *border-right-color: #fff;
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 20px;
  border-left: 1px solid $nav-tabs-border-color;

  > li > a {
    margin-left: -1px;
    @include border-radius(0 $border-radius-base $border-radius-base 0);

    &:hover, &:focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
      *border-left-color: #fff;
    }
  }
}