.#{$prefix}wizard {
  .tabs-left {
    > .nav-tabs {
      margin-right: 0;
      width: 18%;
    }

    > .tab-content {
      float: left;
      width: 82%;

      > .tab-pane {
        padding: $grid-gutter-width/2;
      }
    }
  }

  .tooltip-inner {
    max-width: 350px;
    width: 350px;
  }

  h4 {
    margin-top: 0;
  }

  /** Wizard - Tab - General **/
  .input-inline-xs {
    max-width: 42px;
  }

  .input-inline-sm {
    max-width: 100px;
  }

  .input-inline-lg {
    max-width: 420px;
  }

}