.access-rights-form {
  .ui-select-choices-group {
    float: none !important;
    margin: 0 !important;
  }
}

.access-rights-form .ui-select-choices-row {
  float: none !important;
  width: 100%;
}
