<div>
  <h1>Create leave/absence type</h1>

  <div class="panel-group">
    <div class="panel panel-default"
      ng-repeat="(sectionIndex, section) in form.sections">
      <div class="panel-heading"
        ng-class="{ pointer: !section.active }"
        ng-click="form.openSection(sectionIndex)">
        <h3 class="panel-title">
          <span role="button" ng-class="{ collapsed: !section.active }"
            data-toggle="collapse">
            {{section.label}}
          </span>
        </h3>
      </div>
      <div class="panel-body" ng-show="section.active">
        <ng-include
          src="form.componentsPath + '/form-sections/leave-type-wizard-form-' + section.name + '.html'">
        </ng-include>
      </div>
    </div>
  </div>
</div>
