<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="(tabIndex, tab) in form.getTabsForActiveSection()"
        ng-class="{ active: tab.active }"
        ng-click="form.openActiveSectionTab(tabIndex)">
        <a href>
          {{tab.label}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 form-horizontal">
    <div class="form-group" ng-repeat="field in form.getFieldsForActiveTab()">
      <label class="col-md-3 control-label">
        {{field.label}}
        <help-text ng-if="field.helpText">
          <p class="respect-line-breaks">{{field.helpText}}</p>
        </help-text>
      </label>
      <div class="col-md-9">
        [template of the field]
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-secondary pull-right"
          ng-if="!form.isOnSectionLastTab"
          ng-click="form.openNextActiveSectionTab()">
          Next
        </button>
        <button class="btn btn-primary pull-right"
          ng-if="form.isOnSectionLastTab">
          Save
        </button>
        <button class="btn btn-secondary"
          ng-if="form.isOnSectionFirstTab"
          ng-click="form.openSection(sectionIndex - 1)">
          Choose another category
        </button>
        <button class="btn btn-secondary"
          ng-if="!form.isOnSectionFirstTab"
          ng-click="form.openPreviousActiveSectionTab()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
