<div class="{{prefix}}summary">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>{{details.contract_type}}: {{details.position}}</strong></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Position</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{details.position}}</p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('details')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Title</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{details.title}}</p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('details')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contract Type</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{options.details.contract_type[details.contract_type]}}</p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('details')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Normal Place of Work</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{options.details.location[details.location]}}</p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('details')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Time Period</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    ({{details.period_start_date | formatPeriod}} - {{details.period_end_date | formatPeriod}})
                                    <span ng-if="details.notice_amount" class="subfield"><strong>Notice <span ng-if="details.notice_amount_employee">(Employer)</span>:</strong> {{details.notice_amount}} {{options.details.notice_unit[details.notice_unit]}}(s)</span>
                                    <span ng-if="details.notice_amount_employee" class="subfield"><strong>Notice <span>(Employee)</span>:</strong> {{details.notice_amount_employee}} {{options.details.notice_unit_employee[details.notice_unit_employee]}}(s)</span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('details')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Funding</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <!--<strong>Tied to funding</strong><br />
                                    <strong>Funding organization:</strong> <a href="#">Jackson
                                    Wellness Partnership</a>-->
                                    <span ng-if="details.funding_notes" class="subfield"><strong>Notes:</strong> {{details.funding_notes}}</span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('details')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Health Insurance</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <span ng-if="health.plan_type || health.provider" class="subfield">
                                        <span ng-if="health.plan_type">{{health.plan_type}} </span>
                                        <span ng-if="health.provider">(with <span hrjc-contact="health.provider" hrjc-contact-link="true"></span>)</span>
                                    </span>
                                    <span ng-if="health.description" class="subfield"><strong>Description:</strong> {{health.description}}</span>
                                    <span ng-if="health.dependents" class="subfield"><strong>Dependents:</strong> {{health.dependents}}</span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('health')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Life Insurance</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <span ng-if="health.plan_type_life_insurance || health.provider_life_insurance" class="subfield">
                                        <span ng-if="health.plan_type_life_insurance">{{health.plan_type_life_insurance}} </span>
                                        <span ng-if="health.provider_life_insurance">(with <span hrjc-contact="health.provider_life_insurance" hrjc-contact-link="true"></span>)</span>
                                    </span>
                                    <span ng-if="health.plan_type_life_insurance" class="subfield">{{health.plan_type_life_insurance}}</span>
                                    <span ng-if="health.description_life_insurance" class="subfield"><strong>Description:</strong> {{health.description_life_insurance}}</span>
                                    <span ng-if="health.dependents_life_insurance" class="subfield"><strong>Dependents:</strong> {{health.dependents_life_insurance}}</span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('health')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Hours</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{options.hour.hours_type[hour.hours_type]}}<span ng-if="hour.hours_amount"> ({{hour.hours_amount}}h per {{hour.hours_unit}})</span> <span ng-if="hour.fte_num && hour.fte_denom">({{hour.fte_num}}/{{hour.fte_denom}}FTE)</span></p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('hour')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Leave</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <span ng-repeat="leaveEntry in leave" ng-if="leaveEntry.leave_amount" class="subfield"><strong>{{options.leave.leave_type[leaveEntry.leave_type]}}:</strong> {{leaveEntry.leave_amount}} day(s)<br></span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('leave')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span><br>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pay</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{options.pay.is_paid[pay.is_paid]}} <span ng-if="pay.is_paid">({{options.pay.pay_currency[pay.pay_currency]}} {{pay.pay_amount}} {{options.pay.pay_unit[pay.pay_unit]}})</span></p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('pay')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pension</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <span ng-if="pension.is_enrolled !== ''" class="subfield">{{pension.is_enrolled == '2' ? 'Opted out' : pension.is_enrolled == '1' ? 'Enrolled' : 'Not Enrolled'}}</span>
                                    <span ng-if="pension.pension_type" class="subfield"><strong>Pension Type:</strong> {{pension.pension_type}}</span>
                                    <span ng-if="pension.er_contrib_pct" class="subfield"><strong>Employer Contribution (%):</strong> {{pension.er_contrib_pct}}</span>
                                    <span ng-if="pension.ee_contrib_pct" class="subfield"><strong>Employee Contribution (%):</strong> {{pension.ee_contrib_pct}}</span>
                                    <span ng-if="pension.ee_contrib_abs | parseInt" class="subfield"><strong>Employee Contribution (absolute amount):</strong> {{pension.ee_contrib_abs | formatAmount}}</span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn" role="button" ng-click="modalRevision('pension')">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="btn btn-default btn-sm btn-danger" ng-click="delete(contract.id)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete this job contract
    </button>
</div>