<div
  ng-show="$ctrl.canManage && !$ctrl.isMode('create') && !$ctrl.isSelfRecord"
  class="row chr_leave-request-modal__user-info">
  <span class="col-sm-6">{{$ctrl.contactName}}</span>
  <span class="col-sm-6">{{::$ctrl.getStatusFromValue($ctrl.request.status_id).label}}</span>
</div>
<!-- ng-show is required in model as it was not showing the list of managees for ui-select-choices-->
<div class="modal-body chr_leave-request-modal__form">
  <div ng-show="$ctrl.canManage && !$ctrl.isMode('edit') && !$ctrl.isSelfRecord">
    <ui-select
      autofocus
      ng-model="$ctrl.request.contact_id"
      ng-change="$ctrl.initAfterContactSelection()"
      ng-disabled="$ctrl.selectedContactId"
      ng-required="true">
      <ui-select-match placeholder="Search Staff Member" allow-clear>
        <span ng-bind="$select.selected.display_name"></span>
      </ui-select-match>
      <ui-select-choices repeat="user.id as user in ($ctrl.managedContacts | filter: $select.search) track by user.id">
        <span ng-bind="user.display_name"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div
    ng-class="{'chr_disabled': (!$ctrl.request.contact_id || $ctrl.postContactSelection)}">
    <div class="row">
      <div class="col-xs-12">
        <div class="crm_custom-select crm_custom-select--full">
          <select
            class="no-select2"
            ng-hide="$ctrl.absenceTypes.length === 0"
            ng-disabled="!$ctrl.isRole('admin') && ($ctrl.isMode('view') || ($ctrl.isRole('manager') && !$ctrl.isMode('create')))"
            name="absenceTypeSelect"
            ng-options="absenceType.id as absenceType.title for absenceType in $ctrl.absenceTypes"
            ng-model="$ctrl.request.type_id"
            ng-change="$ctrl.updateBalance()"></select>
          <select
            class="no-select2"
            ng-show="$ctrl.absenceTypes.length === 0"
            disabled="disabled">
            <option>You don't have any leave entitlement</option>
          </select>
          <span class="crm_custom-select__arrow"></span>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <div
          ng-if="!$ctrl.staffMemberSelectionComplete && ($root.section === 'manager-leave' || $root.section === 'admin-dashboard')"
          class="text-center">
          Please select the Staff Member above
        </div>
        <uib-tabset class="chr_leave-request-modal__tab" ng-if="$ctrl.staffMemberSelectionComplete">
          <uib-tab heading="Details">
            <leave-request-popup-details-tab
              request="$ctrl.request" is-self-record="$ctrl.isSelfRecord" is-mode="$ctrl.isMode" period="$ctrl.period" absence-types="$ctrl.absenceTypes"
              is-leave-status="$ctrl.isLeaveStatus" selected-absence-type="$ctrl.selectedAbsenceType" balance="$ctrl.balance"
              absence-periods="$ctrl.absencePeriods" is-role="$ctrl.isRole" leave-type="$ctrl.leaveType"
              check-submit-conditions="$ctrl.checkSubmitConditions">
            </leave-request-popup-details-tab>
          </uib-tab>
          <uib-tab heading="Comments">
            <leave-request-popup-comments-tab request="$ctrl.request" mode="$ctrl.mode" can-manage="$ctrl.canManage"></leave-request-popup-comments-tab>
          </uib-tab>
          <uib-tab heading="Files">
            <leave-request-popup-files-tab request="$ctrl.request" file-uploader="$ctrl.fileUploader" mode="$ctrl.mode" can-manage="$ctrl.canManage"></leave-request-popup-files-tab>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div
      ng-show="$ctrl.canManage && !$ctrl.isSelfRecord && $ctrl.staffMemberSelectionComplete"
      class="row chr_leave-request-modal__response">
      <div class="col-xs-12 form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label required-mark">Set status to:</label>
          <div class="col-sm-8">
            <div class="crm_custom-select crm_custom-select--full">
              <select
                class="no-select2"
                name="statusSelect"
                ng-options="status.value as status.label for status in $ctrl.getStatuses()"
                ng-model="$ctrl.newStatusOnSave">
                <option value="">- select -</option>
              </select>
              <span class="crm_custom-select__arrow"></span>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="$ctrl.request.selectedResponse == 3">
        <div class="col-xs-12">Please add a comment:</div>
        <div class="col-xs-12">
          <div
            class="chr_wysiwyg"
            text-angular
            prevent-animations
            ta-toolbar="[['bold','italics','underline']]"
            ng-model="myleave.request.responseComment"></div>
          <div class="chr_wysiwyg__action">
            <hr/>
            <button class="btn btn-link">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              Add comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  ng-if="$ctrl.errors.length"
  uib-alert
  type="danger"
  close="$ctrl.closeAlert()"
  dismiss-on-timeout="5000">
  <div ng-repeat="errMsg in $ctrl.errors track by $index">{{errMsg}}</div>
</div>
