<crm-loading show="!detailsTab.loading.tab">
  <ng-include src="$root.sharedPathTpl + 'components/leave-request-popup/details-tab/common.html'"></ng-include>

  <!--Duration, Toil Amount Section - Only For Toil-->
  <ng-include ng-show="detailsTab.isLeaveType('toil')"
    src="$root.sharedPathTpl + 'components/leave-request-popup/details-tab/toil.html'"></ng-include>

  <crm-loading show="!detailsTab.loading.showBalanceChange">
    <div ng-show="detailsTab.uiOptions.showBalance">
      <hr/>
      <div
        class="row chr_leave-request-modal__form-group"
        ng-if="detailsTab.canManage
          || detailsTab.isLeaveStatus(detailsTab.statusNames.awaitingApproval)
          || detailsTab.isLeaveStatus(detailsTab.statusNames.moreInformationRequired)
          || !detailsTab.request.status_id">
        <div class="col-xs-6 col-sm-4">Opening Balance</div>
        <div class="col-xs-6 col-sm-8">{{ detailsTab.balance.opening |
          timeUnitApplier : detailsTab.selectedAbsenceType.calculation_unit_name }}</div>
      </div>
      <div
        ng-show="detailsTab.isLeaveType('toil')"
        class="row chr_leave-request-modal__form-group text-primary">
        <div class="col-xs-4">
          Change
        </div>
        <div class="col-xs-8">{{ detailsTab.balance.change.amount |
          timeUnitApplier : detailsTab.selectedAbsenceType.calculation_unit_name }}</div>
      </div>
      <div ng-hide="detailsTab.isLeaveType('toil')">
        <div
          class="row chr_leave-request-modal__form-group text-primary pointer"
          ng-click="detailsTab.uiOptions.isChangeExpanded = !detailsTab.uiOptions.isChangeExpanded">
          <div class="col-xs-6 col-sm-4">
            <i
              class="fa chr_leave-request-modal__chevron"
              aria-hidden="true"
              ng-class="{ 'fa-chevron-right': !detailsTab.uiOptions.isChangeExpanded, ' fa-chevron-down': detailsTab.uiOptions.isChangeExpanded }"></i>
            Change
          </div>
          <div class="col-xs-6 col-sm-8">{{ detailsTab.balance.change.amount |
            timeUnitApplier : detailsTab.selectedAbsenceType.calculation_unit_name }}</div>
        </div>
        <div class="table-responsive">
          <table
            class="table chr_leave-request-modal__table"
            ng-show="detailsTab.uiOptions.isChangeExpanded">
            <thead>
              <tr>
                <th>Date</th>
                <th ng-if="detailsTab.selectedAbsenceType.calculation_unit_name === 'days'">
                  Selection</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="breakdown in detailsTab.pagination.filteredbreakdown">
                <td>{{ breakdown.date | date:'EEE '+ detailsTab.uiOptions.userDateFormat }}</td>
                <td ng-if="detailsTab.selectedAbsenceType.calculation_unit_name === 'days'">
                  {{ breakdown.type.label }}</td>
                <td>{{ breakdown.amount |
                  timeUnitApplier : detailsTab.selectedAbsenceType.calculation_unit_name }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-center">
                  <uib-pagination
                    ng-if="detailsTab.pagination.totalItems"
                    total-items="detailsTab.pagination.totalItems"
                    ng-model="detailsTab.pagination.currentPage"
                    class="pagination"
                    ng-change="detailsTab.pagination.pageChanged()"
                    direction-links="false"
                    items-per-page="detailsTab.pagination.numPerPage"></uib-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div
        class="row"
        ng-class="{'text-danger': detailsTab.balance.closing < 0}"
        ng-if="detailsTab.canManage
                        || detailsTab.isLeaveStatus(detailsTab.statusNames.awaitingApproval)
                        || detailsTab.isLeaveStatus(detailsTab.statusNames.moreInformationRequired)
                        || !detailsTab.request.status_id">
        <div class="col-xs-6 col-sm-4">Closing Balance</div>
        <div class="col-xs-6 col-sm-8">{{ detailsTab.balance.closing |
          timeUnitApplier : detailsTab.selectedAbsenceType.calculation_unit_name }}</div>
      </div>
    </div>
  </crm-loading>

  <!--Expiry Date Section - Only For Toil-->
  <div class="row" ng-show="detailsTab.isLeaveType('toil') && (detailsTab.requestCanExpire || detailsTab.canManage)">
    <div class="col-xs-12 form-horizontal">
      <hr>
      <div class="form-group">
        <label class="col-sm-4 control-label">Expiry Date</label>
        <div class="col-sm-5">
          <span
            class="chr_leave-request-modal__span-expiry"
            ng-if="!detailsTab.canManage || detailsTab.isSelfRecord">
            {{detailsTab.request.toil_expiry_date | date: detailsTab.uiOptions.userDateFormat}}
          </span>
          <div ng-if="detailsTab.canManage && !detailsTab.isSelfRecord" class="input-group">
            <input
              type="text"
              class="form-control"
              uib-datepicker-popup
              ng-readonly="true"
              datepicker-options="detailsTab.uiOptions.date.expiry.options"
              show-button-bar="false"
              ng-model="detailsTab.uiOptions.expiryDate"
              ng-change="detailsTab.updateExpiryDate()"
              is-open="detailsTab.uiOptions.date.expiry.show"/>
            <span
              class="chr_leave-request-modal__expiry-clear pointer"
              ng-if="!detailsTab.requestCanExpire && detailsTab.request.toil_expiry_date"
              ng-click="detailsTab.clearExpiryDate()">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Reason Section - Only For Sickness-->
  <ng-include
    ng-show="detailsTab.isLeaveType('sickness')"
    src="$root.sharedPathTpl + 'components/leave-request-popup/details-tab/sickness.html'"></ng-include>

</crm-loading>
