.form-horizontal {
  .control-label {
    &.control-label-checkbox {
      padding-top: 0;
    }
  }
}

.form-group.required {

  .control-label:after {
    color: $brand-danger-light;
    margin-left: 5px;
  }
}
