.modal-revision {
  .modal-header {
    .btn-group-action {
      float: right;
      margin-right: 20px;
      margin-top: -2px;

      .checkbox {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 0px 10px;

        input[type="checkbox"] {
          margin-top: 1px;
        }

        label {
          min-height: 17px;
        }
      }

    }
  }

  .table {
    font-size: 13px;

    .table {
      background-color: transparent;
      font-size: 12px;

      th {
        font-size: 12px;
      }
    }
  }

  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media (min-width: $screen-md-min) {
  .modal-revision .modal-dialog {
    width: ($container-large-desktop - $grid-gutter-width);
  }
}