.modal-revision {
  .modal-header {
    .btn-group-action {
      float: right;
      margin-right: 20px;
      margin-top: -2px;
    }
  }

  .table {
    font-size: 13px;

    .table {
      background-color: transparent;
      font-size: 12px;

      th {
        font-size: 12px;
      }
    }
  }

  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media (min-width: $screen-md-min) {
  .modal-revision .modal-dialog {
    width: ($container-large-desktop - $grid-gutter-width);
  }
}