.nav-tabs {
  border-bottom: 0 none;

  > li > a {
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
  }
}

.tab-content {
  >.tab-pane {
    background-color: $nav-tabs-active-link-hover-bg;
    @include border-radius($border-radius-base);

    &:first-child {
      @include border-radius(0 $border-radius-base $border-radius-base $border-radius-base);
    }

    border: {
      color: $nav-tabs-border-color;
      style: solid;
      width: 1px;
    }
  }
}

.tabs-below {
  > .nav-tabs {
    border-top: 1px solid $nav-tabs-border-color;

    > li {
      margin-top: -1px;
      margin-bottom: 0;

      > a {
        @include border-radius(0 0 $border-radius-base $border-radius-base);

        &:hover, &:focus {
          border-top-color: $nav-tabs-border-color;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
      }
    }
  }
}

.tabs-left, .tabs-right {
  > .nav-tabs {
    width: 18%;

    > li {
      float: none;

      > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
        padding: 15px;
      }
    }
  }

  > .tab-content {
    width: 82%;
  }
}

.tabs-left {
  > .nav-tabs {
    float: left;
    margin-left: 0;
    border-right: 1px solid $nav-tabs-border-color;
    margin-right: -1px;

    > li > a {
      margin-right: -1px;
      @include border-radius($border-radius-base 0 0 $border-radius-base);

      &:hover, &:focus {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
      }
    }

    > .active a {
      &, &:hover, &:focus {
        border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
        *border-right-color: #fff;
      }
    }
  }
  
  > .tab-content {
    float: left;
  }
}

.tabs-right {
  > .nav-tabs {
    float: right;
    margin-right: 0px;
    border-left: 1px solid $nav-tabs-border-color;
    margin-left: -1px;

    > li > a {
      margin-left: -1px;
      @include border-radius(0 $border-radius-base $border-radius-base 0);

      &:hover, &:focus {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    > .active a {
      &, &:hover, &:focus {
        border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
        *border-left-color: #fff;
      }
    }
  }

  > .tab-content {
    float: right;
  }
}