.#{$prefix}wizard {
  .tabs-left {
    > .nav-tabs {

    }

    > .tab-content {
      float: left;

      > .tab-pane {
        min-height: 273px;
        padding: $grid-gutter-width/2;
      }
    }
  }

  .tooltip-inner {
    max-width: 350px;
    width: 350px;
  }

  h4 {
    font-size: $font-size-h1;
    margin-top: 0;
  }

  /** Wizard - Tab - General **/
  .input-inline-xs {
    max-width: 42px;
  }

  .input-inline-sm {
    max-width: 100px;
  }

  .input-inline-lg {
    max-width: 420px;
  }

}