.hrjob-tree-region {
}
.hrjob-tree-block {
    border: 1px solid black;
    background: #eee;
    width: 23%;
    padding: 0em 0.5em;
}
.hrjob-main-region {
    width: 73%;
    float: right;
    padding: 0em 0.5em;
}

.hrjob-toggle .on-open, .hrjob-toggle .on-closed {
    font-family: "Courier New", Courier, monospace;
}
.hrjob-toggle.closed .on-open {
    display: none;
}
.hrjob-toggle.open .on-closed {
    display: none;
}
.hrjob-toggle:hover, .hrjob-table .ui-icon:hover {
    cursor: pointer;
}

strong.hrjob-role-toggle:hover {
    text-decoration: underline;
}

.hrjob-leave-table {
    table-layout: fixed;
}
.hrjob-role-table {
    table-layout: fixed;
}
table.hrjob-role-table > tbody > tr.deleted {
    color: red;
    text-decoration: line-through;
}
table.hrjob-role-table > tbody > tr.deleted .hrjob-role-remove {
    display: none;
}
table.hrjob-role-table > tbody > tr.undeleted .hrjob-role-restore {
    display: none;
}

.hrjob-nav.ui-icon  {
    float: right;
    border: 1px solid transparent;
}
.hrjob-nav.ui-icon.selected  {
    border: 1px solid black;
}
a.hrjob-nav.selected {
    color: #000000;
    font-weight: bold;
}
.hrjob-container input[type=text], .hrjob-container .crm-form-entityref, .hrjob-container select, .hrjob-container textarea {
    width: 30em;
    max-width: 90%!important;
}
input#hrjob-notice_amount,
select#hrjob-notice_unit,
input#hrjob-notice_amount_employee,
select#hrjob-notice_unit_employee,
input#hrjob-pay_amount,
select#hrjob-pay_unit,
input#hrjob-hours_amount,
select#hrjob-hours_unit,
input#hrjob-hours,
select#hrjob-role_hours_unit,
input#hrjob-pay_annualized_est{
    width: 15em;
}
input#hrjob-fte_denom,
input#hrjob-fte_num {
    width: 4em;
}

.hrjob-duplicate-notice {
    text-align: center;
}
.hrjob-tree-block .hrjob-inactive a {
    color: red;
}

div.hrjob-tree-items {
    display: inline-block;
    width: 100%;
}

.hrjob-container button.crm-button {
    /* passed important arg to not
       inherit padding property of crm-button 
       and use this one
    */
    padding: 2px 6px !important;
}
.hrjob-container .lock-button {
    display: inline-block;
    vertical-align: middle;
}

.hrjob-container .batch-edit {
    vertical-align: middle;
}

.pay_annualized_est_expl {
    font-size: 0.8em;
    font-style: italic;
}

.hrjob-container .hrjob-tree-region .hrjob-tree-items dt .hrjob-nav {
    font-size: 15px !important;
}
.hrjob-container .hrjob-tree-region .hrjob-tree-items dt {
    padding-bottom: 10px;
}

/* Radio button on job tab for pay */
.hrjob-container .hrjob-main-region .payGrade {
    margin: 6px 6px 6px 20px;
}

/* HR-398 Leave screen */
.hrjob-container table.hrjob-leave-table tbody {
    background-color: #F4F4ED;
}
.hrjob-container table.hrjob-leave-table tbody tr td:first-child {
    background-color: #FAFAFA;
}

.hrjob-container .hrjob-role-table #hrjob-total_pay,
.hrjob-container .hrjob-role-table #hrjob-actual_amount,
.hrjob-container .pay_amount_to_funder {
   background-color: #FAFAFA;
   color: #000000;
}
