.hrjob-tree-region {
    border: 1px solid black;
    background: #eee;
    width: 23%;
    padding: 0em 0.5em;
}
.hrjob-main-region {
    width: 73%;
    float: right;
    padding: 0em 0.5em;
}
.hrjob-role-toggle .on-open, .hrjob-role-toggle .on-closed {
    font-family: "Courier New", Courier, monospace;
}
.hrjob-role-toggle.closed .on-open {
    display: none;
}
.hrjob-role-toggle.open .on-closed {
    display: none;
}
.hrjob-role-table {
    table-layout: fixed;
}
.hrjob-role-toggle:hover, .hrjob-role-table .ui-icon:hover {
    cursor: pointer;
}
strong.hrjob-role-toggle:hover {
    text-decoration: underline;
}
table.hrjob-role-table > tbody > tr.deleted {
    color: red;
    text-decoration: line-through;
}
table.hrjob-role-table > tbody > tr.deleted .hrjob-role-remove {
    display: none;
}
table.hrjob-role-table > tbody > tr.undeleted .hrjob-role-restore {
    display: none;
}
a.hrjob-nav.selected {
    color: #000000;
    font-weight: bold;
}