<div class="row">
  <div class="col-xs-12 form-horizontal">
  <hr>
    <div class="form-group">
      <label class="col-xs-4 control-label required-mark">Reason</label>
      <div class="col-xs-8">
        <div class="crm_custom-select crm_custom-select--full">
          <select
            name="reason"
            ng-disabled="!$ctrl.isRole('admin') &&
              ($ctrl.isMode('view') || ($ctrl.isRole('manager') && !$ctrl.isLeaveType('sickness')))"
            ng-options="reason.value as reason.label for reason in $ctrl.sicknessReasons"
            ng-model="$ctrl.request.sickness_reason">
            <option value="">- select -</option>
          </select>
          <span class="crm_custom-select__arrow"></span>
        </div>
      </div>
    </div>
    <div class="form-group chr_leave-request-modal__required-documents">
      <div class="col-xs-12" ng-repeat="document in $ctrl.sicknessDocumentTypes">
        <input
          ng-disabled="$ctrl.isRole('staff') || $ctrl.isSelfRecord"
          required type="checkbox" value="document.value"
          ng-click="$ctrl.request.toggleDocument(document.value)"
          ng-checked="$ctrl.isChecked(document.value)"
          ng-selected="$ctrl.isDocumentInRequest(document.value)">
        <span>{{document.label}}</span>
      </div>
    </div>
  </div>
</div>
