
/**
 * Unset Eric Meyer's Reset CSS styles.
 *
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: initial;
  margin: initial;
  padding: initial;
  border: initial;
  vertical-align: initial;
}

ol,
ul {
  padding-start: 40px;
  -moz-padding-start: 40px;
  -webkit-padding-start: 40px;
  list-style: initial;
}
blockquote,
q {
  quotes: initial;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: initial;
}

/* Remember to highlight inserts somehow! */
ins {
  text-decoration: initial;
}
del {
  text-decoration: initial;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: initial;
  border-spacing: initial;

  td, th {
      color: initial;
  }
}

/**
 * Font reset.
 *
 * Specifically targets form elements which browsers often times give
 * special treatment.
 */
input,
select,
textarea {
  font-family: initial;
}
textarea {
  font-size: initial;
  line-height: initial;
}