<div class="btn-group" uib-dropdown>
  <button type="button" class="btn btn-default btn-lg dropdown-toggle"
    uib-dropdown-toggle>
    <span class="btn-icon"><i class="fa fa-rss-square"></i></span>
    Calendar Feeds
  </button>
  <ul class="dropdown-menu dropdown-menu-{{dropdownButton.dropdownPosition}}"
    role="menu" ng-switch="dropdownButton.feeds.length > 0" uib-dropdown-menu>
    <li ng-repeat="feed in dropdownButton.feeds" ng-switch-when="true">
      <a href>{{feed.title}}</a>
    </li>
    <li ng-switch-when="false">
      <crm-loading show="!dropdownButton.loading.feeds"></crm-loading>
      <a ng-if="!dropdownButton.loading.feeds">No calendar feeds yet.</a>
    </li>
  </ul>
</div>
