.#{$prefix}panel-action {
  border-bottom: 0 none;
  padding: {
    bottom: 2px;
    top: 10px;
  };

  .badge {
    margin-top: 6px;
  }

  .btn {

    margin-left: 7px;
    padding: {
      bottom: 8px;
      top: 8px;
    };

    &.btn-default {
      background-color: $panel-default-heading-bg;

        &:hover,
        &:focus,
        &:active {
          background-color: $btn-default-border-hover;
        }
    }

    .glyphicon {
      margin-right: 3px;
    }

    &.btn-sm {
      padding: 4px;
      margin-right: -10px;
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .form-control-static {
    text-transform: none;
    font-weight: normal;
  }

  .form-group {
    margin-bottom: 0;
  }

  .row,
  .form-horizontal .form-group {
    margin: {
      left: -5px;
      right: -5px;
    };
  }

  > .#{$prefix}row-action {

    .control-label {
      font-size: 16px;
    }

    .form-control-static {
      font-size: 14px;
      padding: {
        bottom: 6px;
        top: 10px;
      };
    }
  }

  > .#{$prefix}row-info {
    .control-label,
    .form-control-static {
      color: $gray-light;
    }

    .badge {
      font-size: 12px;
      padding: 3px 8px;
    }
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: 5px;
      right: 5px;
    }
  }

  hr {
    margin: {
      bottom: 2px;
      top: 10px;
    };
  }

  + .panel-body {
    padding: {
      bottom: 10px;
      top: 10px;
    };
  }
}