.#{$prefix}wizard {
  .tabs-left {
    > .nav-tabs {

    }

    > .tab-content {
      float: left;
      margin-bottom: 20px;

      > .tab-pane {
        min-height: 365px;
        padding: $grid-gutter-width/2;
      }
    }
  }

  .tooltip-inner {
    max-width: 350px;
    width: 350px;
  }

  h4:not(.modal-title) {
    font-size: 16px;
    margin-top: 0;

    + hr {
      margin-top: 16px;
    }
  }

  /** Wizard - Tab - General **/
  .input-inline-xs {
    max-width: 42px;
  }

  .input-inline-sm {
    max-width: 100px;
  }

  .input-inline-lg {
    max-width: 420px;
  }

}