<div class="row">
  <div class="col-xs-12 form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label required-mark">
        From Date
      </label>
      <div class="col-sm-4 chr_leave-request-date-picker-container">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            show-button-bar="false"
            datepicker-options="detailsTab.uiOptions.date.from.options"
            ng-model="detailsTab.uiOptions.fromDate"
            is-open="detailsTab.uiOptions.date.from.show"
            ng-readonly="true"
            ng-disabled="__isNotEditable"
            ng-change="detailsTab.dateChangeHandler('from')"/>
        </div>
      </div>
      <div class="col-sm-4" ng-hide="detailsTab.isLeaveType('toil')">
        <crm-loading
          show="!detailsTab.loading.fromDayTypes"
          class="chr_leave-request-modal__small_spinner"
          ng-switch="!detailsTab.isNotWorkingDay(detailsTab.requestFromDayTypes[0].name)">
          <div class="crm_custom-select crm_custom-select--full"
            ng-switch-when="true">
            <select
              class="no-select2"
              name="fromDayTypeSelect"
              ng-disabled="__isNotEditable"
              ng-options="dayType.value as dayType.label for dayType in detailsTab.requestFromDayTypes"
              ng-model="detailsTab.request.from_date_type"
              ng-change="detailsTab.dateTypeChangeHandler()">
              <option value="">Select</option>
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
          <div ng-switch-when="false" class="control-label">
            {{detailsTab.requestFromDayTypes[0].label}}
          </div>
        </crm-loading>
      </div>
    </div>
  </div>
</div>
