.breadcrumb {
  font-weight: $headings-font-weight;
  text-transform: uppercase;
  margin-bottom: 0;

  a {
    color: $breadcrumb-color;

    &:hover {
      color: darken($breadcrumb-color, 10%);
    }
  }
}