@include text-emphasis-variant('.text-success-light', $brand-success);
@include text-emphasis-variant('.text-info-light', $brand-info);
@include text-emphasis-variant('.text-warning-light', $brand-warning);
@include text-emphasis-variant('.text-danger-light', $brand-danger);

.header-bar {
  @include box-shadow($box-shadow-global);
  background-color: $panel-default-heading-bg;
  font-size: $header-bar-font-size;
  font-weight: 600;
  margin: {
    bottom: 15px;
    top: 0;
  };
  padding: $header-bar-padding;
  max-width: 100%;

  &.header-bar-primary {
    background-color: $brand-primary;
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        color: darken(#fff, 10%);
      }
    }
  }

  &.header-bar-success {
    background-color: $brand-success;
    color: #fff;
  }

  &.header-bar-info {
    background-color: $brand-info;
    color: #fff;
  }

  &.header-bar-warning {
    background-color: $brand-danger;
    color: #fff;
  }

  &.header-bar-danger {
    background-color: $brand-danger;
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        color: darken(#fff, 10%);
      }
    }
  }

  &.header-bar-danger-light {
    background-color: $brand-danger-light;
    color: #fff;
  }

  &.header-bar-dark {
    background-color: #5d6779;
    color: #fff;
  }
}

a[disabled]:not(.btn) {
  color: $text-color;

  &:hover {
    cursor: default;
  }
}

a:active,
a:focus {
  outline: 0;
}