/*
Error: File to import not found or unreadable: bootstrap-sprockets.
        on line 16 of hrjc.scss

11: 
12:   // bootstrap-sass v3.3.0.1
13:   // bootstrap/normalize and bootstrap/scaffolding customized to enable
14:   // the narrowed scope of the styles for this CiviCRM module only.
15:   // ==========================================================================
16:   @import "bootstrap-sprockets";
17: 
18:   @import "bootstrap-compass";
19:   @import "civihr/bootstrap-variables";
20: 
21:   @import "bootstrap/variables";

Backtrace:
hrjc.scss:16
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:107:in `rescue in invalid_import_parent?'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:101:in `invalid_import_parent?'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:175:in `try_send'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:38:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:57:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:24:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:35:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.1.0/gems/sass-3.4.15/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sprockets.\A         on line 16 of hrjc.scss\A \A 11: \A 12:   // bootstrap-sass v3.3.0.1\A 13:   // bootstrap/normalize and bootstrap/scaffolding customized to enable\A 14:   // the narrowed scope of the styles for this CiviCRM module only.\A 15:   // ==========================================================================\A 16:   @import \"bootstrap-sprockets\";\A 17: \A 18:   @import \"bootstrap-compass\";\A 19:   @import \"civihr/bootstrap-variables\";\A 20: \A 21:   @import \"bootstrap/variables\";"; }
