.crm-contact-page {
  position: relative;
  padding: 4px;

  #mainTabContainer {
    background-color: transparent;
    padding: 0;

    .ui-tabs-nav {
      width: 15%;
      float: left;
      padding: 4px;
      background: #CCC;
    }

    li.crm-tab-button {
      display: block;
      width: 100%;
      font-size: 12px;
      white-space: normal;
    }

    .ui-tabs-panel {
      float: right;
      width: 83%;
      background-color: #FFFFFF;
    }
  }

  /* override of jquery-ui.css that creates weird white background */
  .ui-widget-content {
    background: transparent;
  }

  .ui-dialog {
    background: #FFFFFF;
  }

  /* overriding ui-widget-content class from jquery-ui.css */
  .ui-widget-content {
    border: 0 !important;
    color: #222222;
  }
}
