.crm-button .crm-i {
  top: .6em;
  left: .6em;
}

.crm-button-type-next {
  @include button-outline-variant(white, $brand-primary);
  .crm-i { display: none; }
}

.crm-button-type-cancel {
  border-color: $gray-light;
  input { color: $text-color !important; }
}
