<div uib-dropdown dropdown-append-to-body ng-if="actions.allowedActions.length">
  <a href class="btn btn-default btn-inline" uib-dropdown-toggle>
    <i class="fa fa-ellipsis-v"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
    <li ng-repeat="action in actions.allowedActions"
      ng-switch="!action.isDirectAction">
      <a href
        ng-switch-when="true"
        leave-request-popup
        leave-request="actions.leaveRequest"
        is-self-record="$root.section === 'my-leave'">
        {{action.label}}
      </a>
      <a href ng-switch-default ng-click="actions.action(action.key)">
        {{action.label}}
      </a>
    </li>
  </ul>
</div>
