<section class="panel panel-default" ng-class="{ 'is-collapsed': legend.legendCollapsed }">
  <header class="panel-heading panel-heading-plain">
    <h2 class="panel-title chr_leave-calendar__legend__title" role="button" ng-click="legend.legendCollapsed = !legend.legendCollapsed">
      <i class="fa"
        aria-hidden="true"
        ng-class="{ 'fa-chevron-right': legend.legendCollapsed, ' fa-chevron-down': !legend.legendCollapsed }"></i>
      Legend
    </h2>
  </header>
  <div class="panel-collapse" uib-collapse="legend.legendCollapsed">
    <div class="panel-body chr_leave-calendar__legend" ng-show="!legend.legendCollapsed">
      <div class="chr_leave-calendar__legend__header">Types</div>
      <div class="clearfix">
        <div ng-repeat="absenceType in legend.absenceTypes"
          class="chr_leave-calendar__legend__type-badge"
          ng-style="legend.getAbsenceTypeStyle(absenceType)">
          {{absenceType.title}}
        </div>
      </div>
      <div class="chr_leave-calendar__legend__header">Other</div>
      <div class="clearfix">
        <div ng-repeat="otherBadge in legend.other_badges"
          class="chr_leave-calendar__legend__other-badge-wrapper">
          <div class="chr_leave-calendar__legend__other-badge
            {{otherBadge.type ? 'chr_leave-calendar__legend__other-badge-' + otherBadge.type : ''}}">
            {{otherBadge.label}}</div>
          {{otherBadge.hint}}
        </div>
      </div>
    </div>
  </div>
</section>
