<div class="col-md-3 chr_leave-balance-tab__filter">
  <ui-select ng-change="balanceFilters.submitFilters()" ng-model="balanceFilters.filters.contact_id">
    <ui-select-match placeholder="Staff Member" allow-clear>
      <span ng-bind="$select.selected.display_name"></span>
    </ui-select-match>
    <ui-select-choices repeat="user.id as user in (balanceFilters.lookupContacts | filter: $select.search) track by user.id">
      <span ng-bind="user.display_name"></span>
    </ui-select-choices>
  </ui-select>
</div>
<div class="col-md-3 chr_leave-balance-tab__filter">
  <div class="crm_custom-select crm_custom-select--full">
    <select class="form-control no-select2"
      ng-change="balanceFilters.submitFilters()"
      ng-model="balanceFilters.filters.type_id"
      ng-options="type.id as type.title for type in balanceFilters.absenceTypes">
    </select>
    <span class="crm_custom-select__arrow"></span>
  </div>
</div>
<div class="col-md-3 col-md-offset-3 chr_leave-balance-tab__filter">
  <div class="crm_custom-select crm_custom-select--full">
    <select class="form-control no-select2"
      ng-change="balanceFilters.submitFilters()"
      ng-model="balanceFilters.filters.period_id"
      ng-options="period.id as balanceFilters.labelPeriod(period) for period in balanceFilters.absencePeriods | orderBy:'-start_date' ">
    </select>
    <span class="crm_custom-select__arrow"></span>
  </div>
</div>
