<div class="chr_leave-calendar__item"
  ng-style="day.contactData.styles"
  ng-class="{
    'chr_leave-calendar__item--type--weekend': day.contactData.isWeekend,
    'chr_leave-calendar__item--type--non-working': day.contactData.isNonWorkingDay,
    'chr_leave-calendar__item--type--public-holiday': day.contactData.isPublicHoliday,
    'chr_leave-calendar__item--requested': day.contactData.isRequested,
    'chr_leave-calendar__item--alt': day.contactData.isAccruedTOIL,
    'chr_leave-calendar__item--toil-requested': day.contactData.isRequested && day.contactData.isAccruedTOIL
  }">
  <span ng-if="day.contactData.leaveRequest">
    <span ng-if="day.calculationUnit.name === 'hours'">
      <span ng-if="day.contactData.isAccruedTOIL">AT</span>
    </span>
    <span ng-if="day.calculationUnit.name === 'days'">
      <span ng-if="day.contactData.isAM">AM</span>
      <span ng-if="day.contactData.isPM">PM</span>
      <span class="chr_leave-calendar__item__label">
        {{day.label}}
      </span>
    </span>
  </span>
  <a ng-if="day.contactData.leaveRequest"
    uib-tooltip-template="day.tooltipTemplate"
    tooltip-append-to-body="true"
    contact-id="contact.id"
    selected-contact-id="$root.settings.contactId"
    ng-click="day.openLeavePopup($event, day.contactData.leaveRequest, null, null, $root.section === 'my-leave')">
  </a>
</div>
<script type="text/ng-template" id="type-days-on-single-date-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      {{day.contactData.leaveRequest['from_date_type.label']}}
    </p>
  </div>
</script>
<script type="text/ng-template" id="type-days-on-multiple-dates-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      From: {{day.dates.from | date:'dd MMM yyyy'}},
      {{day.contactData.leaveRequest['from_date_type.label']}}<br />
      To: {{day.dates.to | date:'dd MMM yyyy'}},
      {{day.contactData.leaveRequest['to_date_type.label']}}
    </p>
  </div>
</script>
<script type="text/ng-template" id="type-hours-on-single-date-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      From: {{day.dates.from | date:'HH:mm'}}<br/>
      For: {{ day.contactData.leaveRequest.from_date_amount | timeUnitApplier : day.calculationUnit.name }}
    </p>
  </div>
</script>
<script type="text/ng-template" id="type-hours-on-multiple-dates-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      From: {{day.dates.from | date:'dd MMM yyyy HH:mm'}}<br />
      To: {{day.dates.to | date:'dd MMM yyyy HH:mm'}}
    </p>
  </div>
</script>
<script type="text/ng-template" id="accrued-toil-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p ng-switch="day.calculationUnit.name">
      <span ng-switch-when="days">
        {{day.supportData.toilAmounts[day.contactData.leaveRequest.toil_to_accrue].label}}
      </span>
      <span ng-switch-when="hours">
        {{day.contactData.leaveRequest.toil_to_accrue | timeUnitApplier : 'hours' }}
      </span>
    </p>
  </div>
</script>
