<div class="clearfix">
  <div class="btn-group" uib-dropdown>
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" uib-dropdown-toggle>
      <span class="hidden-xs">
        <span class="btn-icon"><i class="fa fa-plus-circle"></i></span> Record New Absence
      </span>
      <span class="visible-xs">
        <span class="btn-icon"><i class="fa fa-plus-circle"></i></span> New Absence
      </span>
    </button>
    <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
      <li ng-repeat="option in vm.leaveRequestOptions">
        <a href
          class="leave-request-record-actions__new-{{option.type}}"
          ng-click="vm.openLeavePopup({
            leaveType: option.type,
            selectedContactId: vm.selectedContactId
          })">
          <span class="btn-icon"><i class="fa fa-{{option.icon}}"></i></span> {{option.label}}
        </a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button
      class="leave-request-record-actions__new-toil
        btn btn-secondary btn-lg"
      ng-click="vm.openLeavePopup({
        leaveType: 'toil',
        selectedContactId: vm.selectedContactId
      })"
      type="button">
      <span class="btn-icon"><i class="fa fa-calendar-plus-o"></i></span> Submit Overtime
    </button>
  </div>
</div>
