<div class="chr_leave-calendar__day-container"
  uib-tooltip-template="'chr_leave-calendar__day-tooltip'"
  tooltip-class="chr_leave-calendar__day-tooltip"
  tooltip-append-to-body="true"
  tooltip-enable="day.contactData.leaveRequests.length"
  uib-tooltip-clickable="true"
  ng-class="{
    'chr_leave-calendar__day-container--type--weekend': day.contactData.isWeekend,
    'chr_leave-calendar__day-container--non-working': day.contactData.isNonWorkingDay,
    'chr_leave-calendar__day-container--public-holiday': day.contactData.isPublicHoliday
  }">
  <div class="chr_leave-calendar__item"
    ng-repeat="(leaveRequestIndex, leaveRequest) in day.contactData.leaveRequestsToShowInCell"
    ng-style="day.contactData.leaveRequestsAttributes[leaveRequest.id].styles"
    ng-hide="day.contactData.leaveRequests.length >= 3 && leaveRequestIndex > 0"
    ng-class="{
      'chr_leave-calendar__item--half': day.contactData.leaveRequestsToShowInCell.length >= 2,
      'chr_leave-calendar__item--requested': day.contactData.leaveRequestsAttributes[leaveRequest.id].isRequested,
      'chr_leave-calendar__item--alt': day.contactData.leaveRequestsAttributes[leaveRequest.id].isAccruedTOIL
    }">
    <span ng-if="leaveRequest">
      <span class="chr_leave-calendar__item__label">
        {{day.contactData.leaveRequestsAttributes[leaveRequest.id].label}}
      </span>
    </span>
    <a ng-if="leaveRequest"
      contact-id="contact.id"
      selected-contact-id="$root.settings.contactId"
      ng-click="day.openLeavePopup($event, leaveRequest, null, null, $root.section === 'my-leave')">
    </a>
  </div>
  <div class="chr_leave-calendar__item chr_leave-calendar__item--more chr_leave-calendar__item--half"
    ng-if="day.contactData.leaveRequests.length >= 3">
    <span class="chr_leave-calendar__item__label">
      +{{day.contactData.leaveRequests.length - 1}}
    </span>
  </div>
  <script type="text/ng-template"
    id="chr_leave-calendar__day-tooltip">
    <div
      class="tooltip-clickable-template">
      <div class="chr_leave-calendar__day-tooltip__item"
        ng-repeat="leaveRequest in day.contactData.leaveRequests"
        ng-click="day.openLeavePopup($event, leaveRequest, null, null, $root.section === 'my-leave')">
        <div class="chr_leave-calendar__day-tooltip__item_absence-type">
          <strong>{{day.contactData.leaveRequestsAttributes[leaveRequest.id].absenceTypeTitle}}</strong>
        </div>
        <div class="chr_leave-calendar__day-tooltip__item_request-status">
          {{day.supportData.leaveRequestStatuses[leaveRequest.status_id].label}}</div>
        <div ng-if="!day.contactData.leaveRequestsAttributes[leaveRequest.id].isAccruedTOIL">
          <div ng-if="day.contactData.leaveRequestsAttributes[leaveRequest.id].isSingleDay">
            <div ng-if="day.contactData.leaveRequestsAttributes[leaveRequest.id].unit === 'days'">
              {{day.contactData.leaveRequestsAttributes[leaveRequest.id].from_date_type}}
            </div>
            <div ng-if="day.contactData.leaveRequestsAttributes[leaveRequest.id].unit === 'hours'">
              <div>From: {{day.contactData.leaveRequestsAttributes[leaveRequest.id].from_date | date:'HH:mm'}}</div>
              <div>To: {{day.contactData.leaveRequestsAttributes[leaveRequest.id].to_date | date:'HH:mm'}}</div>
              <div>For: {{ leaveRequest.from_date_amount | timeUnitApplier :day.contactData.leaveRequestsAttributes[leaveRequest.id].unit }}</div>
            </div>
          </div>
          <div ng-if="!day.contactData.leaveRequestsAttributes[leaveRequest.id].isSingleDay">
            <div ng-if="day.contactData.leaveRequestsAttributes[leaveRequest.id].unit === 'days'">
              <div>From: {{day.contactData.leaveRequestsAttributes[leaveRequest.id].from_date | date:'dd MMM yyyy'}},
                {{day.contactData.leaveRequestsAttributes[leaveRequest.id].from_date_type}}</div>
              <div>To: {{day.contactData.leaveRequestsAttributes[leaveRequest.id].to_date | date:'dd MMM yyyy'}},
                {{day.contactData.leaveRequestsAttributes[leaveRequest.id].to_date_type}}</div>
            </div>
            <div ng-if="day.contactData.leaveRequestsAttributes[leaveRequest.id].unit === 'hours'">
              <div>From: {{day.contactData.leaveRequestsAttributes[leaveRequest.id].from_date | date:'dd MMM yyyy HH:mm'}}</div>
              <div>To: {{day.contactData.leaveRequestsAttributes[leaveRequest.id].to_date | date:'dd MMM yyyy HH:mm'}}</div>
            </div>
          </div>
        </div>
        <div ng-if="day.contactData.leaveRequestsAttributes[leaveRequest.id].isAccruedTOIL"
          ng-switch="day.contactData.leaveRequestsAttributes[leaveRequest.id].unit">
          <span ng-switch-when="days">
            {{day.supportData.toilAmounts[leaveRequest.toil_to_accrue].label}}
          </span>
          <span ng-switch-when="hours">
            {{leaveRequest.toil_to_accrue | timeUnitApplier : 'hours' }}
          </span>
        </div>
      </div>
    </div>
  </script>
</div>
