<section class="panel panel-default" ng-if="month.visible">
  <header class="panel-heading chr_leave-calendar__month-header">
    <h2 class="panel-title">{{month.month.name}} {{month.month.year}}</h2>
  </header>
  <crm-loading show="!month.month.loading">
    <div class="chr_leave-calendar__month-body">
      <div class="table-responsive" ng-switch="!!month.contactsList().length">
        <div class="text-center" ng-switch-when="false">
          Sorry No Contacts
        </div>
        <table ng-switch-when="true" class="table table-bordered chr_leave-calendar">
          <thead>
            <tr class="chr_leave-calendar__days">
              <th class="chr_leave-calendar__name" ng-if="month.showContactName">Employee Name</th>
              <th ng-repeat="day in month.month.days track by day.date">
                {{day.name}}
                <div>{{day.index}}</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="chr_leave-calendar__items" ng-repeat="contact in month.contactsList() | limitTo: month.pageSize: month.currentPage * month.pageSize">
              <td class="chr_leave-calendar__name" ng-if="month.showContactName">{{contact.display_name}}</td>
              <td ng-repeat="day in month.month.days track by day.date">
                <leave-calendar-day contact-data="day.contactsData[contact.id]"></leave-calendar-day>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="chr_leave-calendar__pagination text-center" ng-if="month.contactsList().length > month.pageSize">
          <button class="btn-link" ng-disabled="month.currentPage == 0" ng-click="month.currentPage = (month.currentPage - 1)">
            <i class="fa fa-lg fa-arrow-left"></i>
          </button>
          <button class="btn-link" ng-disabled="month.currentPage >= month.contactsList().length / month.pageSize - 1" ng-click="month.currentPage = (month.currentPage + 1)">
            <i class="fa fa-lg fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </crm-loading>
</section>
