<div class="chr_manage_leave_requests" data-role="{{vm.isAdmin ? 'admin' : 'manager'}}">
  <div class="panel panel-default">
    <crm-loading show="!vm.loading.page">
      <div class="panel-heading row chr_manage_leave_requests__header">
        <span class="panel-title" ng-if="!vm.isAdmin">Manager Absence Approval</span>
        <span class="chr_manage_leave_requests__assignee_filter">
          <div class="btn-group" ng-if="vm.isAdmin">
            <button
              ng-repeat="filter in vm.filtersByAssignee"
              type="button"
              ng-click="vm.refreshWithFilterByAssignee(filter.type)"
              ng-class="{'active': vm.filters.leaveRequest.assignedTo === filter.type}"
              class="btn btn-secondary-outline btn-sm">{{filter.label}}
            </button>
          </div>
        </span>
        <span class="chr_manage_leave_requests__period_and_all_filters">
          <div class="crm_custom-select">
            <select
              ng-options="period as vm.labelPeriod(period) for period in vm.absencePeriods track by period.id"
              ng-model="vm.filters.leaveRequest.selectedPeriod"
              ng-change="vm.refresh()">
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
          <span class="chr_manage_leave_requests__filter pointer" ng-click="vm.isFilterExpanded = !vm.isFilterExpanded">
            <i class="fa"
               aria-hidden="true"
               ng-class="{ 'fa-chevron-right': !vm.isFilterExpanded, ' fa-chevron-down': vm.isFilterExpanded }">
            </i>
            Filter
          </span>
        </span>
        <span class="chr_manage_leave_requests__leave_type_filter">
          <div class="crm_custom-select">
            <select
              ng-options="types.title for types in vm.absenceTypes track by types.id"
              ng-model="vm.filters.leaveRequest.selectedAbsenceTypes"
              ng-change="vm.refresh()">
              <option value="">Leave Type</option>
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
        </span>
      </div>
      <div class="panel-subheading chr_manage_leave_requests__sub-header" ng-show="vm.isFilterExpanded">
        <div>
          <ui-select ng-change="vm.refresh()"
                     ng-model="vm.filters.leaveRequest.contact_id">
            <ui-select-match placeholder="Staff Member" allow-clear>
              <span ng-bind="$select.selected.display_name"></span>
            </ui-select-match>
            <ui-select-choices repeat="user.id as user in (vm.filteredUsers | filter: $select.search) track by user.id">
              <span ng-bind="user.display_name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="crm_custom-select">
          <select
            ng-options="region.value as region.label for region in vm.regions track by region.id"
            ng-model="vm.filters.contact.region"
            ng-change="vm.refresh(region)">
            <option value="">Region</option>
          </select>
          <span class="crm_custom-select__arrow"></span>
        </div>
        <div class="crm_custom-select">
          <select
            ng-options="department.value as department.label for department in vm.departments track by department.id"
            ng-model="vm.filters.contact.department"
            ng-change="vm.refresh()">
            <option value="">Department</option>
          </select>
          <span class="crm_custom-select__arrow"></span>
        </div>
        <div class="crm_custom-select">
          <select
            ng-options="levelType.value as levelType.value for levelType in vm.levelTypes track by levelType.id"
            ng-model="vm.filters.contact.level_type"
            ng-change="vm.refresh()">
            <option value="">Level Type</option>
          </select>
          <span class="crm_custom-select__arrow"></span>
        </div>
        <div class="crm_custom-select">
          <select
            ng-options="location.value as location.label for location in vm.locations track by location.id"
            ng-model="vm.filters.contact.location"
            ng-change="vm.refresh()">
            <option value="">Locations</option>
          </select>
          <span class="crm_custom-select__arrow"></span>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-change = "vm.refresh()"
              ng-model="vm.filters.leaveRequest.pending_requests">Pending only
          </label>
        </div>
      </div>
      <crm-loading show="!vm.loading.content">
        <div ng-show="vm.leaveRequests.table.list.length"
          class="panel-body row chr_manage_leave_requests__panel_body">
          <ul class="col-xs-3 nav nav-pills nav-stacked chr_vertical_tabs">
            <li ng-repeat="status in vm.leaveRequestStatuses track by status.value"
                ng-hide="vm.filterLeaveRequestByStatus(status).length === 0"
                ng-click="vm.refreshWithFilter(status)"
                ng-class="{'active': vm.filters.leaveRequest.leaveStatus.name === status.name}">
              <a>
            <span class="active badge {{vm.getNavBadge(status.name)}} pull-right">
              {{vm.filterLeaveRequestByStatus(status).length}}
            </span>
                {{status.label}}
              </a>
            </li>
          </ul>
          <div class="col-xs-9">
            <table class="table table-clean table-hover">
              <thead>
              <tr>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Dates</th>
                <th>Status</th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr
                class="pointer"
                leave-request-popup leave-request="request"
                ng-repeat="request in vm.leaveRequests.table.list track by request.id">
                <td style="width: 25%;">{{vm.getUserNameByID(request.contact_id)}}</td>
                <td style="width: 20%;">{{vm.getAbsenceTypesByID(request.type_id)}}</td>
                <td style="width: 25%;">{{request.from_date}} - {{request.to_date}}</td>
                <td style="width: 20%;">{{vm.getLeaveStatusByValue(request.status_id)}}</td>
                <td style="width: 10%;" class="text-center">
                  <leave-request-actions
                    leave-request="request"
                    role="vm.isAdmin ? 'admin' : 'manager'"
                    absence-types="vm.absenceTypes"
                    leave-request-statuses="vm.leaveRequestStatuses">
                  </leave-request-actions>
                </td>
              </tr>
              </tbody>
              <tfoot ng-show="vm.totalNoOfPages() > 1">
              <tr>
                <td colspan="5" class="text-center">
                  <ul class="pagination">
                    <li
                      ng-click="vm.refresh(1)"
                      ng-hide="vm.pagination.page === 1"
                      class="active">
                        <a class="pointer">
                          <i class="fa fa-angle-double-left" aria-hidden="true"></i> First
                        </a>
                    </li>
                    <li
                      ng-click="vm.refresh(vm.pagination.page - 1)"
                      ng-hide="vm.pagination.page === 1"
                      class="active">
                        <a class="pointer">
                          <i class="fa fa-angle-left" aria-hidden="true"></i> Previous
                        </a>
                    </li>
                    <li
                      ng-class="{'active': vm.pagination.page - 1 === $index}"
                      ng-click="vm.refresh($index + 1)"
                      ng-repeat="a in vm.getArrayOfSize(vm.totalNoOfPages()) track by $index">
                        <a>{{$index + 1}}</a>
                    </li>
                    <li
                      ng-click="vm.refresh(vm.pagination.page + 1)"
                      ng-hide="vm.pagination.page >= vm.totalNoOfPages()"
                      class="active">
                        <a class="pointer">
                          Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li
                      ng-click="vm.refresh(vm.totalNoOfPages())"
                      ng-hide="vm.pagination.page >= vm.totalNoOfPages()"
                      class="active">
                        <a class="pointer">
                          Last <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                  </ul>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="text-center"
              ng-hide="vm.leaveRequests.table.list.length">
          No Leave Requests available
        </div>
      </crm-loading>
      <div class="clear"></div>
    </crm-loading>
  </div>
</div>
