<section>
  <crm-loading show="!calendar.loading.page">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <ui-select multiple ng-model="calendar.selectedMonths">
              <ui-select-match placeholder="Select Months">
                <span>{{$item.name.short}}</span>
              </ui-select-match>
              <ui-select-choices repeat="month.index as month in (calendar.months | filter: $select.search)">
                <span>{{month.name.short}}</span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-sm-offset-1 col-sm-3">
            <div class="crm_custom-select crm_custom-select--full">
              <select
                ng-options="period as calendar.labelPeriod(period) for period in calendar.absencePeriods track by period.id"
                ng-model="calendar.selectedPeriod"
                ng-change="calendar.refresh('period')">
              </select>
              <span class="crm_custom-select__arrow"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <crm-loading show="!calendar.loading.calendar">
      <section class="panel panel-default" ng-repeat="month in calendar.months track by $index">
        <leave-calendar-month month="month"
          contacts="calendar.contacts"
          ng-if="(calendar.selectedMonths.length == 0 || calendar.selectedMonths.indexOf(month.index) > -1)">
        </leave-calendar-month>
      </section>
    </crm-loading>
    <leave-calendar-legend absence-types="calendar.absenceTypes" ng-if="calendar.absenceTypes.length"></leave-calendar-legend>
  </crm-loading>
</section>
