<div class="chr_leave-report">
  <crm-loading show="!report.loading.page">
    <div class="chr_leave-report__heading panel-heading">
      <div class="row">
        <div class="col-sm-8 col-md-9">
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="crm_custom-select crm_custom-select--full">
            <select
              class="no-select2"
              ng-options="period as report.labelPeriod(period) for period in report.absencePeriods track by period.id"
              ng-model="report.selectedPeriod"
              ng-change="report.refresh()">
            </select>
            <span class="crm_custom-select__arrow"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="chr_leave-report__table-container">
      <section class="panel panel-default">
        <crm-loading show="!report.loading.content">
          <div class="chr_leave-report__table">
            <table class="table table-condensed-mixed">
              <thead>
                <tr>
                  <th class="chr_leave-report__table__heading--label"></th>
                  <th class="chr_leave-report__table__heading--dates">Dates</th>
                  <th class="chr_leave-report__table__heading--status">Status</th>
                  <th
                    class="chr_leave-report__table__heading--type"
                    ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                    {{absenceType.title}}
                  </th>
                  <th class="chr_leave-report__table__heading--action"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    class="chr_leave-report__label chr_leave-report__label--toggle"
                    ng-click="report.toggleSection('entitlements')">
                    <i
                      class="fa"
                      aria-hidden="true"
                      ng-class="{ 'fa-chevron-down': report.sections.entitlements.open, ' fa-chevron-right': !report.sections.entitlements.open }"></i>
                    Period Entitlement
                  </td>
                  <td></td>
                  <td></td>
                  <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                    title="({{ absenceType.calculation_unit_label | lowercase }})">
                    {{ absenceType.entitlement | timeUnitApplier : absenceType.calculation_unit_name }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="table-nested-cell" colspan="{{4 + report.absenceTypesFiltered.length}}">
                    <crm-loading show="!report.sections.entitlements.loading">
                      <div
                        class="table-nested"
                        ng-show="report.sections.entitlements.open"
                        ng-switch="!!report.sections.entitlements.data.length">
                        <table class="table table-condensed" ng-switch-when="false">
                          <tbody>
                            <tr>
                              <td align="center">No entitlement breakdown data available</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-condensed" ng-switch-when="true">
                          <thead>
                            <tr>
                              <th class="chr_leave-report__table__heading--label"></th>
                              <th class="chr_leave-report__table__heading--dates">Dates</th>
                              <th class="chr_leave-report__table__heading--status">Status</th>
                              <th
                                class="chr_leave-report__table__heading--type"
                                ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                                {{absenceType.title}}
                              </th>
                              <th class="chr_leave-report__table__heading--action"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="entry in report.sections.entitlements.data track by $index">
                              <td class="chr_leave-report__label">
                                {{entry.type.label}}
                                <span ng-if="entry.expiry_date">
                                  (expires {{entry.expiry_date | date:report.dateFormat}})
                                </span>
                              </td>
                              <td></td>
                              <td></td>
                              <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                                title="({{ absenceType.calculation_unit_label | lowercase }})">
                                {{ +entry.type_id === +absenceType.id ? ((entry.amount | number : 0) | timeUnitApplier : absenceType.calculation_unit_name) : '' }}
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </crm-loading>
                  </td>
                </tr>
                <tr>
                  <td
                    class="chr_leave-report__label chr_leave-report__label--toggle"
                    ng-click="report.toggleSection('holidays')">
                    <i
                      class="fa"
                      aria-hidden="true"
                      ng-class="{ 'fa-chevron-down': report.sections.holidays.open, ' fa-chevron-right': !report.sections.holidays.open }"></i>
                    Public Holidays
                  </td>
                  <td></td>
                  <td></td>
                  <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                    title="({{ absenceType.calculation_unit_label | lowercase }})">
                    {{ absenceType.balanceChanges.publicHolidays | timeUnitApplier : absenceType.calculation_unit_name }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="table-nested-cell" colspan="{{4 + report.absenceTypesFiltered.length}}">
                    <crm-loading show="!report.sections.holidays.loading">
                      <div
                        class="table-nested"
                        ng-show="report.sections.holidays.open"
                        ng-switch="!!report.sections.holidays.data.length">
                        <table class="table table-condensed" ng-switch-when="false">
                          <tbody>
                            <tr>
                              <td align="center">No leave requests for public holidays</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-condensed" ng-switch-when="true">
                          <thead>
                            <tr>
                              <th class="chr_leave-report__table__heading--label"></th>
                              <th class="chr_leave-report__table__heading--dates">Dates</th>
                              <th class="chr_leave-report__table__heading--status">Status</th>
                              <th
                                class="chr_leave-report__table__heading--type"
                                ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                                {{absenceType.title}}
                              </th>
                              <th class="chr_leave-report__table__heading--action"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="request in report.sections.holidays.data track by $index">
                              <td class="chr_leave-report__label">Public Holiday</td>
                              <td>{{request.from_date | date:report.dateFormat}}</td>
                              <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                              <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                                title="({{ absenceType.calculation_unit_label | lowercase }})">
                                {{ (request.type_id == absenceType.id ? (request.balance_change | timeUnitApplier : absenceType.calculation_unit_name) : '') }}
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </crm-loading>
                  </td>
                </tr>
                <tr>
                  <td
                    class="chr_leave-report__label chr_leave-report__label--toggle"
                    ng-click="report.toggleSection('approved')">
                    <i
                      class="fa"
                      aria-hidden="true"
                      ng-class="{ 'fa-chevron-down': report.sections.approved.open, ' fa-chevron-right': !report.sections.approved.open }"></i>
                    Approved Requests
                  </td>
                  <td></td>
                  <td></td>
                  <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                    title="({{ absenceType.calculation_unit_label | lowercase }})">
                    {{ absenceType.balanceChanges.approved | timeUnitApplier : absenceType.calculation_unit_name }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="table-nested-cell" colspan="{{4 + report.absenceTypesFiltered.length}}">
                    <crm-loading show="!report.sections.approved.loading">
                      <div
                        ng-show="report.sections.approved.open"
                        class="table-nested"
                        ng-switch="!!report.sections.approved.data.length">
                        <table class="table table-condensed" ng-switch-when="false">
                          <tbody>
                            <tr>
                              <td align="center">There are no approved leave requests</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-condensed" ng-switch-when="true">
                          <thead>
                            <tr>
                              <th class="chr_leave-report__table__heading--label"></th>
                              <th class="chr_leave-report__table__heading--dates">Dates</th>
                              <th class="chr_leave-report__table__heading--status">Status</th>
                              <th
                                class="chr_leave-report__table__heading--type"
                                ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                                {{absenceType.title}}
                              </th>
                              <th class="chr_leave-report__table__heading--action"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="request in report.sections.approved.data track by $index">
                              <td class="chr_leave-report__label">
                                {{report.absenceTypes[request.type_id].title}}
                                <span ng-if="request.toil_expiry_date">
                                    (expires {{request.toil_expiry_date | date:report.dateFormat}})
                                  </span>
                              </td>
                              <td>
                                {{request.from_date | date:report.dateFormat}} - {{request.to_date | date:report.dateFormat}}
                              </td>
                              <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                              <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                                title="({{ absenceType.calculation_unit_label | lowercase }})">
                                {{ +request.type_id === +absenceType.id ? (request.balance_change | timeUnitApplier : absenceType.calculation_unit_name) : '' }}
                              </td>
                              <td>
                                <leave-request-actions
                                  leave-request="request"
                                  role="$root.section === 'my-leave' ? 'staff' : report.role"
                                  absence-types="report.absenceTypes"
                                  leave-request-statuses="report.leaveRequestStatuses">
                                </leave-request-actions>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </crm-loading>
                  </td>
                </tr>
                <tr>
                  <td
                    class="chr_leave-report__label chr_leave-report__label--toggle"
                    ng-click="report.toggleSection('expired')">
                    <i
                      class="fa"
                      aria-hidden="true"
                      ng-class="{ 'fa-chevron-down': report.sections.expired.open, ' fa-chevron-right': !report.sections.expired.open }"></i>
                    Expired
                  </td>
                  <td></td>
                  <td></td>
                  <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                    title="({{ absenceType.calculation_unit_label | lowercase }})">
                    {{ absenceType.balanceChanges.expired | timeUnitApplier : absenceType.calculation_unit_name }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="table-nested-cell" colspan="{{4 + report.absenceTypesFiltered.length}}">
                    <crm-loading show="!report.sections.expired.loading">
                      <div
                        class="table-nested"
                        ng-show="report.sections.expired.open"
                        ng-switch="!!report.sections.expired.data.length">
                        <table class="table table-condensed" ng-switch-when="false">
                          <tbody>
                            <tr>
                              <td align="center">There are no expired balance changes</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-condensed" ng-switch-when="true">
                          <thead>
                            <tr>
                              <th class="chr_leave-report__table__heading--label"></th>
                              <th class="chr_leave-report__table__heading--dates">Dates</th>
                              <th class="chr_leave-report__table__heading--status">Status</th>
                              <th
                                class="chr_leave-report__table__heading--type"
                                ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                                {{absenceType.title}}
                              </th>
                              <th class="chr_leave-report__table__heading--action"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="entry in report.sections.expired.data track by $index">
                              <td class="chr_leave-report__label">
                                {{entry.type.label}}
                                <span ng-if="entry.expiry_date">
                                  (expired {{entry.expiry_date | date:report.dateFormat}})
                                </span>
                              </td>
                              <td></td>
                              <td></td>
                              <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                                title="({{ absenceType.calculation_unit_label | lowercase }})">
                                {{ +entry.type_id === +absenceType.id ? ((entry.amount | number:0) | timeUnitApplier : absenceType.calculation_unit_name) : '' }}
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </crm-loading>
                  </td>
                </tr>
                <tr class="active">
                  <td class="chr_leave-report__label">Balance</td>
                  <td></td>
                  <td></td>
                  <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                    title="({{ absenceType.calculation_unit_label | lowercase }})">
                    {{ absenceType.remainder.current | timeUnitApplier : absenceType.calculation_unit_name }}
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </crm-loading>
      </section>
      <section ng-show="!report.loading.content" class="panel panel-default">
        <div class="chr_leave-report__table">
          <table class="table table-condensed-mixed">
            <tbody>
              <tr>
                <td
                  class="chr_leave-report__label chr_leave-report__label--toggle chr_leave-report__table__heading--label"
                  ng-click="report.toggleSection('pending')">
                  <i
                    class="fa"
                    aria-hidden="true"
                    ng-class="{ 'fa-chevron-down': report.sections.pending.open, ' fa-chevron-right': !report.sections.pending.open }"></i>
                  Open Requests
                </td>
                <td class="chr_leave-report__table__heading--dates"></td>
                <td class="chr_leave-report__table__heading--status"></td>
                <td
                  class="chr_leave-report__table__heading--type"
                  ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                  title="({{ absenceType.calculation_unit_label | lowercase }})">
                  {{ absenceType.balanceChanges.pending | timeUnitApplier : absenceType.calculation_unit_name }}
                </td>
                <td class="chr_leave-report__table__heading--action"></td>
              </tr>
              <tr>
                <td class="table-nested-cell" colspan="{{4 + report.absenceTypesFiltered.length}}">
                  <crm-loading show="!report.sections.pending.loading">
                    <div
                      class="table-nested"
                      ng-show="report.sections.pending.open"
                      ng-switch="!!report.sections.pending.data.length">
                      <table class="table table-condensed" ng-switch-when="false">
                        <tbody>
                          <tr>
                            <td align="center">There are no open leave requests</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-condensed" ng-switch-when="true">
                        <thead>
                          <tr>
                            <th class="chr_leave-report__table__heading--label"></th>
                            <th class="chr_leave-report__table__heading--dates">Dates</th>
                            <th class="chr_leave-report__table__heading--status">Status</th>
                            <th
                              class="chr_leave-report__table__heading--type"
                              ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                              {{absenceType.title}}
                            </th>
                            <th class="chr_leave-report__table__heading--action"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="request in report.sections.pending.data track by $index">
                            <td class="chr_leave-report__label">
                              {{report.absenceTypes[request.type_id].title}}
                              <span ng-if="request.toil_expiry_date">
                                (expires {{request.toil_expiry_date | date:report.dateFormat}})
                              </span>
                            </td>
                            <td>
                              {{request.from_date | date:report.dateFormat}} - {{request.to_date | date:report.dateFormat}}
                            </td>
                            <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                            <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                              title="({{ absenceType.calculation_unit_label | lowercase }})">
                              {{ +request.type_id === +absenceType.id ? (request.balance_change | timeUnitApplier : absenceType.calculation_unit_name) : '' }}
                            </td>
                            <td>
                              <leave-request-actions
                                leave-request="request"
                                role="$root.section === 'my-leave' ? 'staff' : report.role"
                                absence-types="report.absenceTypes"
                                leave-request-statuses="report.leaveRequestStatuses">
                              </leave-request-actions>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </crm-loading>
                </td>
              </tr>
              <tr class="active">
                <td class="chr_leave-report__label">Future Balance</td>
                <td></td>
                <td></td>
                <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                  title="({{ absenceType.calculation_unit_label | lowercase }})">
                  {{ absenceType.remainder.future | timeUnitApplier : absenceType.calculation_unit_name }}
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section ng-show="!report.loading.content" class="panel panel-default">
        <div class="chr_leave-report__table">
          <table class="table table-condensed-mixed">
            <tbody>
              <tr>
                <td
                  class="chr_leave-report__label chr_leave-report__label--toggle chr_leave-report__table__heading--label"
                  ng-click="report.toggleSection('other')">
                  <i
                    class="fa"
                    aria-hidden="true"
                    ng-class="{ 'fa-chevron-down': report.sections.other.open, ' fa-chevron-right': !report.sections.other.open }"></i>
                  Cancelled and Other
                </td>
                <td class="chr_leave-report__table__heading--dates"></td>
                <td class="chr_leave-report__table__heading--status"></td>
                <td
                  class="chr_leave-report__table__heading--type"
                  ng-repeat="absenceType in report.absenceTypesFiltered track by $index"></td>
                <td class="chr_leave-report__table__heading--action"></td>
              </tr>
              <tr>
                <td class="table-nested-cell" colspan="{{4 + report.absenceTypesFiltered.length}}">
                  <crm-loading show="!report.sections.other.loading">
                    <div
                      class="table-nested"
                      ng-show="report.sections.other.open"
                      ng-switch="!!report.sections.other.data.length">
                      <table class="table table-condensed" ng-switch-when="false">
                        <tbody>
                          <tr>
                            <td align="center">No requests found</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-condensed" ng-switch-when="true">
                        <thead>
                          <tr>
                            <th class="chr_leave-report__table__heading--label"></th>
                            <th class="chr_leave-report__table__heading--dates">Dates</th>
                            <th class="chr_leave-report__table__heading--status">Status</th>
                            <th
                              class="chr_leave-report__table__heading--type"
                              ng-repeat="absenceType in report.absenceTypesFiltered track by $index">
                              {{absenceType.title}}
                            </th>
                            <th class="chr_leave-report__table__heading--action"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="request in report.sections.other.data track by $index">
                            <td class="chr_leave-report__label">
                              {{report.absenceTypes[request.type_id].title}}
                              <span ng-if="request.toil_expiry_date">
                                (expires {{request.toil_expiry_date | date:report.dateFormat}})
                              </span>
                            </td>
                            <td>{{request.from_date | date:report.dateFormat}} - {{request.to_date | date:report.dateFormat}}</td>
                            <td>{{report.leaveRequestStatuses[request.status_id].label}}</td>
                            <td ng-repeat="absenceType in report.absenceTypesFiltered track by $index"
                              title="({{ absenceType.calculation_unit_label | lowercase }})">
                              {{ +request.type_id === +absenceType.id ? (request.balance_change | timeUnitApplier : absenceType.calculation_unit_name) : '' }}
                            </td>
                            <td>
                              <leave-request-actions
                                leave-request="request"
                                role="$root.section === 'my-leave' ? 'staff' : report.role"
                                absence-types="report.absenceTypes"
                                leave-request-statuses="report.leaveRequestStatuses">
                              </leave-request-actions>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </crm-loading>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </crm-loading>
</div>
